<div data-role='page' data-url="<%=  %>">
  <div data-role="header" data-theme="e">
    <h1>Deekau</h1>
  </div>
  <div class="m_width m_text_right m_min_width">
    <div data-role='content' >
      <h2><%= t("users.confirmation.resend_confirmation_instruction") %></h2>

      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <div><%= f.label t("users.confirmation.email") %><br />
          <%= f.email_field :email %></div>

        <div><%= f.submit t("users.confirmation.submit") %></div>
      <% end %>

      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
  <div data-role='footer'>

  </div>
</div>

