<h2><%= t("users.confirmation.resend_confirmation_instruction") %></h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t("users.confirmation.email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t("users.confirmation.submit") %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>