<%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:html=>{:class=>'first-page'}) do |f| %>
      <div class='row' >
        <div class='span2' >
          <%= f.label 'Email',"data-role"=>"none" %>
        </div>
        <div class='span2' >
          <%= f.label 'Password',"data-role"=>"none" %>
        </div>
      </div>
      <div class='row' >
        <div class='span2' >
          <%= f.email_field :email, :class=> 'input-medium' ,"data-role"=>"none" %>
        </div>
        <div class='span2' >
          <%= f.password_field :password ,:class=> 'input-medium',"data-role"=>"none" %>
        </div>
        <div class='span1' >
          <%= f.submit "Log In" ,:class=>'btn btn-success',"data-role"=>"none" %>
        </div>
      </div>
      <div class='row' >
        <div class='span2' >
          <%- if devise_mapping.rememberable? %>
            <label class='checkbox' >
              <%= f.check_box :remember_me, :checked => true,"data-role"=>"none" %>
              Keep me logged in
            </label>
          <% end %>
        </div>
        <div class='span2' >
          <%= link_to "Forgot your password?", new_password_path(resource_name),"data-role"=>"none" %>
        </div>
      </div>
    <% end %>