
<h2 class="offset2"><%= t("users.public.sign_up") %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name) ,:html => { :class => 'well offset2 span8 form-horizontal'} ) do |f| %>
  <div class="div-form-register">
    <%= devise_error_messages! %>

    <div class="control-group">
      <label class="control-label" for="input01"> <%= t("users.sign_up.email") %> </label>
      <div class="controls">
        <%= f.email_field :email , :class=>'input-xlarge' ,'data-role'=>'none' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01"> <%= t("users.sign_up.password") %> </label>
      <div class="controls">
        <%= f.password_field :password ,:class=>'input-xlarge', 'data-role'=>'none' %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01"> <%= t("users.sign_up.password_confirmation") %></label>
      <div class="controls">
        <%= f.password_field :password_confirmation ,:class=>'input-xlarge', 'data-role'=>'none' %>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <%= f.submit "Sign up" ,:class=>'btn btn-large', 'data-role'=>'none' %>
        <br /><br />
        <%= render :partial => "devise/shared/links" %>
      </div>
    </div>
      
    </div>
  <% end %>


