<div data-role='page' data-url="<%= new_user_registration_path %>">
  <div data-role="header" data-theme="e">
    <h1>Deekau</h1>
  </div>
  <div class="m_width m_text_right m_min_width">
    <div data-role='content' >
      <%= render :partial => "shared/nav_home" %>
      <div class="box_content">
        <h2 class="m_text_center"> <%= t("users.public.sign_up") %></h2>
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class ="input">
            <%= f.email_field :email,"placeholder" => t('users.sign_up.email') %>
          </div>
          <div class="input">
            <%= f.password_field :password,"placeholder" => t('users.sign_up.password') %>
          </div>
          <div class="input">
            <%= f.password_field :password_confirmation,"placeholder" => t('users.sign_up.password_confirmation') %>
          </div>
          <input type="submit" value="<%= t("users.sign_up.submit") %>" id="signup_submit" data-theme="e" aria-disabled="false"></input>

        <% end %>
        <%= render "shared/links_mobile" %>
      </div>
    </div>
  </div>
  <div data-role='footer'>

  </div>
</div>





