<%= stylesheet_link_tag "jquery_file_upload/boostrap-responsive" %>
<%= stylesheet_link_tag "jquery_file_upload/jquery.fileupload-ui" %>
<%= stylesheet_link_tag "jquery_file_upload/fileupload-ujs" %>
<div class="container">
  <!-- The file upload form used as target for the file upload widget -->
  <%= form_for object , :url =>"#{file_upload_path(object.class.name)}",:html => { :id => "fileupload" },:enctype=>"multipart/form-data" do |f| %>
    <input type="hidden" value="<%= get_object_parent_id(object) %>" name="object_parent_id" />
    <input type="hidden" value="<%= object.id %>" name="object_id" />
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <input data-role="none" type="file" name="files[]" multiple />

        </span>
        <button type="submit" class="btn btn-primary start" data-role="none">
          <i class="icon-upload icon-white"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel" data-role="none">
          <i class="icon-ban-circle icon-white"></i>
          <span>Cancel upload</span>

        </button>
        <button type="button" class="btn btn-danger delete" data-role="none">
          <i class="icon-trash icon-white"></i>
          <span>Delete</span>
        </button>
        <input type="checkbox" class="toggle" data-role="none" />
      </div>
      <div class="span5">

        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during file processing -->
    <div class="fileupload-loading"></div>
    <br />

    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
  <% end %>
</div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" data-filter=":odd">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>

  <div class="modal-footer">
    <a class="btn modal-download" target="_blank">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
      <i class="icon-play icon-white"></i>
      <span>Slideshow</span>

    </a>
    <a class="btn btn-info modal-prev">
      <i class="icon-arrow-left icon-white"></i>
      <span>Previous</span>
    </a>
    <a class="btn btn-primary modal-next">
      <span>Next</span>
      <i class="icon-arrow-right icon-white"></i>
    </a>
  </div>
</div>

<%= content_for :jsScript do %>
  <%= javascript_include_tag "jquery_file_upload/jquery_file_upload.js" %>
  <script type="text/javascript">
    // add params post back, modify submit
    $(document).ready(function(){
      $('#fileupload').fileupload('option', {
        recalculateProgress: false
      });
      $('#fileupload').each(function () {
        var that = this;
        $.getJSON(this.action +"?object_parent_id=<%= get_object_parent_id(object) %>"+ "&object_id=<%= object.id.to_s %>" , function (result) {
          if (result && result.length) {
            $(that).fileupload('option', 'done')
            .call(that, null, {
              result: result
            });
          }
        });
      });
      $('#fileupload').bind('fileuploadsubmit', function (e, data) {
        // The example input, doesn't have to be part of the upload form:
      });

     
    });
    //==============================================
    //     edit url destroy image
    $.widget('blueimpUIX.fileupload', $.blueimpUI.fileupload, {

      options: {
        authenticityTokenName: 'request_authenticity_token',
        destroy: function (e, data) {
          var fu = $(this).data('fileupload');
          data.url = "/<%= name_object_delete_file(object.class.name) %>/" + data.url + "/delete" + "<%= (object.class.name == 'User')? '' : ('?object_id='+object.id.to_s + '&object_parent_id='+get_object_parent_id(object).to_s) %> "; /*&&
                  fu._addUrlParams(data.url, fu._getAuthenticityToken());*/
          $.blueimpUI.fileupload.prototype
          .options.destroy.call(this, e, data);
        }
      }
    });
  </script>
<% end %>

<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <tr class="template-upload fade">
    <td class="preview"><span class="fade"></span></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    {% if (file.error) { %}
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else if (o.files.valid && !i) { %}
    <td>
      <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
    </td>
    <td class="start">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</td>
    {% } else { %}
    <td colspan="2"></td>
    {% } %}







    <td class="cancel">{% if (!i) { %}
      <button class="btn btn-warning">
        <i class="icon-ban-circle icon-white"></i>
        <span>{%=locale.fileupload.cancel%}</span>
      </button>
      {% } %}</td>
  </tr>
  {% } %}
</script>
<!-- The template to display files available for download -->

<script id="template-download" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) {  %}
  <tr class="template-download fade">
    {% if (file.error) { %}
    <td></td>
    <td class="name"><span>{%=file.name%}</span></td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
    {% } else { %}
    <td class="preview">{% if (file.url) { %}
      <img style="" src="{%=file.url.url%}"/>
      <!-- <a href="{%=file.url.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img style="" src="{%=file.url.url%}"/></a> -->
      {% } %}</td>
    <td class="name">
      <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
    </td>
    <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
    <td colspan="2"></td>
    {% } %}
    <td class="delete">
      <button class="btn btn-danger" data-type="DELETE" data-url="{%=file._id%}">
        <i class="icon-trash icon-white"></i>
        <span>{%=locale.fileupload.destroy%}</span>
      </button>
      <input type="checkbox" name="delete" value="1"/>
    </td>
  </tr>
  {% } %}
</script>



<script type="text/javascript" >
  
</script>