<%= form_for object,:url=>"#{file_upload_path(object.class.name)}", :html => {:multipart => true ,'data-ajax'=>"false"}  do |form| %>
  <input type="hidden" value="<%= get_object_parent_id(object) %>" name="object_parent_id" />
  <input type="hidden" value="<%= object.id %>" name="object_id" />
  <%= file_field_tag 'image' %>
  <%= form.submit 'submit'  %>
  <a data-role="button" href="/"> Back </a>
<% end %>
<% if object.images.count > 0 %>
  <ul data-role="listview"  data-inset="true" data-divider-theme="b">
    <% object.images.each do |image| %>
    <li><a >
        <img src="<%= image.url.url %>" />
        </a>
        <%= link_to 'Destroy', delete_image_path(image), confirm: 'Are you sure?', method: :delete ,'data-icon'=>'delete' %>

      </li>

    <% end %>
  </ul>

<% end %>