<%- if controller_name != 'sessions' %>
  <%= link_to t("users.public.sign_in"), new_session_path(resource_name) %>
  &nbsp;&nbsp;
<% end %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to t("users.public.create_an_account"), new_registration_path(resource_name) %>
  &nbsp;&nbsp;
<% end %>
<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to t("users.public.lost_password"), new_password_path(resource_name) %>
  &nbsp;&nbsp;
<% end %>
<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to t("not_receive_confirmation_instructions"), new_confirmation_path(resource_name) %>
  &nbsp;&nbsp;
<% end %>
<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'%>
  <%= link_to t("not_receive_unlock_instructions"), new_unlock_path(resource_name) %>
  &nbsp;&nbsp;
<% end %>

