<h2><%= t("users.public.resend_unlock_instruction") %></h2>

<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t("users.unlock.email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t("users.unlock.submit") %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>