

<div id="AboutContent">
   <div id="AboutLeft">
    <ul>
     <li>
       <a class="selected loaded" href="#">
        <span>
            <img class="Facebook" alt="Facebook" src="../assets/facebook_icon.png">
            Facebook
        </span>

       </a>
     </li>
     <li>
       <a href="#">
        <span>
        <img class="Gmail" alt="Gmail" src="../assets/gmail.png">
        Gmail
        </span>

       </a>
     </li>
     <li>
       <a href="#">
        <span>
        <img class="Yahoo" alt="Yahoo! " src="../assets/yahoo.png">
        Yahoo!
        </span>

       </a>
     </li>
    </ul>
   </div>


  <div id="AboutRight">
    <div class="Twitter_friends">
      <h1 class="half"> Twitter Friends </h1>
      <div>

        <div class="invite_friends">
          <h3>Invite Friends</h3>
          <div class="FriendList friend_list">
            <% @friend_twitter_invites.each do |f| %>

                <li class="friend">

                  <img class="ProfileImage"  src="<%= f[1] %>">
                  <div class="name">
                    <div class="name"> <%= f[0] %> </div>
                  </div>
                  <button class="Button WhiteButton Button13" type="button"> Invite </button>
                </li>
            <% end %>
          </div>
        </div>

        <div class="twitter_friends">
          <h3>Friends on app </h3>
          <div class="FriendList friend_list">
            <% @following_friends.each do |f| %>

                <li class="friend">

                  <img class="ProfileImage"  src="<%= f[1] %>">
                  <div class="name">
                    <div class="name"> <%= f[0] %> </div>
                  </div>
                  <button class="Button WhiteButton Button13" type="button"> follow </button>
                </li>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
