<script src="http://connect.facebook.net/en_US/all.js"></script>
<script src="https://apis.google.com/js/client.js"></script>
<script src="http://platform.linkedin.com/in.js?async=true"></script>


<% if user_signed_in? %>
<% @providers = {}%>
<% !current_user['user_providers'].nil? && current_user['user_providers'].each do |provider|%>
<% @providers[provider['name']] = provider['token']%>
<% end %>
<div id="fb-root"></div>
<div id="userinfo-friends" style="width: 932px; margin: 0 auto; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
<ul id="navi-friends" class="nav metro-ui-tab">
  <li class="tab-item"><a href="#tab/friends">Friends</a></li>
  <li class="tab-item"><a href="#tab/suggestion">Suggestion</a></li>
  <li class="tab-item active"><a href="#tab/invitation">Invitation</a></li>
</ul>
<div id="myTabContent" class="metro-ui-container tab-content">
  <div class="tab-pane" id="tab/friends">
  </div>
  <div class="tab-pane" id="tab/suggestion">
  </div>
  <div class="tab-pane active" id="tab/invitation">
    <div id="tini-header">
      <% if !@providers['facebook'].nil?%>
      <button class="provider" type="facebook">Facebook</button>
      <% end %>
      <% if !@providers['google_oauth2'].nil?%>
      <button class="provider" type="google">Google</button>
      <% end %>
      <% if !@providers['linkedin'].nil?%>
      <button class="provider" type="linkedin">Linkedin</button>
      <% end %>
    </div>
    <div id="tini-body">
      <div class="tini-unknown">

      </div>
      <div class="tini-known">

      </div>
    </div>
  </div>
</div>
</div>
<div id="btn-linkedin" style="display: none">
  <script type="in/Login"></script>
</div>
<% end %>