<% @friends.each do |friend| %>
    <div class="tini-friends" id="invid-<%= friend['_id']%>">
      <img src="<%= friend['images']%>">
      <div>
        <div class="tinif-name"><%= friend['username']%></div>
        <button class="tinif-button" type="friend">Accept</button>
      </div>
    </div>
<% end %>

