<h2><%= t("users.public.change_password") %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, t("users.password.new_password") %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, t("users.password.password_confrimation") %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit t("users.password.submit") %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>