<div data-role="page" data-url="<%= edit_user_password_path(current_user) %> ">
  <div data-role="header" data-theme="e">
    <h1>Yacto</h1>
  </div>
  <div data-role="content">
    <%= render :partial => "shared/nav_home" %>
    <h2><%= t("users.public.change_password") %></h2>
    <div class="ui-body ui-body-d">

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div><%= f.label :password, t("users.password.new_password") %><br />
          <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation, t("users.password.password_confrimation") %><br />
          <%= f.password_field :password_confirmation %></div>

        <div><%= f.submit t("users.password.submit") %></div>
      <% end %>

      <%= render "links_mobile" %>
    </div>
  </div>

</div>