<div data-role='page' data-url="<%= new_user_password_path %>">
  <div data-role="header" data-theme="e">
    <h1>Deekau</h1>
  </div>
  <div class="m_width m_text_right m_min_width">
    <div data-role='content' >

      <%= render :partial => "shared/nav_home" %>
      <h2 class="m_text_center"><%= t("users.public.lost_password") %></h2>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="input">
          <%= f.text_field :email,"placeholder" => t('users.password.email') %>
        </div>
        <%= f.submit  t("users.password.submit"), "data-theme" => "e" %>
      <% end %>

      <%= render "shared/links_mobile" %>
    </div>
  </div>
  <div data-role='footer'>
    
  </div>
</div>

