<h2><%= t("users.public.lost_password") %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label t("users.password.email") %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit t("users.password.submit") %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>