<div class="menu_login_container rfloat">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <table cellspacing="0">
      <tbody>
      <tr>
        <td class="html7magic">
          <label for="email">Email or User name</label>
        </td>
        <td class="html7magic">
          <label for="pass">Password</label>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.email_field :email, :class => 'inputtext' %>
        </td>
        <td>
          <%= f.password_field :password, :class => 'inputpassword' %>
        </td>
        <td>
            <%= f.submit t("users.sign_in.submit"), :class => "btn btn-success btn_sign_in" %>
        </td>
      </tr>
      <tr>
        <td class="login_form_label_field">

            <%- if devise_mapping.rememberable? %>

                <label for="persist_box" class="keep_me_login"><%= f.check_box :remember_me, :checked => true, :class => "checkbox_keep_me_login" %>Keep me logged in</label>
            <% end %>
        </td>
        <td class="login_form_label_field">
          <%= link_to t("users.public.forgot_your_password"), new_password_path(resource_name),:class => "forgot_your_password" %>
        </td>
      </tr>
      </tbody>
    </table>
<% end %>
</div>