<ul data-role="listview" data-inset="true" style="margin-top: 20px;margin-bottom: 20px;border-radius:10px;">
<%- if controller_name != 'sessions' %>
  <li><%= link_to t("users.public.sign_in"), new_session_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li><%= link_to t("users.public.sign_up"), new_registration_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <li><%= link_to t("users.public.lost_password"), new_password_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <li><%= link_to t("users.public.receive_confirmation_instructions"), new_confirmation_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <li><%= link_to t("users.public.receive_unlock_instructions"), new_unlock_path(resource_name) %></li>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <li><%= link_to "#{t('users.public.sign_in_with')+' '+ provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider),:rel => "external" %></li>
  <% end -%>
<% end -%>
</ul>