<div class="subnav">
  <div style="margin: 0 auto">
    <ul class="nav nav-pills">
      <li class="active"><%= link_to 'Offers', offers_list_path %></li>
      <li class=""><%=  link_to 'Countries' , countries_path %></li>
      <li><a href="/auth/google_oauth2"> Google contact</a></li>
      <li><input type="button" value="Google contact" id="find_friend_google" class="btn"> </input></li>
      <li><a href="contacts/find_friend_google" class="btn"> Google contact</a></li>

    </ul>
  </div>
</div>