<div  data-type="horizontal" data-role="controlgroup" style="text-align: center;">
  <%= link_to t("home.index.home"), root_path,"data-role" =>"button", "data-theme" =>"c"  %>
  <%= link_to t("offers.index.offers_list"),list_offers_path,  "data-role" =>"button", "data-theme" =>"c" %>
</div>
