<%- if user_signed_in? %>
   <a href="<%= user_profile_path  %> "> <%= t("namespace.user")+': ' + current_user.email %></a>&nbsp;&nbsp;&nbsp;&nbsp;
   <%= link_to t("users.public.sign_out"), destroy_user_session_path, :method => "delete" %>
<% end %>