 <div id="header">
   <div class="container">
     <div id="logo" >
       <%= link_to (image_tag("logo.png",:style => "height: 29px;")) %>
     </div>
   </div>
 </div>

 <div id="content">
       sdsd
 </div>

 <div id="footer">
   <div id="inner_footer">
     <img src="https://s-passets-ec.pinimg.com/images/mobile_footer_badge.png" id="badge">

   </div>
 </div>



