<script type="text/javascript">
if (window.location.href.indexOf('#_=_') > 0) {
window.location = window.location.href.replace(/#.*/, '');
 }
</script>
<script>
  $(function () {
    $('input.memtion_friend').mentionsInput({
        onDataRequest:function (mode, query, callback) {
            var data = [
                { id:1, name:'Kenneth Auchenberg','avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
                { id:2, name:'Jon Froda','avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
                { id:3, name:'Anders Pollas','avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
                { id:4, name:'Kesper Hulthin','avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
                { id:5, name:'Andreas Haugstrup', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' },
                { id:6, name:'Pete Lacey', 'avatar':'http://cdn0.4dots.com/i/customavatars/avatar7112_1.gif', 'type':'contact' }
            ];

            data = _.filter(data, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });

            callback.call(this, data);
        }
    });
  });
</script>
  <% if current_user && @merchant_check == false %>
    <script type="text/javascript">
        $(document).ready(function (){
            var merchant_bussiness = new Company.Views.MerchantBussinessView();
            merchant_bussiness.render();
        });
    </script>
         <div id="merchants" data-id='123122'>
        <div id="container">
          <div id="containerLeft">
            <div class="leftContent">
            </div>
          </div>
          <div id="containerRight">
            <div class="rightContent">
              <div class="containerMap">
                <div id="map_offers"></div>
              </div>
            </div>
          </div>
        </div>
       </div>
    <% elsif current_user && @merchant_check == true %>
    <div id="merchants">
      <div class="container">
        <div class="containerLeft">
          <div id="new_offer">
            <%= render 'offers/form_upload'   %>
          </div>
          <div id="list_offers"></div>
        </div>
      </div>
    </div>
    <% else %>
      <div id="global_container">
        <div id="content_frinds" class="dk_content">
          <div>
            <div>
            </div>
            <div></div>
            <div></div>
          </div>
          <div>
            <div class="gradient">
              <div class="gradientContent">
                <div class="clearfix dkIndexFeaturedRegistration">
                  <div class="feature lfloat"></div>
                  <div class="signupForm rfloat"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>