<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name ,'data-role'=>'none'%>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description ,'data-role'=>'none'%>
  </div>
  <div class="actions">
    <%=  f.submit 'Submit', 'data-role'=>'none' , :class=>'btn btn-primary btn-large' %>
  </div>
<% end %>
