<br />
<div class='span4 offset4' >
<%= link_to 'New offer', new_offer_path , 'data-role'=>'button' ,'data-theme'=>'i'%>
  </div>
<br style="clear:both;" />
<ul data-role="listview" data-theme="i" data-inset="true" data-divider-theme="i">
  <li data-role="list-divider" data-divider-theme="i"  >My Offers</li>
<% @myoffers.each do |offer| %>
  <li>
    <a href="<%= offer_path(offer)%> ">
      <h3><%=  offer.name %></h3>
      <p><%=  offer.description %></p>
    </a>
    <%= link_to 'Destroy', offer, confirm: 'Are you sure?', method: :delete ,'data-icon'=>'delete'%>
    <div data-role="controlgroup" data-type="horizontal">
            <%= link_to 'Edit', edit_offer_path(offer) ,'data-role'=>'button' %>
            <a href="#" data-role="button">Share on Facebook</a>
            <a href="#" data-role="button">Share on Twitter</a>
            <a href="#" data-role="button">Add plus to google</a>
    </div>
  </li>
<% end %>
</ul>
<br />

<br />
<ul data-role="listview" data-theme="c" data-inset="true">
  <li data-role="list-divider">Other Offers</li>
<% @myoffers.each do |offer| %>
  <li>
    <a href="#">
      <h3><%=  offer.name %></h3>
      <p><%=  offer.description %></p>
    </a>
    <%= link_to 'Destroy', offer, confirm: 'Are you sure?', method: :delete ,'data-icon'=>'delete'%>
    <div data-role="controlgroup" data-type="horizontal">
            <%= link_to 'Edit', edit_offer_path(offer) ,'data-role'=>'button' %>
            <a href="#" data-role="button">Share on Facebook</a>
            <a href="#" data-role="button">Share on Twitter</a>
            <a href="#" data-role="button">Add plus to google</a>
    </div>
  </li>
<% end %>
</ul>