<ul class="friend-list" style="display: block;">
<!-- THIS IS WHERE FRIENDS LOAD BRODEOS -->
<li class="friend">
  <button type="button" class="Button WhiteButton Button13">
  Invite
</button>
  <img alt="Profile picture of &lt;%= name %&gt;" src="http://passets-cdn.pinterest.com/images/NoProfileImage30.png" class="InvitesProfileImage">
  <div class="individual email-id">
    <div class="name">
      Dai Truong (BSD)
    </div>
    <div class="email">
      <div class="email">bsdvn@live.com</div>
    </div>
  </div>
</li>
</ul>