
<script type="text/javascript">
  $(document).ready(function(){
    var markersArray = [];
    var latlng = new google.maps.LatLng(<%= @map_center %>);
    var map_zoom = <%= @map_zoom ? @map_zoom : "10" %>;
    var geocoder = new google.maps.Geocoder();
  
    
    // Removes the overlays from the map, but keeps them in the array
    function clearOverlays() {
      if (markersArray) {
        for (i in markersArray) {
          markersArray[i].setMap(null);
        }
      }
    }

    function geocodePosition(pos) {
      geocoder.geocode({
        latLng: pos
      }, function(responses) {
        if (responses && responses.length > 0) {
          updateMarkerAddress(responses[0].formatted_address);
        } else {
          updateMarkerAddress('Cannot determine address at this location.');
        }
      });
    }
    function geocodeAddress(address) {
      geocoder.geocode( { 
        'address': address
      }, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          $('#merchant_coordinates_1').val(results[0].geometry.location.lat());
          $('#merchant_coordinates_2').val(results[0].geometry.location.lng());
          $('#address').hide();
          $("#markerStatus").hide();
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            title: 'Merchant Address',
            draggable: false
          });
          markersArray.push(marker);
          $("#verify_address_first").show();
          $("#hide_after_verify").hide();
        } else {
          alert('<%= t("map.geocoder_error") %>'  + status);
        }

      });
    }
    function updateMarkerStatus(str) {
      document.getElementById('markerStatus').innerHTML = str;
    }

    function updateMarkerPosition(latLng) {
      $('#merchant_coordinates_1').val(latLng.lat());
      $('#merchant_coordinates_2').val(latLng.lng());
    }

    function updateMarkerAddress(str) {
      document.getElementById('address').innerHTML = str;
    }
    function create_marker(){
<% if @merchant.coordinates %>
        var pos = new google.maps.LatLng('<%= @merchant.coordinates[0]%>', '<%=@merchant.coordinates[1]%>');
        console.log(pos);
        var marker = new google.maps.Marker({
          position: pos,
          title: 'Merchant Address',
          map: map,
          draggable: true
        });
        markersArray.push(marker);
        $("#markerStatus").show();
        $("#address").show();
      
        // Update current position info.
        updateMarkerPosition(pos);
        geocodePosition(pos);
      
        google.maps.event.addListener(marker, 'dragstart', function() {
          $("#markerStatus").hide();
        });
  
        google.maps.event.addListener(marker, 'drag', function() {
          //updateMarkerStatus('Dragging...');
          console.log(marker.getPosition());
          updateMarkerPosition(marker.getPosition());
        });
  
        google.maps.event.addListener(marker, 'dragend', function() {
          //console.log(marker.getPosition());
          geocodePosition(marker.getPosition());
        });
        $("#verify_address_first").show();
        $("#hide_after_verify").hide();
<% end %>
      return false;
    }
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: map_zoom,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    // Update current position info.
    create_marker();
    var image = '/assets/markers/pin/image.png';
     
    $("#manualCoordinates").click(function(){
      $('html, body').animate({scrollTop:0}, 'slow');
      $("#verify_address_first").show();
      $("#hide_after_verify").hide();
      clearOverlays();
      var marker = new google.maps.Marker({
        position: map.center,
        title: 'Merchant Address',
        map: map,
        draggable: true
      });
      markersArray.push(marker);
      $("#markerStatus").show();
      $("#address").show();
      
      // Update current position info.
      updateMarkerPosition(latlng);
      geocodePosition(latlng);
      
      google.maps.event.addListener(marker, 'dragstart', function() {
        $("#markerStatus").hide();
      });
  
      google.maps.event.addListener(marker, 'drag', function() {
        //updateMarkerStatus('Dragging...');
        console.log(marker.getPosition());
        updateMarkerPosition(marker.getPosition());
      });
  
      google.maps.event.addListener(marker, 'dragend', function() {
        //console.log(marker.getPosition());
        geocodePosition(marker.getPosition());
      });
      return false;
    });
    
    $("#verifyAddress").click(function(){
      clearOverlays();
      var address = $("#merchant_add_description").val();
      if(address == ""){
        alert("<%= t("map.address_require")%>");
      }else{
        geocodeAddress(address);
      }
      
    });
  });
  
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#category_name').autocomplete(
    {source: function(req, add){
        $.getJSON('/home/autocomplete_category', req, function(data){
          console.info(data);
          add(data);
        })
      },
      select: function(event, ui){
        //console.info(ui);
        var id = ui.item.id;
        //console.info('The value is ' + id);
        if(id)
          $('#merchant_tags').val(id);

      }});
  });
  
  $(".ui-radio").live('click', function() {
    var radio = $(this).find('input:first');
    var span = $(this).find('span.ui-btn-text');
    console.log(span);
    $('#merchant_tags').val(radio.val());
    $('#category_name').val(span.text().trim());
  });

</script>
<div id="markerStatus" style="display: none; text-align: center"><i><%= t("map.marker_status") %></i></div>
<div id="address" style="display: none"></div>
<div id="map" style="height: 200px; width: 100%; margin-bottom: 15px;">
</div>
<%= form_for(@merchant,:html => {"data-role" => "none","data-ajax" => "false"}) do |f| %>
  <% if @merchant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@merchant.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
        <% @merchant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="merchant_row text_field">
    <%= f.text_field :add_description, "placeholder"  => t("merchant.address"),:class => "bg_search_icon" %>
    <%= f.hidden_field :coordinates, :multiple => true, :id => "merchant_coordinates_1"%>
    <%= f.hidden_field :coordinates, :multiple => true, :id => "merchant_coordinates_2" %>
  </div>
  <div class="merchant_row text_field">
    <a href="#" id="manualCoordinates"><%= t("map.manually_set_location") %><span></span></a>
    <a href="#" id="verifyAddress" ><%= t("map.verify_address") %><span></span></a>
  </div>
  <div class="merchant_row text_field">
    <%= f.text_field :name, "placeholder"  => t("merchant.name") %>
  </div>

  <div class="merchant_row text_field">
    <%= f.text_area :description, "placeholder"  => t("merchant.desc") %>
  </div>
  <div class="merchant_row text_field">
    <%= f.text_field :mobile_number, "placeholder"  => t("merchant.mobile_number") %>
  </div>
  <div class="merchant_row text_field">
    <%= f.text_field :phone, "placeholder"  => t("merchant.phone") %>
  </div>
  <div class="merchant_row">
    <%= t("merchant.start_open_time")+":" %> <%= time_select "merchant", "start_open_time", { :default => Time.now.change(:hour => 8), :simple_time_select => true, :minute_interval => 30, :time_separator => "",:set_ampm => false},"data-role" => "none","class" => "merchant_time" %>
  </div>
  <div class="merchant_row ">
    <%= t("merchant.end_open_time")+":" %> <%= time_select "merchant", "end_open_time", { :default => Time.now.change(:hour => 23), :simple_time_select => true, :minute_interval => 30, :time_separator => "",:set_ampm => false},"data-role" => "none","class" => "merchant_time"%>
  </div>
  <div class="merchant_row text_field">
    <input id="category_name" placeholder ="Seach category" class="bg_search_icon"> </input>
    <%= f.hidden_field :tags %>
  </div>

  <div id="category" class="merchant_row">
    <fieldset data-role="controlgroup">
      <legend><%= t("merchant.new.category") + ":"%> </legend>
      <% @tags.each_with_index do |tag, index| %>
        <input type="radio" name="merchant_tag_id" id="radio-choice-<%= index.to_s %>" value="<%= tag.id %> "/>
        <label for="radio-choice-<%= index.to_s %>"><%= tag.parent_tag[0] %> </label>
      <% end %>
    </fieldset>
  </div>

  <div id="verify_address_first" style="display:none;">
    <%= f.submit "Create",:class => "btn_submit"%>
  </div>
  <div id="hide_after_verify" class="merchant_row">
    <p><%= t("map.must_verify") %></p>
  </div>

<% end %>
<div id="authenticity_token" style="display:none;"><%= form_authenticity_token %></div>


