<%= content_for :head do %>
  <%= stylesheet_link_tag "mobile/jquery.ui.all","mobile/merchant.css"%>
  <%= javascript_include_tag 'jquery/jquery-ui-1.8.18.custom.min' %>
<% end %>

<div data-role="page" data-them="deekau">
  <div data-role="header" data-theme="deekau">
    <div id="header">
      <div id="logo">
        <%=  link_to (image_tag("logo.png",:style => "height: 29px;")) %>
      </div>
      <div id="box_login" style="padding-top: 5px;">
        <a href="/user/login" class="ui-link">Sign in</a>
      </div>
    </div>
    <div id="back_bar">
      <a data-rel="back" data-direction="reverse" class="link-back" href="#" style="color: #ffffff; font-weight: bold; font-size: 13px;">
        <span class="arrow"></span>Back
      </a>
    </div>
  </div>
  <div data-role="content">
    <h2 class="heading"> <%=  t("merchant.new.title")%></h2>
    <%= render 'form' %>
  </div>
  <div data-role="footer" data-theme="deekau-footer">
    <div id="footer"></div>
  </div>
</div>
