
<script type="text/javascript">
  $(document).ready(function(){
    var latlng = new google.maps.LatLng(<%= @map_center %>);
    
    var myOptions = {
      zoom: <%= @map_zoom ? @map_zoom : "10" %>,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
      <%#*scrollwheel: false%>
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
    var image = '/assets/markers/pin/image.png';
    verifyMarker = new google.maps.Marker({
      map: map,
      position: latlng,
      icon: image
    });
    var anotherlatlng = "<%= (@another_address.nil?)? '' : @another_address  %>)";
    if (anotherlatlng){
      anotherlatlng = new google.maps.LatLng(<%= @another_address %>);
      anotherverifyMarker = new google.maps.Marker({
        map: map,
        position: anotherlatlng,
        icon: image
      });
    }

  });
</script>


<div id="map"></div>
<%= render 'image/form_upload' ,:object => @merchant %>
<p>
  <b><%= t("merchant.name") %>:</b>
  <%= @merchant.name %>
</p>
<p>
  <b><%#= t("merchant.city_name") %>:</b>
  <%#= @merchant.city.try(:name) %>
</p>
<p>
  <b><%= t("merchant.desc") %>:</b>
  <%= raw(@merchant.description) %>
</p>

<p>
  <b><%= t("merchant.primaryaddress") %>:</b>
  <% @merchant.addresses.each do |address|%>
<p><%=  address.location %></p>
  <% end %>
</p>


<p>
  <b><%= t("merchant.mobile_number") %>:</b>
  <%= @merchant.mobile_number %>
</p>

<p>
  <b><%= t("merchant.phone") %>:</b>
  <%= @merchant.phone %>
</p>

<p>
  <b><%= t("merchant.userrating") %>:</b>
  <%= @merchant.user_rating %>
</p>



<p>
  <b><%= t("merchant.start_open_time") %>:</b>
  <%= @merchant.start_open_time %>
</p>

<p>
  <b><%= t("merchant.end_open_time") %>:</b>
  <%= @merchant.end_open_time %>
</p>

<p>
  <b><%= t("merchant.created_at") %>:</b>
  <%= @merchant.created_at %>
</p>

<p>
  <b><%= t("merchant.updated_at") %>:</b>
  <%= @merchant.updated_at %>
</p>

<%= link_to t("form.edit"), edit_merchant_path(@merchant) %> | 
<%= link_to t("form.back"), offers_path %> |
<%= link_to 'Destroy', @merchant, confirm: 'Are you sure?', method: :delete ,'data-icon'=>'delete'%>