<!-- Button to trigger modal -->
<script type="text/javascript">
  $(document).ready( function() {
      $('.carousel').carousel({
          pause: true,
          interval: false  ,
          cycle: false


      })
      auto_resize();

    $('.carousel-linked-nav > li > a').click(function() {

    // grab href, remove pound sign, convert to number
    var item = Number($(this).attr('href').substring(1));

    // slide to number -1 (account for zero indexing)
    $('#myCarousel').carousel(item - 1);

    // remove current active class
    $('.carousel-linked-nav .active').removeClass('active');

    // add active class to just clicked on item
    $(this).parent().addClass('active');

    // don't follow the link
    return false;
});

      /* AUTOPLAY NAV HIGHLIGHT */

// bind 'slid' function
      $('#myCarousel').bind('slid', function() {
          auto_resize();
          // remove active class
          $('.carousel-linked-nav .active').removeClass('active');

          // get index of currently active item
          var idx = $('#myCarousel .item.active').index();

          // select currently active item and add active class
          $('.carousel-linked-nav li:eq(' + idx + ')').addClass('active');

      });
  })
  $(window).resize(function() {
      auto_resize();

  });
  function auto_resize(){
      var x = $(this).width() - (120 + 300)      // left + right  + width div comment
      var y = $(this).height() - (41 + 90)      // top + bottom
      console.log( x + ' , ' + y) ;
      $(".active.item .image-box").css("width",x);
      $(".active.item .image-box").css("height",y)
      $(".active.item .comment-box").css("height",y)
  }

</script>
<a href="#albums" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
<div id="albums" class="modal hide fade modal-fullscreen in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-control x0">
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  </div>
  <div class="modal-body">
     <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <div class="image-box">
            <img alt="" src="/assets/albums/1.jpg">
          </div>
          <div class="comment-box">comment1</div>
        </div>
        <div class="item">
          <div class="image-box">
            <img alt="" src="/assets/albums/2.jpg">
          </div>
          <div class="comment-box"> comment2</div>
        </div>
        <div class="item">
          <div class="image-box">
            <img alt="" src="/assets/albums/3.jpg">
          </div>
          <div class="comment-box">comment3</div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-control y0">
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  <div class="modal-footer">
    <!-- LINKED NAV -->
    <!--<ul class="carousel-linked-nav pagination">-->
      <!--<li class="active"><a href="#1">1</a></li>-->
      <!--<li><a href="#2">2</a></li>-->
      <!--<li><a href="#3">3</a></li>-->
    <!--</ul>-->
  </div>
</div>