<%= javascript_include_tag "social_post.js" %>
<%= content_for :head do %>
  <div data-enhance="false" >
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:html=>{:class=>'first-page'}) do |f| %>
      <div class='row' >
        <div class='span2' >
          <%= f.label t("users.sign_in.login"),"data-role"=>"none" %>
        </div>
        <div class='span2' >
          <%= f.label t("users.sign_in.password"),"data-role"=>"none" %>
        </div>
      </div>
      <div class='row' >
        <div class='span2' >
          <%= f.email_field :email, :class=> 'input-medium' ,"data-role"=>"none" %>
        </div>
        <div class='span2' >
          <%= f.password_field :password ,:class=> 'input-medium',"data-role"=>"none" %>
        </div>
        <div class='span1' >
          <%= f.submit t("users.sign_in.submit") ,:class=>'btn btn-success',"data-role"=>"none" %>
        </div>
      </div>
      <div class='row' >
        <div class='span2' >
          <%- if devise_mapping.rememberable? %>
            <label class='checkbox' >
              <%= f.check_box :remember_me, :checked => true,"data-role"=>"none" %>
              <%= t("users.sign_in.remember_me") %>
            </label>
          <% end %>
        </div>
        <div class='span2' >
          <%= link_to t("users.public.lost_password"), new_password_path(resource_name),"data-role"=>"none" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
<div class='span9' >123
</div>
<div class='span3' >
  <br />
  <h4>
    <a class='btn btn-large' href="<%= new_registration_path(resource_name) %>" > <%= t("users.public.register") %>  </a>
    <%=  t("users.public.or_sign_in_using") %>
  </h4>
  <br />
  <div id="omniauth">
    <ul data-role="listview" data-theme='i' data-inset='true'  class="button-hover-green">
      <li>
        <a href="<%= user_omniauth_authorize_path(:facebook) %>" >
          <img  class='author-image-button' src="/images/fb_icon.png" />
          <h3> Facebook </h3>
        </a>
      </li>
      <li>
        <a href="<%= user_omniauth_authorize_path(:twitter) %>" >
          <img class='author-image-button' src="/images/tw_icon.png" />
          <h3> Twitter </h3>
        </a>
      </li>
     

      <li>
        <a href="<%#= user_omniauth_authorize_path(:google_oauth2) %>" >
          <img class='author-image-button' src="/images/google_icon.png" />
          <h3> Google </h3>
        </a>
      </li>
      <!--
       <li>
        <a href="<%#= user_omniauth_authorize_path(:open_id, :openid_url => 'http://yahoo.com') %>" >
          <img class='author-image-button' src="/images/yahoo_icon.png" />
          <h3> Yahoo </h3>
        </a>
      </li>
      <li>
        <a  href="<%#= user_omniauth_authorize_path(:linkedin) %>" >
          <img class='author-image-button' src="/images/linkedin_icon.png" />
          <h3> Linked In </h3>
        </a>
      </li>
-->
      
    </ul>
  </div>
</div>



<div class="post-to-social">
  <ul data-role="listview">
    <li data-role="list-divider"><%= t("home.index.post_to") %></li>
    <li>
      <label for="flip-fb">Facebook</label>
      <select class="social_post" name="facebook_on" id="facebook_on" data-role="slider" data-mini="true">
        <option value="off"><%= t("home.index.off") %></option>
        <option value="on"><%= t("home.index.on") %></option>
      </select>
    </li>
    <li>
      <label for="flip-fb">Twitter</label>
      <select class="social_post" name="twitter_on" id="twitter_on"  data-role="slider" data-mini="true">
        <option value="off"><%= t("home.index.off") %></option>
        <option value="on"><%= t("home.index.on") %></option>
      </select>
    </li>
    <li>
      <label for="flip-fb">Google +</label>
      <select class="social_post" name="google_on" id="google_on"  data-role="slider" data-mini="true">
        <option value="off"><%= t("home.index.off") %></option>
        <option value="on"><%= t("home.index.on") %></option>
      </select>
    </li>
  </ul>

</div>
