<%= javascript_include_tag "social_post.js" %>
<div data-role='page' id="indexPage" data-url="<%= new_user_session_path %>">
  <div data-role="header" data-theme="e">
    <h1>Deekau</h1>
  </div>
  <div class="m_width m_text_right m_min_width">
    <div data-role='content' >
      <%= render 'shared/nav_home' %>
      <div class="box">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name) ,:html=>{:class=>'first-page'}) do |f| %>
          <div class="input">
            <%= f.email_field :email,:class=>'m_auto_margin' ,"placeholder" => t('users.sign_in.login') ,:class=>'m_width' %>
          </div>
          <div class="input">
            <%= f.password_field :password,:class=>'m_auto_margin', "placeholder" => t('users.sign_in.password'),:class=>'m_width' %>
          </div>
          <% if devise_mapping.rememberable? -%>

            <%= f.check_box :remember_me  ,:class=>"custom" %>
            <label for="user_remember_me"><%= t('users.sign_in.remember_me') %></label>

          <% end -%>

          <div data-role="controlgroup" data-type="" class="m_text_center" >
            <input type="submit" value="<%= t("users.sign_in.submit")  %>" data-theme="b" />
            <a data-role="button" href="<%= new_user_registration_path(resource_name) %>" data-theme="b" ><%= t("users.public.sign_up") %></a>
            <a data-role="button" href="<%= new_password_path(resource_name) %> " data-theme="b" ><%= t("users.public.lost_password") %></a>
          </div>
        <% end %>
      </div>

      <ul data-role="listview" data-inset="true" style="margin-top: 20px;margin-bottom: 10px;border-radius:10px;">
        <li ><%= image_tag("mobile/twitter.png",:class => "icon_fb_tw") %><%= link_to t('users.public.sign_in_with')+ " Twitter" , user_omniauth_authorize_path(:twitter),:rel => "external","data-ajax" => "false" %></li>
        <li><%= image_tag("mobile/facebook.png",:class => "icon_fb_tw") %><%= link_to t('users.public.sign_in_with')+ " Facebook", user_omniauth_authorize_path(:facebook),:rel => "external","data-ajax" => "false" %></li>
        <li><%= image_tag("mobile/google.png",:class => "icon_email") %><%= link_to t('users.public.sign_in_with')+ " Google", user_omniauth_authorize_path(:google_oauth2),:rel => "external","data-ajax" => "false" %></li>
        <!--<li><%#= image_tag("mobile/email.png",:class => "icon_email") %><%#= link_to t('users.public.sign_in_with')+ " Email", new_user_session_path ,:rel => "external","data-ajax" => "false"%></li>-->
      </ul>
      <div class="box_line">
        <label for="twitter_on" style="padding-top: 10px; float: left;padding-right: 10px"><%= t('home.index.post_to')+' Twitter' %></label>
        <div class="right" style="width:100px;">
          <select class="social_post" name="twitter_on" id="twitter_on" data-role="slider" style="float: right;height: 47px; width: 100px;">
            <option value="off"><%= t('home.index.off')%></option>
            <% if session[:twitter_on] == true %>
              <option value="on" selected="true" ><%= t('home.index.on')%></option>
            <% else %>
              <option value="on"><%= t('home.index.on')%></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="box_line">
        <label for="facebook_on" style="padding-top: 10px; float: left;padding-right: 10px"><%= t('home.index.post_to')+' Facebook' %></label>
        <div class="right" style="width:100px;">
          <select class="social_post" name="facebook_on" data-mini="true" id="facebook_on" data-role="slider" style="float: right;height: 47px; width: 100px;">
            <option value="off"><%= t('home.index.off')%></option>
            <% if session[:facebook_on] == true %>
              <option value="on" selected="true" ><%= t('home.index.on')%></option>
            <% else %>
              <option value="on"><%= t('home.index.on')%></option>
            <% end %>
          </select>
        </div>
      </div>

      <div class="box_line">
        <label for="google_on" style="padding-top: 10px; float: left;padding-right: 10px"><%= t('home.index.post_to')+' Google+' %></label>
        <div class="right" style="width:100px;">
          <select class="social_post" name="google_on" data-mini="true" id="google_on" data-role="slider" style="float: right;height: 47px; width: 100px;">
            <option value="off"><%= t('home.index.off')%></option>
            <% if session[:google_on] == true %>
              <option value="on" selected="true" ><%= t('home.index.on')%></option>
            <% else %>
              <option value="on"><%= t('home.index.on')%></option>
            <% end %>
          </select>
        </div>

      </div>
      <%= hidden_field_tag 'hidden_twitter',session[:twitter_on] %>
      <%= hidden_field_tag 'hidden_facebook',session[:facebook_on] %>
      <%= hidden_field_tag 'hidden_google',session[:google_on] %>
    </div>
    
  </div>
  <div data-role='footer'>

  </div>
</div>








