// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
* This is css for chat-system
*/

.chromeBar {
  height: 30px;
  padding: 10px 0px 4px 0px;
}

.mfullscreen {
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  position: absolute;
}

.mt-screen {
  display: none;
  min-width: 256px;
  background: rgba(201, 255, 153, 0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 46px 0px 0px 0px;
}

.mts-active {
  display: block;
}

.mnavi-header {
  background: -webkit-linear-gradient(#7ac439, #549f12);
  background: -moz-linear-gradient(#7ac439, #549f12);
  border-top: 1px solid rgba(77, 125, 36, 0.9);
  border-bottom: 1px solid rgba(77, 125, 36, 0.9);
  -webkit-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
  -moz-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
  box-shadow: 0px -2px 6px 1px rgb(32, 32, 32);
  top: 0%;
  left: 0%;
  position: absolute;
  width: 100%;
  z-index: 1000;
  .mnhg-notification {
    a {
      margin: 0px 4px;
    }
    display: table;
    margin: 0 auto;
    height: 24px;
  }
  .mnhb-menu {
    a {
      .mnhn-number {
        color: white;
        font-size: 11px;
        font-weight: bold;
        padding: 0px 3px;
        margin: -2px -4px 0px 0px;
        line-height: 150%;
        background: red;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        float: right;
      }
    }
    .mvh-dropdown {
      background: white;
      width: 160px;
      color: black;
      margin: 14px 0px 0px -140px;
      position: absolute;
      .mvhdn-msg {
        padding: 4px 4px 6px 4px;
        cursor: pointer;
        &:hover{
          background: rgb(122, 197, 57);
          color: white;
        }
        img {
          float: left;
          -webkit-box-shadow: 0px 0px 2px rgb(150, 150, 150);
          -moz-box-shadow: 0px 0px 2px rgb(150, 150, 150);
          box-shadow: 0px 0px 2px rgb(150, 150, 150);
        }
        div {
          padding: 0px 0px 0px 3px;
          line-height: 100%;
          div:first-child {
            font-size: 12px;
            font-weight: bold;
          }
          div:last-child {
            font-size: 10px;
            margin: 8px 0px 0px 0px;
          }
        }
      }
    }
  }
}

.mnavi-footer {
  background: white;
  border-top: 1px solid rgba(200, 200, 200, 0.9);
  -webkit-box-shadow: 0px 1px 8px -2px #202020;
  -moz-box-shadow: 0px 1px 8px -2px #202020;
  box-shadow: 0px 1px 8px -2px #202020;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.mts-body {
  float: left;
  width: 100%;
  height: 100%;
}

#mts-chatsystem {
  padding: 46px 0px 52px 0px;
  .mts-body {
    overflow-y: auto;
    .mtsb-tab {
      width: 100%;
      min-height: 32px;
      clear: both;
      .mtsb-header {
        margin: 16px 0px;
        float: left;
        width: 100%;
        height: 16px;
        .mtsbh-content {
          padding: 0px 16px;
          cursor: pointer;
          float: left;

          .mtsbh-title {
            float: left;
            font-size: 13px;
            font-weight: bold;
            margin: -2px 8px 0px 0px;
          }
          .mtsbh-arrow {
            border: 6px solid transparent;
            float: left;
          }
          .mtsbh-arrowright {
            border-left-color: rgb(32, 32, 32);
            margin: 3px 3px 0px 3px;
          }
          .mtsbh-arrowdown {
            border-top-color: rgb(32, 32, 32);
            margin: 6px 6px 0px 0px;
          }
        }
        .mtsbh-seperator {
          height: 1px;
          margin: 8px 8px 0px 134px;
          background: rgb(64, 64, 64);
          -webkit-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
          -moz-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
          box-shadow: 0px 0px 1px black;
        }
      }
      .mtsb-body {
        width: 100%;
        clear: both;
        .mtsb-friend {
          height: 64px;
          overflow: hidden;
          cursor: pointer;
          padding: 0px 0px 0px 56px;
          margin: 1px 0px 0px 0px;
          border-bottom: 1px solid rgba(77, 125, 36, 0.1);
          &:first-child {
            border-top: 1px solid rgba(77, 125, 36, 0.1);
          }
          img {
            width: 56px;
            height: 56px;
            float: left;
            margin: 4px 0px 0px -52px;
            -webkit-box-shadow: 0px 0px 2px rgb(150, 150, 150);
            -moz-box-shadow: 0px 0px 2px rgb(150, 150, 150);
            box-shadow: 0px 0px 2px rgb(150, 150, 150);

          }
          div {
            padding: 2px 2px 0px 4px;
            position: relative;
            .mtsbf-title {
              height: 22px;
              div:first-child {
                float: left;
                font-weight: bold;
                width: 80%;
              }
              div:last-child {
                float: right;
                font-size: 10px;
                color: rgb(123, 123, 123);
              }
            }
            .mtsbf-msg {
              float: left;
              color: rgb(123, 123, 123);
              margin: 10px 0px 0px 4px;
              font-size: 11px;
              width: 90%;
            }
          }
        }
        .msg-unread {
          background: white;
        }
      }
    }
  }
  .mnavi-footer {
    height: 34px;
    padding: 12px 0px 4px 0px;
    div {
      &:hover {
        color: #549f12;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        text-shadow: 0px 0px 16px rgb(0, 255, 0);
      }
      font-size: 13px;
      padding: 2px 0px;
      cursor: pointer;
    }
  }
}

.cs-available {
  color: green;
}

.cs-busy {
  color: red;
}

.cs-invisible {
  color: rgb(150, 150, 150);
}

.cs-offline {
  color: black;
}

.mts-chattab {
  overflow: hidden;
  padding: 46px 0px 40px 0px;
  .mnavi-header {
    .mtsch-list {
      padding: 3px 0px 0px 0px;
      margin: 0 auto;
      max-width: 75%;
      text-align: center;
      color: white;
    }
  }
  .mts-body {
    overflow-y: auto;
    .mtsf-loadmore {
      text-align: center;
      background: white;
      padding: 6px;
      cursor: pointer;
    }
    .mtsf-alert {
      clear: both;
      padding: 6px 10%;
      background: white;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 8px 0px;
      -webkit-box-shadow: 0px 0px 3px #C8C8C8;
      -moz-box-shadow: 0px 0px 3px #C8C8C8;
      box-shadow: 0px 0px 3px #C8C8C8;
    }
    .mtsb-seperator {
      position: relative;
      padding: 12px 0px;
      float: left;
      width: 100%;
      .mtsbs-line {
        height: 1px;
        background: rgb(123, 123, 123);
        -webkit-box-shadow: -4px -2px 6px 1px #202020;
        -moz-box-shadow: -4px -2px 6px 1px #202020;
        box-shadow: 0px 0px 1px #969696;
        float: left;
        width: 100%;
      }
      .mtsbs-day {
        font-weight: bold;
        color: rgba(0, 0, 0, 0.4);
        font-size: 11px;
        background: #EEFEE0;
        width: 29px;
        margin-top: -10px;
        position: absolute;
        left: 49%;
        padding: 0px 4px;
      }
    }
    .mtsb-msg {
      clear: both;
      float: left;
      padding: 8px 6px;
      >img {
        float: left;
        width: 32px;
        height: 32px;
      }
      .mtsbm-content {
        padding: 0px 0px 0px 32px;
        font-size: 13px;
        div {
          div {
            padding: 1px 0px 2px 0px;
            border-top: 1px solid rgb(220, 200, 220);
            &:first-child {
              border: none;
            }
            img {
              vertical-align: text-bottom;
            }
          }
        }
      }
    }
    .msg-right {
      float: right;
      >img {
        float: right;
      }
      .mtsbm-content {
        padding: 0px 32px 0px 0px;
        div {}
      }
    }
  }
  .mtsc-footer {
    position: absolute;
    bottom: 0px;
    margin-bottom: -50px;
    width: 100%;
    border-top: 1px solid rgb(200, 200, 200);
    -webkit-box-shadow: 0px 1px 8px -2px #202020;
    -moz-box-shadow: 0px 1px 8px -2px #202020;
    box-shadow: 0px 1px 8px -2px #202020;
    padding: 0px 0px 2px 0px;
    background: white;
    .mtscf-input {
      height: 34px;
      padding: 4px 74px 0px 20px;
      textarea {
        height: 20px;
        outline: none;
        width: 100%;
        float: right;
        resize: none;
      }
      button {
        float: right;
        text-align: center;
        margin-right: -68px;
      }
    }
    .mtscf-tab {
      float: left;
      width: 100%;
      div {
        &:hover {
          color: #549f12;
          -webkit-transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          -ms-transition: all 1s ease;
          transition: all 1s ease;
          text-shadow: 0px 0px 16px rgb(0, 255, 0);
        }
        padding: 12px 0px;
        font-size: 13px;
        cursor: pointer;
        color: rgb(32, 32, 32);
      }
    }
    .smileicon {
      float: left;
      cursor: pointer;
      padding: 4px 6px;
    }
  }
}

#md-chatsetting {
  .md-item {
    margin: 4px 16px;
    > div {
      &:first-child {
        width: 64px;
        float: left;
      }
      &:last-child {
        float: left;
        > div {
          clear: both;
          label {
            float: left;
            padding: 3px 12px;
          }
          input {
            float: left;
          }
        }
      }
    }
  }
}

.ms-dialog {
  z-index: 1000;
  overflow: hidden;
  display: none;
  .msd-foreground {
    background: rgba(0, 0, 0, 0.75);
  }
  .mb-dialog {
    width: 80%;
    min-width: 256px;
    height: 80%;
    margin: 10%;
    background: #eefee0;
    position: absolute;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 46px 0px 72px 0px;
    .md-header {
      height: 32px;
      width: 100%;
      text-align: center;
      margin-top: -46px;
      padding: 12px 0px 32px 0px;
      position: absolute;
      font-size: 15px;
    }
    .md-body {
      height: 100%;
      width: 125%;
      overflow-y: scroll;
      .mdbf-invite {
        height: 64px;
        cursor: pointer;
        width: 100%;
        float: left;
        img {
          margin: 8px 8px;
          width: 48px;
          height: 48px;
          float: left;
        }
        div {
          font-weight: bold;
          padding: 6px 4px;
          float: left;
        }
      }
      .mdbfi-select {
        background: white;
      }
    }
    .md-footer {
      padding: 0px 8px;
      div {
        margin: 16px auto 0px auto;
        padding: 10px 0px;
        cursor: pointer;
      }
    }
  }
}

#mn-menu {
  position: absolute;
  right: -258px;
  top: 0px;
  height: 100%;
  width: 256px;
  background: rgba(48, 48, 48, 0.95);
  font-weight: bold;
  font-size: 14px;
  color: rgb(220, 220, 220);
  -webkit-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
  -moz-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
  box-shadow: -4px 6px 8px -5px #202020;

  .mnm-header {
    border-top: 1px solid rgb(64, 64, 64);
    border-bottom: 1px solid rgba(24, 24, 24, 0.85);
    height: 32px;
    padding: 6px 4px 6px 8px;
    cursor: pointer;

    img {
      float: left;
      margin: 0px 0px 0px 4px;
      width: 32px;
      height: 32px;
    }
    div {
      float: left;
      margin: 7px 0px 0px 6px;
      color: rgb(255, 255, 255);
    }
  }
}

.mvmbl-header {
  padding: 10px 0px 3px 12px;
  background: rgb(72, 72, 72);
  border-bottom: 1px solid rgba(24, 24, 24, 0.85);
}

.mvmbl-items {
  .mvmb-item {
    clear: both;
    padding: 8px 4px 10px 20px;
    height: 24px;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(24, 24, 24, 0.85);
    display: block;

    &:hover {
      background: rgba(48, 48, 48, 0.75);
    }
    .mvmbi-title {
      float: left;
      padding: 4px 0px 0px 6px;
    }
    .mvmbi-select {
      border: 16px solid transparent;
      border-left-color: white;
      position: absolute;
      left: -6px;
      top: 6px;
    }
  }
  .mvmb {
    -webkit-box-shadow: 6px 0px 3px 0px rgb(36, 36, 36);
    -moz-box-shadow: 6px 0px 3px 0px rgb(36, 36, 36);
    box-shadow: 6px 0px 3px 0px rgb(36, 36, 36);
  }
  .mvmb-inset {
    -webkit-box-shadow: 6px 0px 3px 0px rgb(36, 36, 36);
    -moz-box-shadow: 6px 0px 3px 0px rgb(36, 36, 36);
    box-shadow: 0px 0px 8px rgb(24, 24, 24) inset;
  }
}

.ms-block {
  background: rgba(175, 175, 175, 0.25);
  z-index: 10000;
  cursor: pointer;
}

.mui-split-four {
  float: left;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

//image, div shadow
.mi-avatar-border {
  -webkit-box-shadow: 0px 0px 2px rgb(150, 150, 150);
  -moz-box-shadow: 0px 0px 2px rgb(150, 150, 150);
  box-shadow: 0px 0px 2px rgb(150, 150, 150);
}

.mi-btn-shadow {
  -moz-box-shadow: 0px 1px 4px rgba(0,0,0,.3);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .3);
}

//tag cornor
.mui-corner-top {
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}

.mui-corner-all {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

//button
.mui-btn-blue {
  border: 1px solid #044062;
  background: #396B9E;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px 1px #194B7E;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #5F9CC5 ), to( #396B9E ));
  background-image: -webkit-linear-gradient( #5F9CC5 , #396B9E );
  background-image: -moz-linear-gradient( #5F9CC5 , #396B9E );
  background-image: -ms-linear-gradient( #5F9CC5 , #396B9E );
  background-image: -o-linear-gradient( #5F9CC5 , #396B9E );
  background-image: linear-gradient( #5F9CC5 , #396B9E );
  text-align: center;
}

.mui-btn-blue:visited, .mui-btn-blue:hover {
  border: 1px solid 		#00415e;
  background: 			#4b88b6;
  font-weight: bold;
  color: 					#fff;
  text-shadow: 0 1px 1px #194b7e;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #6facd5 ), to( #4272a4 ));
  background-image: -webkit-linear-gradient( #6facd5 , #4272a4 );
  background-image:    -moz-linear-gradient( #6facd5 , #4272a4 );
  background-image:     -ms-linear-gradient( #6facd5 , #4272a4 );
  background-image:      -o-linear-gradient( #6facd5 , #4272a4 );
  background-image:         linear-gradient( #6facd5 , #4272a4 );
}

.mui-btn-blue:active {
  border: 1px solid 		#00415e;
  background: 			#4e89c5;
  font-weight: bold;
  color: 					#fff;
  text-shadow: 0 1px 1px #194b7e;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #295b8e ), to( #3e79b5 ));
  background-image: -webkit-linear-gradient( #295b8e , #3e79b5 );
  background-image:    -moz-linear-gradient( #295b8e , #3e79b5 );
  background-image:     -ms-linear-gradient( #295b8e , #3e79b5 );
  background-image:      -o-linear-gradient( #295b8e , #3e79b5 );
  background-image:         linear-gradient( #295b8e , #3e79b5 );
}

.mui-btn-gray {
  border: 1px solid #CCC;
  background: #EEE;
  font-weight: bold;
  color: #222;
  text-shadow: 0 1px 0 white;
  background-image: -webkit-gradient(linear, left top, left bottom, from( white ), to( #F1F1F1 ));
  background-image: -webkit-linear-gradient( white , #F1F1F1 );
  background-image: -moz-linear-gradient( white , #F1F1F1 );
  background-image: -ms-linear-gradient( white , #F1F1F1 );
  background-image: -o-linear-gradient( white , #F1F1F1 );
  background-image: linear-gradient( white , #F1F1F1 );
  text-align: center;
}

.mui-btn-gray:visited, .mui-btn-gray:hover {
  border: 1px solid 		#bbb;
  background: 			#dfdfdf;
  font-weight: bold;
  color: 					#222;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 ), to( #e0e0e0 ));
  background-image: -webkit-linear-gradient( #f6f6f6 , #e0e0e0 );
  background-image:    -moz-linear-gradient( #f6f6f6 , #e0e0e0 );
  background-image:     -ms-linear-gradient( #f6f6f6 , #e0e0e0 );
  background-image:      -o-linear-gradient( #f6f6f6 , #e0e0e0 );
  background-image:         linear-gradient( #f6f6f6 , #e0e0e0 );
}

.mui-btn-gray:active {
  border: 1px solid 		#bbb;
  background: 			#d6d6d6;
  font-weight: bold;
  color: 					#222;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #d0d0d0 ), to( #dfdfdf ));
  background-image: -webkit-linear-gradient( #d0d0d0 , #dfdfdf );
  background-image:    -moz-linear-gradient( #d0d0d0 , #dfdfdf );
  background-image:     -ms-linear-gradient( #d0d0d0 , #dfdfdf );
  background-image:      -o-linear-gradient( #d0d0d0 , #dfdfdf );
  background-image:         linear-gradient( #d0d0d0 , #dfdfdf );
}

//header
.mui-bg-yellow {
  background: #FADB4E;
  border: 1px solid #f7e460;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #FCEDA7 ),to( #FBEF7E ));
  background-image: -webkit-linear-gradient( #FCEDA7,#FBEF7E );
  background-image: -moz-linear-gradient( #FCEDA7,#FBEF7E );
  background-image: -ms-linear-gradient( #FCEDA7,#FBEF7E );
  background-image: -o-linear-gradient( #FCEDA7,#FBEF7E );
  background-image: linear-gradient( #FCEDA7,#FBEF7E );
}

.mui-bg-gray {
  border: 1px solid #BBB;
  background: #BBB;
  color: #333;
  font-weight: bold;
  text-shadow: 0 1px 0 #EEE;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #DDD ), to( #BBB ));
  background-image: -webkit-linear-gradient( #DDD, #BBB);
  background-image: -moz-linear-gradient( #DDD, #BBB);
  background-image: -ms-linear-gradient( #DDD, #BBB);
  background-image: -o-linear-gradient( #DDD, #BBB);
  background-image: linear-gradient( #DDD, #BBB);
}

.mui-bg-blue {
  border: 1px solid #456F9A;
  background: #5E87B0;
  color: white;
  font-weight: bold;
  text-shadow: 0 1px 1px #3E6790;
  background-image: -webkit-gradient(linear, left top, left bottom, from( #6FACD5 ), to( #497BAE ));
  background-image: -webkit-linear-gradient( #6FACD5 , #497BAE );
  background-image: -moz-linear-gradient( #6FACD5 , #497BAE );
  background-image: -ms-linear-gradient( #6FACD5 , #497BAE );
  background-image: -o-linear-gradient( #6FACD5 , #497BAE );
  background-image: linear-gradient( #6FACD5 , #497BAE );
}

.mui-bg-green {
  background: #549f12;
  border: 1px solid #468c12;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 rgb(150, 150, 150);
  background-image: -webkit-gradient(linear,left top,left bottom,from( #7ac439 ),to( #549f12 ));
  background-image: -webkit-linear-gradient(#7ac439, #549f12);;
  background-image: -moz-linear-gradient( #7ac439,#549f12 );
  background-image: -ms-linear-gradient( #7ac439,#549f12 );
  background-image: -o-linear-gradient( #7ac439,#549f12 );
  background-image: linear-gradient( #7ac439,#549f12 );
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//mobile icon
.micon {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('/img/navi.png');
  float: left;
  cursor: pointer;

  &:hover {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}

.mi-justify {
  background-position: -868px -6px;
}

.mi-goback {
  background-position: -796px -5px;
}

.mi-noti-news {
  background-position: -1155px -5px;
}

.mi-noti-friends {
  background-position: -940px -5px;
}

.mi-noti-message {
  background-position: -1082px -5px;
}

.mi-close {
  background-position: -150px -5px;
}

.mi-plus {
  background-position: -6px -5px;
}

.mi-group {
  background-position: -1012px -5px;
}

.clip-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.none-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


//div with arrow
.triangle-border {
  position:relative;
  padding:4px;
  float: left;
  margin: 0px;
  border:1px solid rgb(200, 200, 200);
  -webkit-box-shadow: 0px -2px 8px -3px #202020;
  -moz-box-shadow: 0px -2px 8px -3px #202020;
  box-shadow: 1px 1px 8px -4px #202020;
  color:#333;
  background: white;
  /* css3 */
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-10px;
  left:30px;
  border-width:10px 10px 0;
  border-style:solid;
  border-color:rgb(150, 150, 150) transparent;
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-7px;
  left:30px;
  border-width: 10px 10px 0;
  border-style:solid;
  border-color:#fff transparent;
  display:block;
  width:0;
}


/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:8px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right:8px;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
  top:-10px;
  bottom:auto;
  left:auto;
  right:9px;
  border-width:0 10px 10px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top:-9px;
  bottom:auto;
  left:auto;
  right:10px;
  border-width:0 9px 9px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:7px;
  bottom:auto;
  left:-8px;
  border-width:5px 8px 5px 0;
  border-color:transparent rgb(200, 200, 200);
}

/* creates the smaller  triangle */
.triangle-border.left:after {
  top:8px;
  bottom:auto;
  left:-6px;
  border-width:4px 6px 4px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:7px;
  bottom:auto;
  left:auto;
  right:-8px;
  border-width:5px 0 5px 8px;
  border-color:transparent rgb(200, 200, 200);
}

/* creates the smaller  triangle */
.triangle-border.right:after {
  top:8px;
  bottom:auto;
  left:auto;
  right:-6px;
  border-width:4px 0 4px 6px;
  border-color:transparent #fff;
}

.hide {
  display: none;
}

input[type=checkbox],input[type=radio] {
  -webkit-appearance:none;
  background:#fff;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border:3px solid #d5d5d5;
  display:inline-block;
  width:18px;
  height:18px;
  -webkit-border-radius: 3px;
  vertical-align:text-top;
  padding: 0;
}
#chat-system {
  input:hover {
    border:3px solid #c5c5c5;
  }
}
input[type=checkbox]:checked:after {
  content:"\00a0";
  display:block;
  width:3px;
  height:6px;
  border:solid #a5a5a5;
  position:relative;
  left:4px;
  top:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -o-transform:rotate(45deg);
  border-width:0 2px 2px 0;
}

input[type=radio] {
  -webkit-border-radius:50%;
}

input[type="radio"]:checked:after {
  content:"\00a0";
  display:block;
  position:relative;
  left:1px;
  top:1px;
  height:10px;
  width:10px;
  background:#a5a5a5;
  -webkit-border-radius:50%;
}