//css for user profile mobile
#User_profile_mobile {
  .user_profile_mobile_page {
    width: 100%;
    .profile_body {

      .disable{
        background: none repeat scroll 0 0 #C8CAD2;
        opacity: 0.5;
        z-index: 10000;
      }

      .view_header {
        display: inline-block;
        width: 100%;
        margin-top: 5px;
        .edit_button {
          float: right;
          width: 60px;
          height: 30px;

        }
      }

    }
    .title {
      margin: 5px 0;
      font-size: 16px;
      line-height: 20px;
      padding-left: 15px;
      float: left;
    }
    .tableView {
      margin: 6px 0;
      padding: 0 2px;
      .tableRow {
        background-color: #fffadf;
        border: 1px solid #C8CAD2;
        font-weight: normal;
        margin-top: -1px;
        padding: 8px 4px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
        height: 20px;
      }
      .edu_table{

        height: 50px;
        .a{
          height: 25px;
        }.b{
          height: 25px;
        }
      }
    }
    .mtsbh-seperator {
      height: 1px;
      margin: 8px 8px 0px 2px;
      background: rgb(64, 64, 64);
      -webkit-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
      -moz-box-shadow: -4px -2px 6px 1px rgb(32, 32, 32);
      box-shadow: 0px 0px 1px black;
    }
    .title_lable {
      color: #778899;
      font-size: 13px;
      max-width: 40%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: left;
    }
    .content_value {
      font-size: 13px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      float: right;
    }
    .edit_value{
      width: 92%;
      height: 30px;
      border: 0;
      padding: 0;
      margin-top: -5px;
      font-size: 13px;
      display: inline-block;
      overflow: hidden;
      //text-overflow: ellipsis;
      white-space: nowrap;
      float: right;
      text-align: center;
    }
    .format{
      background-color: #ffffff ;
      padding-top: 5px;
    }

  }

}

#content{
  .modalInput{
    width: 100%;
    float: left;
  }
}

