/* ********************************************overide css */

@font-face {
    font-family: HelveticaBold;
    src: url("HelveticaBold.ttf");
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
}

.rfloat{
    float: right;
}
.lfloat{
    float: left;
}
a{
    text-decoration: none;
}
ul li {
    list-style: none;
}



/* ********************************************overide css */

.ui-bar-deekau{
    background-color: #fffff;
}
#header{
    color: #ffffff;
    background-color: #82D23D;
    height: 29px;
    padding: 7px 0 5px 5px;
    border-bottom: 2px solid #88C840;
    box-shadow: 0 2px 2px -2px #88C840;
}
#logo{
    width: 140px;
    margin: 0 auto;
}


#box_login .password{

}



#back_bar{
    /*    margin-top: 1px;*/
    border-top: 2px solid #ffffff;
    height: 15px;
    background-color: #88C840;
    padding: 5px;
}
div#content{
    margin: 0;
    padding: 0;
    background-color:#ECEFF5 ;
    min-height: 100%;
    padding-bottom: 40px;
    padding-top: 5px;
}
.offer_box{
    height: 112px;
    padding: 7px;
}
.ui-content{
    padding: 0;
}
.ui-mobile-viewport {
    margin: 0;
    overflow-x: hidden;
}
.ui-body-c,.ui-dialog.ui-overlay-c {
    background:none;
}
.ui-shadow-inset{

}
.ui-focus {
    box-shadow: 0 0 3px #387BBE;
}
input.ui-input-text, textarea.ui-input-text {
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    border-style: solid;
    border-width: 1px;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.control-group{
    border-bottom: 1px solid;
    padding: 0.5em 0;
}
.control-group{
    border-color: #CCCCCC;
}
.control-group-row{
    margin-left: -15px;
    margin-right: -1px;
    overflow: hidden;
    padding: 0.3em 15px;
}
label.control-label{
    /*    display: inline-block;*/
    /*    width: 38%;*/
}
.control-span{
    width: 100%;
    display: inline-block;

}
input.ui-input-text {
    display: inline-block;
    width: 100%;

}
span.day, span.end_time, span.start_time,span.checkbox_open_time{
    display: inline-block;

}
span.end_time, span.start_time{
    width: 70px;
}
span.day{
    width: 45px;
}
span.checkbox_open_time{
    width: 65px;
}


input.btn-submit {
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    font-size: 1.5em;
    margin: 0 0 0.3em;
    padding: 0.3em 0;
    width: 100% !important;
}

/*.ui-btn-text {
    color: #ffffff;
    text-shadow: -1px -1px 0 #0F4480;
}*/
.ui-btn-inner.ui-btn-corner-all{
    padding-top: 6px;
    padding-bottom: 6px;
}
/* ***************** css background   ********************  */
.link-back > span,.link-next > span{
    background-image: url("/assets/sprite_icons.png");
    background-size: auto auto;
}
.link-back > span{
    background-position: -2px -65px;
}
.link-next > span{
    background-position: -36px -65px;
}
/* ***************** css background   ********************  */
.link-back{
    margin: 5px;
    height: 15px;
}
span.arrow{
    height: 16px;
    line-height: 1.5em;
    margin-right: 3px;
    margin-top: 0;
    position: static;
    vertical-align: middle;
    width: 10px;
    display: inline-block;
}
.img_box {
    border: 2px solid #CCCCCC;
    display: inline-block;
}
.img_box:hover {
    border: 2px solid #3B5998;
}
.img_box img{
    display: block;
    margin: 1px;
    max-width: 100px;
    max-height: 80px;
}
.offer_detail{
    margin-left: 110px;
    margin-right: 20px;
}
.offer_detail p{
    white-space: normal;
    margin: 0;
}
div.offer_title{
    color: #333333;
    white-space: normal;
    font-size: 12px;
    font-weight: bold;
}
ul.offer_list {
    padding: 0;
    margin: 0;
}
.link-next span.arrow_icon{
    margin-top: 70px;
    margin-left: 7px;
}
.arrow_icon{
    display: block;
    width: 18px;
    height: 18px;
}
a.link-next{
    height: 100%;
    width: 20px;
    cursor: pointer;
    display: block;
    margin-top: -40px;

}
.offer_list li{
    border-bottom: 1px solid #cccccc;
}

/*3 csss tabs merchant */
div#tabs{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
}
#tabs ul{
    padding: 0;
    margin: 0px;
    height: 33px;
}
#tabs ul li{
    float: left;
    width: 14.2857%;
    height: 33px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-color: #cccccc;
}
#tabs ul li div{
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #cccccc;
    padding-top:4px;
    height: 29px;
    margin: 0;

}
#tabs ul li div b{
    display: block;
    width: 100%;
    position: relative;
    text-align: center;


}
#tabs ul li div i{
    position: relative;
    /*    right: 15px;*/
    text-align: center;
    top: -2px;
}
.tabActiveHeader{
    /*    background-color: #FF941D;*/
    /*    background-color: #0AB2E3;*/
    /*    background-image: -moz-linear-gradient(center top , #77D2F1 0%, #0AB2E3 100%);*/
    background-color:#0A89CC ;
    /*    #22fe22;*/
    /*    color: #ffffff;*/
    text-shadow: 0 2px 5px #0AB2E3;
    display: block;
}
.tabpage{
    display: none;
}
#tabContainer{
    overflow: hidden;
}
/*3 csss tabs merchant */
input:-moz-placeholder {
    color: #999999;
}
#footer {
    height: 50px;
}
h2.heading {
    /*    background-color: #90EE90;*/
    background-image: url("/assets/mobile/bg_btn_skype.png");
    border-bottom-color: #FFFFFF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-top-color: #FFFFFF;
    border-top-style: solid;
    border-top-width: 1px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 0.25em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.25em;
}
.ui-shadow, .ui-shadow-inset {
    box-shadow: 0 0 0 transparent;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
}

.loginInner{
    margin: 0 auto;
    max-width: 416px;
    padding: 9px 1px;
}
.loginInner .ground_input{
    padding: 8px 0;
}

.mobile-login-field .input{
    position: relative;
    width: 100%;
    padding: 0;
}
.loginInner form#login .mobile-login-field{
    padding-left: 8px;
    padding-right: 23px;
}
.loginInner form#login .mobile-login-button,.loginInner form#login .mobile-login-link{
    padding: 0 8px;
    margin-top: 16px;
}
.loginInner form#login .mobile-login-link{
    margin-bottom: 16px;
}
.mobile-login-button .btn_sign_in{
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 11px;

}
.loginInner form#login input{
    width: 100%;

}
.loginInner form#login input#user_email{
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom-width: 0px;
}
.loginInner form#login input#user_password{
    padding-top: 11px;
    padding-bottom: 11px;
    margin-bottom: 0px;
    border-radius: 0;

}
.mobile-sign-up-link{
    border-top: 1px solid #D8DFEA;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
}


.signupInner{
    margin: 0;
    width: 100%;
    position: relative;
}
.signupInner form#new_user{
    width: 100%;
}
.mobile-sign-up-field{
    padding: 0 8px;
}
.mobile-sign-up-field .mobile-sign-up-input{
    padding-left: 0px;
    padding-right: 15px;
}
.mobile-sign-up-field .mobile-sign-up-input input{
    width: 100%;
    border-radius: 0;
    border-color: #888888 #999999 #999999;
}
.header_text_social_network{
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #cccccc;
}
.header_text_sign_up{
    padding-top: 8px;
}
.header_text_social_network .mainTitle,.header_text_sign_up .mainTitle{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.mobile-sign-up-button{
    padding-left: 8px;
    padding-right: 8px;
}
.mobile-sign-up-button input.btn_sign_up{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
}
.mobile-sign-up-link-login{
    padding: 8px;
}

/* Box social login network*/
.tw_login{
    display: block;
    text-decoration: none;
    width: 100%;

}
.tw_login .icon-tw{
    background-image: url("/assets/twitter.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 33px;
    width: 100%;


}
.tw_login label{
    text-align: center;
}
.tw_login .icon-fb{
    background-image: url("/assets/facebook.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 33px;
    width: 100%;

}
.tw_login .icon-gp{
    background-image: url("/assets/google.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    height: 33px;
    width: 100%;


}
.tw_login:hover{
    text-decoration: none;
}
.box_sign_in_with_social table{
    width: 100%;
}
.box_sign_in_with_social table td{
    width: 33.333%;
}
.box_sign_in_with_social table td div{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.post_on_service {
    float: left;
    margin: 8px 12px 0 0;
}
.post_on_title {
    color: #9F9F9F;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 17px;
    margin: 0;
}
/*  Iphone checkbox style */
.iPhoneCheckContainer {
    cursor: pointer;
    height: 27px;
    overflow: hidden;
    position: relative;
    float: left;
    margin-right: 15px;
}
.iPhoneCheckContainer input {
    left: 30px;
    opacity: 0;
    position: absolute;
    top: 5px;
}
.iPhoneCheckContainer label {
    cursor: pointer;
    display: block;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: 27px;
    line-height: 17px;
    overflow: hidden;
    padding-top: 5px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: auto;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
    -moz-user-select: none;
}
.iPhoneCheckDisabled {
    opacity: 0.5;
}
label.iPhoneCheckLabelOn {
    background: url("/assets/iphone-style-checkboxes/on.png") no-repeat scroll 0 0 transparent;
    color: white;
    left: 0;
    min-width: 30px;
    padding-top: 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
label.iPhoneCheckLabelOn span {
    padding-left: 8px;
}
label.iPhoneCheckLabelOff {
    background: url("/assets/iphone-style-checkboxes/off.png") no-repeat scroll right 0 transparent;
    color: #8B8B8B;
    right: 0;
    text-align: right;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
label.iPhoneCheckLabelOff span {
    padding-right: 8px;
}
.iPhoneCheckHandle {
    background: url("/assets/iphone-style-checkboxes/slider_left.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 27px;
    left: 0;
    padding-left: 3px;
    position: absolute;
    top: 0;
    width: 0;
}
.iPhoneCheckHandleRight {
    background: url("/assets/iphone-style-checkboxes/slider_right.png") no-repeat scroll right 0 transparent;
    height: 100%;
    padding-right: 3px;
    width: 100%;
}
.iPhoneCheckHandleCenter {
    background: url("/assets/iphone-style-checkboxes/slider_center.png") repeat scroll 0 0 transparent;
    height: 100%;
    width: 100%;
}
.iOSCheckContainer {
    cursor: pointer;
    height: 27px;
    overflow: hidden;
    position: relative;
}
.iOSCheckContainer input {
    left: 30px;
    opacity: 0;
    position: absolute;
    top: 5px;
}
.iOSCheckContainer label {
    cursor: pointer;
    display: block;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 17px;
    font-weight: bold;
    height: 27px;
    line-height: 17px;
    overflow: hidden;
    padding-top: 5px;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: auto;
}
.iOSCheckContainer, .iOSCheckContainer label {
    -moz-user-select: none;
}
.iOSCheckDisabled {
    opacity: 0.5;
}
label.iOSCheckLabelOn {
    background: url("/assets/ios-style-checkboxes/on.png") no-repeat scroll 0 0 transparent;
    color: white;
    left: 0;
    padding-top: 5px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
label.iOSCheckLabelOn span {
    padding-left: 8px;
}
label.iOSCheckLabelOff {
    background: url("/assets/ios-style-checkboxes/off.png") no-repeat scroll right 0 transparent;
    color: #8B8B8B;
    right: 0;
    text-align: right;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
label.iOSCheckLabelOff span {
    padding-right: 8px;
}
.iOSCheckHandle {
    background: url("/assets/ios-style-checkboxes/slider_left.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 27px;
    left: 0;
    padding-left: 3px;
    position: absolute;
    top: 0;
    width: 0;
}
.iOSCheckHandleRight {
    background: url("/assets/ios-style-checkboxes/slider_right.png") no-repeat scroll right 0 transparent;
    height: 100%;
    padding-right: 3px;
    width: 100%;
}
.iOSCheckHandleCenter {
    background: url("/assets/ios-style-checkboxes/slider_center.png") repeat scroll 0 0 transparent;
    height: 100%;
    width: 100%;
}

/* Footer */
#footer {
    background: none repeat scroll 0 0 #E5E1E1;
    border-top: 1px solid #E0E0E0;
    height: 40px;
    position: relative;

}
#footer #inner_footer {
    border-top: 1px solid #F5F5F5;
}
#footer img {
    left: 50%;
    margin-left: -24px;
    position: absolute;
    top: -24px;
}
.box_error_sign_up {
    padding: 8px;
}
.box_error_sign_up label.error{
    color: #ff0000;
}
