<script type="text/javascript">
  $("#day_in_week").live('click',function () {
    console.log("click");
    $(this).toggleClass('arrow_down');
    $(this).next().slideToggle('slow', function() {
      
    });
   
  });

$(".close_check_box").live('click',function(){
  $(this).parent().find("select:first").toggleClass('hide');
  $(this).parent().find("select:last").toggleClass('hide');
});
</script>

<div class="container clearfix">
  <%= form_for([@merchant,@offer],:html =>{:multipart => true,"data-ajax" => "false"} ) do |f| %>
    <% if @offer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
        <ul>
          <% @offer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="control-group">
      <div class="control-group-row">
        <%= f.label :name,t("offer.name")+"*",:class => "control-label" %>
        <span class="control-span">
          <%= f.text_field :name %>
        </span>
      </div>    

      <div class="control-group-row">
        <%= f.label :description,t("offer.description")+ "*", :class => "control-label" %>
        <span class="control-span">
          <%= f.text_area :description %>
        </span>
      </div>

      <div class="control-group-row">
        <%= f.label :price,t("offer.price"), :class => "control-label" %>
        <span class="control-span">
          <%= f.text_field :price %>
        </span>
      </div>

      <div class="control-group-row">
        <%= f.label :value,t("offer.value") , :class => "control-label" %>
        <span class="control-span">
          <%= f.text_field :value %>
        </span>
      </div>

      <div id="day_in_week" onclick=""> <span></span>Hours of operations</div>
      <div id="content_day_in_week" style="display: none">
        <%= f.fields_for :day_in_weeks do |day_in_week| %>
          <div class="control-group-row day_in_week">
            <span> <%= t("day_in_week.mon") %></span>
            <%= day_in_week.hidden_field :_id,:name => "offer[day_in_weeks][][_id]",:value => "1" %>
            <%= time_select_tag "offer[day_in_weeks][][start_time]", "09:00", "" %>
            <%= time_select_tag "offer[day_in_weeks][][end_time]", "17:00","" %>
            <span class="close_check_box"><input type="checkbox" value="1" name="offer[day_in_weeks][][is_close]" id="offer_day_in_weeks_is_close" data-role="none"/>close</span>
          </div>
          <div class="control-group-row day_in_week">
            <span> <%= t("day_in_week.tue") %> </span>
            <%= day_in_week.hidden_field :_id,:name => "offer[day_in_weeks][][_id]",:value => "2" %>
            <%= time_select_tag "offer[day_in_weeks][][start_time]", "09:00","" %>
            <%= time_select_tag "offer[day_in_weeks][][end_time]", "17:00","" %>
            <span class="close_check_box"><input type="checkbox" value="1" name="offer[day_in_weeks][][is_close]" id="offer_day_in_weeks_is_close" data-role="none"/>close</span>
          </div>
          <div class="control-group-row day_in_week">
            <span> <%= t("day_in_week.wed") %> </span>
            <%= day_in_week.hidden_field :_id,:name => "offer[day_in_weeks][][_id]",:value => "3" %>
            <%= time_select_tag "offer[day_in_weeks][][start_time]", "09:00", "" %>
            <%= time_select_tag "offer[day_in_weeks][][end_time]", "17:00", "" %>
            <span class="close_check_box"><input type="checkbox" value="1" name="offer[day_in_weeks][][is_close]" id="offer_day_in_weeks_is_close" data-role="none"/>close</span>
          </div>
          <div class="control-group-row day_in_week">
            <span> <%= t("day_in_week.thu") %></span>
            <%= day_in_week.hidden_field :_id,:name => "offer[day_in_weeks][][_id]",:value => "4" %>
            <%= time_select_tag "offer[day_in_weeks][][start_time]", "09:00","" %>
            <%= time_select_tag "offer[day_in_weeks][][end_time]", "17:00","" %>
            <span class="close_check_box"><input type="checkbox" value="1" name="offer[day_in_weeks][][is_close]" id="offer_day_in_weeks_is_close" data-role="none"/>close</span>
          </div>
          <div class="control-group-row day_in_week">
            <span> <%= t("day_in_week.fri") %></span>
            <%= day_in_week.hidden_field :_id,:name => "offer[day_in_weeks][][_id]",:value => "5" %>
            <%= time_select_tag "offer[day_in_weeks][][start_time]", "09:00","" %>
            <%= time_select_tag "offer[day_in_weeks][][end_time]", "17:00","" %>
            <span class="close_check_box"><input type="checkbox" value="1" name="offer[day_in_weeks][][is_close]" id="offer_day_in_weeks_is_close" data-role="none"/>close</span>
          </div>
          <div class="control-group-row day_in_week">
            <span> <%= t("day_in_week.sat") %></span>
            <%= day_in_week.hidden_field :_id,:name => "offer[day_in_weeks][][_id]",:value => "6" %>
            <%= time_select_tag "offer[day_in_weeks][][start_time]", "09:00","hide" %>
            <%= time_select_tag "offer[day_in_weeks][][end_time]", "17:00","hide" %>
            <span class="close_check_box"><input type="checkbox" value="1" name="offer[day_in_weeks][][is_close]" id="offer_day_in_weeks_is_close" data-role="none" checked="checked"/>close</span>
          </div>
          <div class="control-group-row day_in_week">
            <span> <%= t("day_in_week.sun") %></span>
            <%= day_in_week.hidden_field :_id,:name => "offer[day_in_weeks][][_id]",:value => "0" %>
            <%= time_select_tag "offer[day_in_weeks][][start_time]", "09:00" ,"hide"%>
            <%= time_select_tag "offer[day_in_weeks][][end_time]", "17:00","hide" %>
            <span class="close_check_box"><input type="checkbox" value="1" name="offer[day_in_weeks][][is_close]" id="offer_day_in_weeks_is_close" data-role="none" checked="checked"/>close</span>
          </div>
        <% end %>
      </div>
    </div>
    <input type="submit" id="" value="Create" class="btn-submit" style=""></input>
  <% end %>
</div>