<%= javascript_include_tag "validate_form.js" %>
<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
        <% @offer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    <span class="offer_name help-inline"></span>
  </div>

  <div class="control-group">
    <%= f.label :primary_address %>
    <%= f.text_field :primary_address ,:class => 'validate'%>
    <span class="offer_primary_address help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
    <span class="description help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
    <span class="offer_price help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
    <span class="offer_value help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
    <span class="offer_discount help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
    <span class="offer_link help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
    <span class="offer_currency help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :timezone %><br />
    <%= f.text_field :timezone %>
    <span class="offer_timezone help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :city_name %><br />
    <%= f.text_field :city_name %>
    <span class="offer_city_name help-inline"></span>
  </div>

  <div class="field">
    <%= f.label :day_in_week %><br />
    <%= f.text_field :day_in_week %>
    <span class="offer_day_in_week help-inline"></span>
  </div>

  <div class="actions">
    <%=  f.submit 'Submit', :class=>'btn btn-primary btn-large' %>
  </div>
<% end %>
