
<div class="post_offer_content">
  <!-- The file upload form used as target for the file upload widget -->

  <form   data-url = "/offers/create/<%= @merchants[0].id %>" id = "fileupload" method="post" enctype= "multipart/form-data"  >
    <table class="table_post_offer">
      <tbody >
      <tr >
        <td class="description" >
          <textarea class='textInput' id="Offer_description" placeholder="What's your offer description? " name = "offer[description]"  rel="popover" data-placement="right" data-content="The offer's description can't be empty!"></textarea>
          <div class ="footer_postoffer lfloat  fileupload-buttonbar">
            <div class ="l_f">
              <div class="merchant_type_offer lfloat">

                <input id="type_offer" type="button" class = 'btn type_offer' href='#post_offer' value='Type'  rel="popover" data-placement="bottom" data-content="The offer's type not set yet." title="Type offer"/>
                <input id="offer_category_id" type= 'hidden' value="" name="offer[category_id]"/>
                <input id="offer_category_name" type= 'hidden' value="" name="offer[category_name]"/>
              </div>
              <div class="row">
                <a id="repeat_time" href="#post_offer" class="btn btn-large repeat_time" rel="popover" data-placement="bottom" >Time</a>
              </div>
              <div class="open_hour">
              </div>
            </div>
            <div class="r_f">
              <div class="button_post_offer rfloat" >
                <button class="btn btn-primary start ">
                  <i class="icon-upload icon-white"></i>
                  <span>Post</span>
                </button>
              </div>
              <div class="public_offer rfloat">
                <select class="chosen" style="width:100px;">
                  <option>Public</option>
                  <option>Friends</option>
                  <option>Only me</option>
                </select>
              </div>
            </div>
          </div>
        </td>
        <td class="images_offer">
          <div class="offer_images">
            <div id="image_upload" class="drag_drop_area " rel="popover" data-placement="bottom" data-content="Images is empty or image's type is wrong. Please choose image file follow type: gif, jpeg, png, jpg, swf, bmp" title="Offer image">
              <div class="btn  fileinput-button" >
                <h5 class="drag_drop_title">Drag & Drop</h5>
                <input id="fileinput" type="file"  name="files[]"  />
                <div class="switch_to_old">
                  or
                  <span style="color: #88C840; cursor: pointer;">Add photo</span>

                </div>
              </div>
            </div>
            <div class="well" id="result" ><p></p></div>

          </div>
        </td>
      </tr>

      </tbody>
    </table>

    <div class="ui-widget" id="type_offer_select">
      <input id="offer_type"  class="type_offer_select" placeholder="please type to get offer's type "/>
    </div>

    <input type="hidden" class="mon" value="false" name="offer[mon]"/>
    <input type="hidden" class="tue" value="false" name="offer[tue]"/>
    <input type="hidden" class="wed" value="false" name="offer[wed]"/>
    <input type="hidden" class="thu" value="false" name="offer[thu]"/>
    <input type="hidden" class="fri" value="false" name="offer[fri]"/>
    <input type="hidden" class="sat" value="false" name="offer[sat]"/>
    <input type="hidden" class="sun" value="false" name="offer[sun]"/>

    <!-- The table listing the files available for upload/download -->
    <div id="offer_show">
      <table class="table table-striped offer_list">
        <tbody class="files offer_show" data-toggle="modal-gallery" data-target="#modal-gallery">

        </tbody>
      </table>
    </div>
  </form>


</div>

<!-- modal-gallery is the modal dialog used for the image gallery -->




<script type="text/javascript">
  // add params post back, modify submit
  $(document).ready(function(){
    $('#fileupload').fileupload('option', {
      recalculateProgress: false
    });
    $('#fileupload')
      .bind('fileuploadadded', function (e, data) {
        $('#result').show()
        $('#image_upload').hide()

      })
      .bind('fileuploaddone', function (e, data) {
                $('#image_upload').show()
                $('#result').hide()
                $('#Offer_description').attr('value',"")
                $('#offer_category_id').attr('value',"")
                $('#offer_category_name').attr('value',"")
            })
      .bind('fileuploadfailed', function (e, data) {alert('upload fail')})


  });
//  //==============================================
////       edit url destroy image
  $.widget('blueimpUIX.fileupload', $.blueimpUI.fileupload, {

    options: {
      authenticityTokenName: 'request_authenticity_token',
      destroy: function (e, data) {
        var fu = $(this).data('fileupload');
        data.url = "/images/" + data.url + "/delete";
        $.blueimpUI.fileupload.prototype
        .options.destroy.call(this, e, data);
      }
    }
  });
</script>


<script id="template-upload" type="text/x-tmpl">
  {% for (var i=0, file; file=o.files[i]; i++) { %}
  <div class="template-upload fade ">
    <div class="preview"><span class="fade"></span></div>
    {% if (file.error) { %}
    <div class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</div>
    {% } else if (o.files.valid && !i) { %}
    <div>

      <div class="progress progress-success progress-striped active hide"><div class="bar" style="width:0%;"></div></div>
    </div>
    <div class="start hide">{% if (!o.options.autoUpload) { %}
      <button class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        <span>{%=locale.fileupload.start%}</span>
      </button>
      {% } %}</div>
    {% } else { %}
    <div colspan="2"></div>
    {% } %}
  </div>
  {% } %}
</script>
 <!--The template to display files available for download-->




<script id="template-download" type="text/x-tmpl">
  {% for (var i=o.files.length-1, file; file=o.files[i]; i-- ) {  %}
  <tr class="template-download fade">
    <td>
      <div class="offer_content">
        <table class="offer_table">
          <tbody>
          <tr class="header">
            <td>

              <div class="header_offer_show_1 lfloat">

              </div>
            </td>
            <td>

              <div class="header_offer_show_2 ">

                <input class="type_offer_show" value="{%= file.category_name%}" />
                <input class="time_offer_show" value="abc" />

              </div>
            </td>
          </tr>
          <tr>
            <td class="description">
              <div   class="description_content">
                {%=file.description%}
              </div>
              <div class="footer_offer_show lfloat">
                77/56 nhat chi mai, tan binh, hcm
              </div>
            </td>
            <td class="preview image_offer">{%  if (file.images[0].url) { %}
              <a href="{%=file.images[0].url.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img class="image_content" style="" src="{%=file.images[0].url.url%}"/></a>
              {% } %}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>


  </tr>
  {% } %}
</script>

<script>
    /*global jQuery, window, document */
    (function ($) {
        'use strict';
        var result = $('#result'),
                load = function (e) {
                    e = e.originalEvent;
                    e.preventDefault();
                    console.log(e);
                    if ((e.dataTransfer || e.target).files !== undefined){
                        window.loadImage(

                                (e.dataTransfer || e.target).files[0],
                                function (img) {
                                    result.children().replaceWith(img);
                                },
                                {
                                    maxWidth: result.children().outerWidth(),
                                    canvas: true
                                },
                                $('#image_upload').hide(),
                                $("#result").show()
                        );
                    }




                };
        $(document)
                .on('dragover', function (e) {
                    e = e.originalEvent;
                    e.preventDefault();
                    e.dataTransfer.dropEffect = 'copy';
                })
                .on('drop', load);
        $('#image_upload').on('change', load);
    }(jQuery));
</script>

