<% if !@offers.nil? %>
  <% @offers.each_with_index do |offer,offset| %>
    <li class="offer ui-btn ui-btn-icon-right ui-li ui-li-has-alt ui-corner-bottom ui-btn-up-c" data-offset="<%= @next_offset %>" data-theme="c">
      <div class="ui-btn-inner ui-li ui-li-has-alt">
        <div class="ui-btn-text">
          <a class="ui-link-inherit" href="<%= offer_path(offer)%>">
            <h3 class="ui-li-heading"><%=  offer.name %></h3>
            <p class="ui-li-desc"><%=  offer.description %></p>
          </a>
          <div class="ui-corner-all ui-controlgroup ui-controlgroup-horizontal" data-type="horizontal" data-role="controlgroup">
            <%= link_to 'Edit', edit_offer_path(offer) ,'data-role'=>'button' %>
            <a href="#" data-role="none" title="share on facebook"><img class='author-image-button' src="assets/mobile/facebook.png" /></a>
            <a href="#" data-role="none" title="share on twiter"><img class='author-image-button' src="assets/mobile/twitter.png" /></a>
            <a href="#" data-role="none" title="add to google+"><img class='author-image-button' src="assets/mobile/google.png" /></a>
          </div>
        </div>
      </div>
      <a class="ui-li-link-alt ui-btn ui-corner-br ui-btn-up-c" rel="nofollow" data-method="delete" data-icon="delete" data-confirm="Are you sure?" href="/offers/4fa3b4627a03714632000004" title="Destroy" data-theme="c">
        <span class="ui-btn-inner">
          <span class="ui-btn-text"></span>
          <span class="ui-btn ui-btn-up-b ui-btn-icon-notext ui-btn-corner-all ui-shadow" title="" data-theme="b">
            <span class="ui-btn-inner ui-btn-corner-all">
              <span class="ui-btn-text"></span>
              <span class="ui-icon ui-icon-delete ui-icon-shadow"></span>
            </span>
          </span>
        </span>
      </a>
    </li>
    <% @next_offset = @next_offset + 1 %>
  <% end %>
<% end %>