<div data-role='page' data-url="<%= edit_offer_path(@offer) %>">
  <div data-role="header" data-theme="e">
    <h1>Deekau</h1>
  </div>
  <div class="m_width m_text_center m_min_width">
    <div data-role='content' >
      <h1>Editing offer</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @offer %> |
      <%= link_to 'Back', offers_path %>

    </div>
  </div>
  <div data-role='footer'>

  </div>
</div>
