<script type="text/javascript">
  $(document).bind('pageinit' ,function(){

    function test(){alert('123');}
    $("#test").click(function(){
      alert('123');

      $("#test").die('click');
      $("#test").unbind('click');
      return false;
    });
  });
</script>
<h1>Editing offer</h1>

<%= render 'form' %>

<%= link_to 'Show', @offer %> |
<%= link_to 'Back', offers_path %>
<a href="#" id="test">test ajax</a>