<div data-role='page' data-url="<%= offers_path %>">
  <div data-role="header" data-theme="e" data-position="fixed">
    <h1>Deekau</h1>
  </div>
  <div class="m_width m_text_right m_min_width m_text_center">
    <div data-role='content' >
      <%= render "shared/session_user" %>
      <br /><br />
      <% if current_user and current_user.merchant == nil %>
        <%= link_to "You are Merchant?",new_merchant_path ,'data-role'=>'button','data-theme'=>'i'%>
      <% elsif current_user and current_user.merchant  %>
        <%= link_to "My Merchant",current_user.merchant ,'data-role'=>'button'%>
      <% end %>
      <% if current_user and current_user.merchant != nil %>
        <%= link_to 'New offer', new_offer_path , 'data-role'=>'button' ,'data-theme'=>'c'%>
      <% end %>
      <br style="clear:both;" />
      <br style="clear:both;" />
      <% #if current_user and current_user.merchant != nil %>
        <ul data-role="listview"  data-inset="true" data-divider-theme="b">
          <li data-role="list-divider" data-divider-theme="b" >Offers</li>
            <% @offers.each_with_index do |offer,offset| %>
            <li data-offset="<%= offset + 1 %>" class="offer">
              <a href="<%= offer_path(offer)%>">
                <h3><%=  offer.name %></h3>
                <p><%=  offer.description %></p>
              </a>
              <%= link_to 'Destroy', offer, confirm: 'Are you sure?', method: :delete ,'data-icon'=>'delete'%>
              <div data-role="controlgroup" data-type="horizontal">
                <%= link_to 'Edit', edit_offer_path(offer) ,'data-role'=>'button' %>
                <a href="#" data-role="none" title="share on facebook"><img class='author-image-button' src="assets/mobile/facebook.png" /></a>
                <a href="#" data-role="none" title="share on twiter"><img class='author-image-button' src="assets/mobile/twitter.png" /></a>
                <a href="#" data-role="none" title="add to google+"><img class='author-image-button' src="assets/mobile/google.png" /></a>
              </div>
            </li>
          <% end %>
        </ul>
        <br />
        <br />
      <% #end %>
      
    </div>
  </div>
  <div data-role='footer'>

  </div>
</div>


<%= content_for :jsScript do %>
<script type="text/javascript">
  $(document).bind('pageinit',function(){
$('#lastPostLoader').hide();

      $(window).scroll(function(){
        var h_document = $(document).height();
        var wall = h_document - 100;
        var h_window = $(window).height();
        if  ($(window).scrollTop() >= ( wall -  h_window)){
          var $this = $(this), handler = arguments.callee;
          $this.unbind('scroll', handler)
          var offset = $(".offer:last").attr("data-offset");
          $('#lastPostLoader').show();
          $.get("/offers/get_more_offers?offset="+ offset,function(data){
            $('#lastPostLoader').hide();
            if (data != "") {
              $(".offer:last").after(data);
              $(".offer").trigger( "create" );
              $(".offer").trigger('updatelayout');
              $this.scroll(handler);
            }
          });
        }
      });
  });

  </script>
<% end %>




