<br />
<div class='span4 offset4' >
  <% if current_user and current_user.merchant == nil %>
    <%= link_to t("offers.index.you_are_merchant"),new_merchant_path %>
  <% elsif current_user and current_user.merchant  %>
    <%= link_to "My Merchant",current_user.merchant %>
  <% end %>
  <% if current_user and current_user.merchant != nil %>
    <%= link_to 'New offer', new_offer_path , 'data-role'=>'button' ,'data-theme'=>'c'%>
  <% end %>
</div>

<br style="clear:both;" />

<ul data-role="listview"  data-inset="true">
  <li data-role="list-divider"  >Offers</li>
  <% unless @offers.empty? %>
    <% @offers.each_with_index do |offer,offset| %>
      <li data-offset="" class="offer">
        <a href="<%= offer_path(offer)%> ">
          <h3><%=  offer.name %></h3>
          <p><%=  offer.description %></p>
        </a>
        <%= link_to 'Destroy', offer, confirm: 'Are you sure?', method: :delete ,'data-icon'=>'delete'%>
        <div data-role="controlgroup" data-type="horizontal">
          <%= link_to 'Edit', edit_offer_path(offer) ,'data-role'=>'button' %>
          <a href="#" data-role="none" title="share on facebook"><img class='author-image-button' src="assets/mobile/facebook.png" /></a>
          <a href="#" data-role="none" title="share on twiter"><img class='author-image-button' src="assets/mobile/twitter.png" /></a>
          <a href="#" data-role="none" title="add to google+"><img class='author-image-button' src="assets/mobile/google.png" /></a>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>
<div id ="lastPostLoader" style="position:static; bottom: 10px; width:100%;height: 40px;">
  <table  style="text-align: center; width: 100%; margin-top: 20px;">
    <tr>
      <td><%= image_tag("bigLoader.gif" , :style=>"width:40px;height:40px;") %></td>
    </tr>
  </table>
</div>

<%= content_for :jsScript do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var flag_scroll = 1;
      $('#lastPostLoader').hide();

      function get_more_when_can_not_scroll()
      {
        flag_scroll = 0;
        if($(document).height()- $(window).height() == 0)
        {
          var offset = $(".offer:last").attr("data-offset");
          $('#lastPostLoader').show();
          $.get("/offers/get_more_offers?offset="+ offset,function(data){
            $('#lastPostLoader').hide();
            if (data != "") {
              $(".offer:last").after(data);
              $(".offer").trigger( "create" );
              $(".offer").trigger('updatelayout');
              get_more_when_can_not_scroll();
            }

          });
        }
        else
          flag_scroll = 1;

      }
      get_more_when_can_not_scroll();
      $(window).scroll(function(){
        if (flag_scroll == 1){
          var h_document = $(document).height();
          var wall = h_document - 100;
          var h_window = $(window).height();
          if  ($(window).scrollTop() >= ( wall -  h_window)){
            var $this = $(this), handler = arguments.callee;
            $this.unbind('scroll', handler)
            var offset = $(".offer:last").attr("data-offset");
            $('#lastPostLoader').show();
            $.get("/offers/get_more_offers?offset="+ offset,function(data){
              $('#lastPostLoader').hide();
              if (data != "") {
                $(".offer:last").after(data);
                $(".offer").trigger( "create" );
                $(".offer").trigger('updatelayout');
                $this.scroll(handler);
              }
            });
          }
        }
      });

    });

  </script>
<% end %>