<!-- Dieu :D -->
<%= javascript_include_tag "vote_favourite.js" %>
<div id="left_container">
  <div id="left_col"> Left </div>
</div>
<div id="content_col" class="home_fix_layout has_right_col has_left_col home_wider_content">
  <div id="right_col"> Right </div>
  <div id="content_area">




    <% unless @offers.empty? %>
      <% @offers.each_with_index do |offer,offset| %>
        <div class="row-fluid offer" data-offset="<%=  offset %>"  style="padding-top: 20px;">

          <%= link_to(image_tag(get_image(offer.images.first,$OFFER_IMG_NULL)),"#",:class => "img_box lfloat") %>

          <div class="offer_description">
            <h4><%#= offer.merchant.name  %> </h4>
            <p> <a href="<%= merchant_offer_path(offer.merchant,offer) %>"><%= offer.description %></a>
              <a class="btn-corner-all" href="<%= merchant_offer_path(offer.merchant,offer) %>">
                <span class="icon_detail"></span>
              </a>
            </p>
            <a href="#" prefix="merchants/<%= offer.merchant.id.to_s %>/offers" class="favourite" status="<%= check_favourite(offer) %>" object-id="<%= offer.id %>"> <img style="width:50px;height:50px;" src="<%= get_favourite_image(offer) %>"  />  </a>

          </div>
          <div class="offer_bottom" style="background-color: #DCECFA; height: 30px">
            <%= image_tag("icon_categories/Food & Drink.png",:class => "offer_icon") %>
            <%= image_tag("shared.png",:class => "rfloat") %>
          </div>
        </div>





      <% end %>
    <% end %>




  </div>
  <div id="bottom_content"></div>
</div>









<div id ="lastPostLoader" style="position:static; bottom: 10px; width:100%;height: 40px;">
  <table  style="text-align: center; width: 100%; margin-top: 20px;">
    <tr>
      <td><%= image_tag("bigLoader.gif" , :style=>"width:40px;height:40px;") %></td>
    </tr>
  </table>
</div>

<%= content_for :jsScript do %>
  <%= javascript_include_tag "setup_html/offers.js" %>
<% end %>
<%= javascript_include_tag "setup_html/offers.js" %>
<script type="text/javascript">
  var current_user = "<%= current_user.blank? ? 0 : 1 %>";
  function build_scroll_html_offer(status , image, des,  merchant_id,  _id,  offset){ // Dieu :D

    var html = '';
    var img_url= 'http://files.list.co.uk/images/2011/12/19/mg-3394purslane-LST092298-0002t.jpg';
    var description = '';
    var favourite_image = '/assets/icon_categories/unvote_star.jpeg';
    if (status == '1') {
      favourite_image = '/assets/icon_categories/vote_star.jpeg';
    }
  
    if (image != 'undefined' && image != '')
      img_url = image.url.url
    if (des != 'undefined' && des!= '')
      description = des
    html = html + '<div class="row-fluid offer" style="padding-top: 20px;" data-offset="' + offset   +'" >'+
      '<a href="#" class="img_box lfloat"><img src="'+ img_url +'" /></a>'+
      '<div class="offer_description">'; 
  
    html += '<p> <a href="/merchants/' + merchant_id + '/offers/'+ _id +'" >'+ description +'</a> <a class="btn-corner-all" href="#">'+
      '<span class="icon_detail"></span>'+
      '</a>' +
      '</p><a href="#" prefix="merchants/'+ merchant_id +'/offers" class="favourite" status="' + status + '" object-id="' + _id + '"> <img style="width:50px;height:50px;" src="' + favourite_image + '"  />  </a></div>';
    html += '<div class="offer_bottom" style="background-color: #DCECFA; height: 30px">' +
      '<img src="/assets/icon_categories/Food & Drink.png" class="offer_icon" />'+
      '<img src="/assets/shared.png" class="rfloat" >' +
      '</div>'+
      '</div>';

    return html;
  }
  $(document).ready(function(){
      
    // set flag scroll = 1 for enable scroll event
    var flag_scroll = 1;
    $('#lastPostLoader').hide();
    /*function get_more_when_can_not_scroll()
    {
      flag_scroll = 0; // lock scroll event when run this
      if($(document).height()- $(window).height() == 0)   // if view show little offer and can not scroll
      {
        var offset = parseInt($(".offer:last").attr("data-offset")) + 1;
        $('#lastPostLoader').show();
        $.get("/offers/get_more_offers?offset="+ offset,function(data){
          $('#lastPostLoader').hide();
          if (data != "") {
            $(".offer:last").after(data);
            $(".offer").trigger( "create" );
            $(".offer").trigger('updatelayout');
            get_more_when_can_not_scroll();   // run to can scroll or not have offer to show any more
          }

        });
      }
      else
        flag_scroll = 1; // enable scroll event when 

    }
    get_more_when_can_not_scroll();*/
    $(window).scroll(function(){
      if (flag_scroll == 1){
        var h_document = $(document).height();
        var wall = h_document - 100;
        var h_window = $(window).height();
        if  ($(window).scrollTop() >= ( wall -  h_window)){
          var $this = $(this), handler = arguments.callee;
          $this.unbind('scroll', handler)
          var offset = parseInt($(".offer:last").attr("data-offset")) + 1;
          $('#lastPostLoader').show();
          var image = '';
          $.get("/offers/get_more_offers?offset="+ offset,function(data){
              
            var html = '';
            if (data != "") {
              for (var i = 0 ; i< data.length ; i++){
                if (data[i].images != null)
                  image = data[i].images[0] 
                html = html + build_scroll_html_offer(data[i].status , image, data[i].description,  data[i].merchant_id,  data[i]._id,  offset);
                offset = offset + 1;
              }
              
              $(".offer:last").after(html);
              //$(".offer").trigger( "create" );
              //$(".offer").trigger('updatelayout');
              $this.scroll(handler);
            }
            $('#lastPostLoader').hide();
          });
        }
      }
    });

  });

</script>
