

<div data-role="page" data-them="deekau" id="mypage">
  <div data-role="header" data-theme="deekau">
    <div id="header">
      <div id="logo">
        <%=  link_to (image_tag("logo.png",:style => "height: 29px;")) %>
      </div>
      <div id="box_login" style="padding-top: 5px;">
        <a href="/user/login" class="ui-link">Sign in</a>
      </div>
    </div>
    <div id="back_bar">
      <a data-rel="back" data-direction="reverse" class="link-back" href="#" style="color: #ffffff; font-weight: bold; font-size: 13px;">
        <span class="arrow"></span>Back
      </a>
    </div>
  </div>
  <div data-role="content" >
    <div id="content">
      <ul class="offer_list" data-role="listview">
        <% @offers.each_with_index do |offer,offset| %>
          <li class="offer" data-offset="<%=  offset %>">
            <div class="offer_box">
              <%= link_to(image_tag(get_image(offer.images.first,$OFFER_IMG_NULL)),"#",:class => "img_box lfloat")%>
              <div class="offer_detail" >
                <div class="offer_title">

                </div>
                <p class="lfloat"><%= offer.description %> </p>
              </div>
              <div class="rfloat" style="width: 20px; height: 100%; display: block; margin-top: -10px;">
                <a class="link-next" href="/"><span class="arrow_icon"></span></a>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div data-role="footer" data-theme="deekau-footer">
    <div id="footer"></div>
  </div>

  <div id ="lastPostLoader" style="position:static; bottom: 10px; width:100%;height: 40px;">
    <table  style="text-align: center; width: 100%; margin-top: 20px;">
      <tr>
        <td><%= image_tag("bigLoader.gif" , :style=>"width:40px;height:40px;") %></td>
      </tr>
    </table>
  </div>
  <h1 id="test"></h1>




  <%= content_for :jsScript do %>
    <%= javascript_include_tag "setup_html/offers.js" %>
    <script type="text/javascript" >
      
    </script>
  <% end %>
  <script type="text/javascript">
    
    $("#mypage").live('pageinit',function(){
      
      var current_user = "<%= current_user.blank? ? 0 : 1 %>";
      function build_scroll_html_offer_mobile(status , image, des,  merchant_id,  _id,  offset){ // Dieu :D
        var html = '';
        var img_url= 'http://files.list.co.uk/images/2011/12/19/mg-3394purslane-LST092298-0002t.jpg';
        var description = '';
        if (image != 'undefined' && image != '')
          img_url = image.url.url
        if (des != null)
          description = des
        html = html + '<li class="offer" data-offset="'+  offset +'">'+
          '<div class="offer_box">' +
          '<a href="#" class="img_box lfloat"><img src="' + img_url + '" /></a>'+
          '<div class="offer_detail" >'+
          '<div class="offer_title">'+
                
          '</div>'+
          '<p class="lfloat">'+  description + '</p>'+
          '</div>';

        html += '<div class="rfloat" style="width: 20px; height: 100%; display: block; margin-top: -10px;">'+
          '<a class="link-next" href="/"><span class="arrow_icon"></span></a>'+
          '</div>'+
          '</div>'+
          '</li>';

        return html;
      }
      
      
      
      // set flag scroll = 1 for enable scroll event
      var flag_scroll = 1;
      $('#lastPostLoader').hide();
      /*function get_more_when_can_not_scroll()
      {
        flag_scroll = 0; // lock scroll event when run this
        if($(document).height()- $(window).height() == 0)   // if view show little offer and can not scroll
        {
          var offset = parseInt($(".offer:last").attr("data-offset")) + 1;
          $('#lastPostLoader').show();
          $.get("/offers/get_more_offers?offset="+ offset,function(data){
            $('#lastPostLoader').hide();
            if (data != "") {
              $(".offer:last").after(data);
              $(".offer").trigger( "create" );
              $(".offer").trigger('updatelayout');
              get_more_when_can_not_scroll();   // run to can scroll or not have offer to show any more
            }

          });
        }
        else
          flag_scroll = 1; // enable scroll event when 

      }
      get_more_when_can_not_scroll();*/
      $(window).scroll(function(){
        if (flag_scroll == 1){
          var h_document = $("#mypage").height();
          var wall = h_document - 100;
          var h_window = $(window).height();
          //alert($(window).scrollTop());
          //alert(wall-  h_window);
          //alert(wall);
          //alert(h_window);
          if  ($(window).scrollTop() >= ( wall -  h_window)){
            //alert($(window).scrollTop());
            //alert(wall-  h_window);
            //alert(wall);
            //alert(h_window);
            var $this = $(this), handler = arguments.callee;
            $this.unbind('scroll', handler)
            var offset = parseInt($(".offer:last").attr("data-offset")) + 1;

            $('#lastPostLoader').show();
                         
            var image = '';
            $.post("/offers/get_more_offers?offset="+ offset,function(data){
              
              var html = '';
              if (data != "") {
                for (var i = 0 ; i< data.length ; i++){
                  //alert(data[i].description);
                  if (data[i].images != null)
                    image = data[i].images[0] 
                  html = html + build_scroll_html_offer_mobile(data[i].status , image, data[i].description,  data[i].merchant_id,  data[i]._id,  offset);
                  offset = offset + 1;
                  //alert(html);
                }
                
                $(".offer:last").after(html.toString());
                $this.scroll(handler);
              }
              $('#lastPostLoader').hide();
            });
          }
        }
      });

    });

  </script>


</div>






