<p id="notice"><%= notice %></p>

<%= render 'image/form_upload' ,:object => @offer %>
<p>
  <b>Name: </b>
  <%= @offer.name %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>


<%#= link_to 'Edit', edit_offer_path(@offer) %> |
<%#= link_to 'Back', offers_path %>
