<div data-role='page' data-url="<%= merchant_offer_path(@offer) %>">
<%= render 'image/form_upload' ,:object => @offer %>
    <h1>Deekau</h1>
  </div>
  <div class="m_width m_text_center m_min_width">
    <div data-role='content' >
      <p id="notice"><%= notice %></p>

      <p>
        <b>Name: </b>
        <%= @offer.name %>
      </p>

      <p>
        <b>Description:</b>
        <%= @offer.description %>
      </p>


      <%= link_to 'Edit', edit_merchant_offer_path(@offer) %> |
      <%= link_to 'Back', merchant_offers_path %>

    </div>
  </div>
  <div data-role='footer'>

  </div>
</div>
