<div data-role="page" data-them="deekau">
  <div data-role="header" data-theme="deekau">
    <div id="header">
      <div id="logo">
        <%=  link_to (image_tag("logo.png",:style => "height: 29px;")) %>
      </div>
      <div id="box_login" style="padding-top: 5px;">
        <a href="/user/login" class="ui-link">Sign in</a>
      </div>
    </div>
    <div id="back_bar">
      <a data-rel="back" data-direction="reverse" class="link-back" href="#" style="color: #ffffff; font-weight: bold; font-size: 13px;">
        <span class="arrow"></span>Back
      </a>
    </div>
  </div>
  <div data-role="content" >
    <div id="content">
      <ul class="offer_list" data-role="listview">
        <li>
          <div class="offer_box">
            <%= link_to(image_tag("THUMB_01.jpg"),"#",:class => "img_box lfloat")%>
            <div class="offer_detail" >
              <div class="offer_title">
                Bright Mezzanine Studio
              </div>
              <p class="lfloat">A second bedroom again with A second bedroom again with A second bedroom again with A second bedroom again with</p>
            </div>
            <div class="rfloat" style="width: 20px; height: 100%; display: block; margin-top: -10px;">
              <a class="link-next" href="/"><span class="arrow_icon"></span></a>
            </div>
          </div>
        </li>
        <li>
          <div class="offer_box">
            <%= link_to(image_tag("THUMB_01.jpg"),"#",:class => "img_box lfloat")%>
            <div class="offer_detail" >
              <div class="offer_title">
                Bright Mezzanine Studio
              </div>
              <p class="lfloat">A second bedroom again with A second bedroom again with A second bedroom again with A second bedroom again with</p>
            </div>
            <div class="rfloat" style="width: 20px; height: 100%; display: block; margin-top: -10px;">
              <a class="link-next" href="/"><span class="arrow_icon"></span></a>
            </div>
          </div>
          </li>
      </ul>
    </div>
  </div>
  <div data-role="footer" data-theme="deekau-footer">
    <div id="footer"></div>
  </div>
</div>
