<%= stylesheet_link_tag "mobile/offer.css" %>
<script type="text/javascript">
  $('div.arrow_down_black').live('click', function () {
    
    var link = $(this).parent().find('a:first');
    var authenticity_token = $("#authenticity_token").text();
    var data ="authenticity_token="+authenticity_token;
    if ($(this).hasClass('disable_ajax')){
      $("#sub").show();
     
    }
    else{
      $.ajax({
        type: "POST",
        url: "/categories/"+ link.text().trim(),
        data: data,
        success: function(msg){
          var content = '<ul  data-role="listview">';
          $.each(msg, function(i,post){
                  
            content += '<li class="ui-li ui-li-static ui-body-c">';
            content += post.name;
            content += '</li>';
          });
          content += '</ul>';
          console.log(content);
          $("#sub").append(content);
        
          return false;
        },
        error: function(e){
       
          return false;
        }
      });
    }
   
    $(this).removeClass('arrow_down_black'); 
    $(this).addClass('arrow_up_black');
    $(this).addClass('disable_ajax');
    return false;
  });
  $('div.arrow_up_black').live('click', function () {
    $("#sub").hide();
    $(this).removeClass('arrow_up_black'); 
    $(this).addClass('arrow_down_black');
  });
  $('div.arrow_right_black').live('click', function () {
    var link = $(this).parent().find('a:first');
    if (link) {
      document.location = $(link).attr('href').toString().replace("/offers","");
    }
  });
  
</script>
<div data-role="page" data-them="deekau">
  <div data-role="header" data-theme="deekau">
    <div id="header">
      <div id="logo">
        <%=  link_to (image_tag("logo.png",:style => "height: 29px;")) %>
      </div>
      <div id="box_login" style="padding-top: 5px;">
        <a href="/user/login" class="ui-link">Sign in</a>
      </div>
    </div>
    <div id="back_bar">
      <a data-rel="back" data-direction="reverse" class="link-back" href="#" style="color: #ffffff; font-weight: bold; font-size: 13px;">
        <span class="arrow"></span>Back
      </a>
    </div>
  </div>
  <div data-role="content">
    <div id="content" style="margin-top: 10px;">
      <fieldset data-role="controlgroup" data-type="horizontal" style="height: 34px;margin-left: 10px; margin-right: 10px;">
        <input type="radio" name="radio-choice-1" id="radio-choice-1" value="0.2" checked="checked"/>
        <label for="radio-choice-1"><%= t("filter.distance_02mi") %></label>
        <input type="radio" name="radio-choice-1" id="radio-choice-2" value="0.5"  />
        <label for="radio-choice-2"><%= t("filter.distance_05mi") %></label>

        <input type="radio" name="radio-choice-1" id="radio-choice-3" value="1"  />
        <label for="radio-choice-3"><%= t("filter.distance_1mi") %></label>

        <input type="radio" name="radio-choice-1" id="radio-choice-4" value="5"  />
        <label for="radio-choice-4"><%= t("filter.distance_5mi") %></label>

        <input type="radio" name="radio-choice-1" id="radio-choice-5" value="10"  />
        <label for="radio-choice-5"><%= t("filter.distance_10mi") %></label>
      </fieldset>
      <fieldset data-role="controlgroup" data-type="horizontal" style="height: 34px; margin-left: 10px; margin-right: 10px;">
        <input type="radio" name="radio-choice-2" id="radio-choice-1" value="1" checked="checked"/>
        <label for="radio-choice-1"><%= t("filter.time_now") %></label>
        <input type="radio" name="radio-choice-2" id="radio-choice-2" value="2"  />
        <label for="radio-choice-2"><%= t("filter.time_2hr") %></label>

        <input type="radio" name="radio-choice-2" id="radio-choice-3" value="3"  />
        <label for="radio-choice-3"><%= t("filter.time_3hrs") %></label>

        <input type="radio" name="radio-choice-2" id="radio-choice-4" value="4"  />
        <label for="radio-choice-4"><%= t("filter.time_4hrs") %></label>

        <input type="radio" name="radio-choice-2" id="radio-choice-5" value="later"  />
        <label for="radio-choice-5"><%= t("filter.time_later") %></label>
      </fieldset>
    </div>
    <div class="content-primary">

      <ul data-role="listview"  data-filter="true">
        <li>
          <div class="bl dl">
            <a href="/categories/Drink/offers">
              <%= image_tag("mobile/drink.png",:class => "ui-li-icon lfloat") %>Drink 
            </a>
            <div id="sub_category" class="arrow_right_black M ml" style=""  onclick="">
              <div class="V nl">4</div>
            </div>
          </div>
          <div id="sub"> </div>
        </li>
      </ul>
      <%= render :partial => 'sub_category' %>
    </div><!--/content-primary -->
  </div>
  <div data-role="footer" data-theme="deekau-footer">
    <div id="footer">

    </div>
  </div>
</div>
