<div id="left_container">
  <div id="left_col"> Left </div>
</div>
<div id="content_col" class="home_fix_layout has_right_col has_left_col home_wider_content">
  <div id="right_col"> Right </div>
  <div id="content_area">
    <div class="row-fluid" style="padding-top: 20px;">
      <%= link_to(image_tag("http://files.list.co.uk/images/2011/12/19/mg-3394purslane-LST092298-0002t.jpg"),"#",:class => "img_box lfloat") %>
      <div class="offer_description">
        <h4>Mandors Skill Trapeze</h4>
        <p>The feeling of achievement is amazing' Name Denise Deutsch Age 30 Profession Fabric buyer, Mandors Skill Trapeze and Aerial Arts I fell into the idea of aerial arts as a hobby after unexpectedly getting a ticket to see Leona Lewis perform in…

        </p>
      </div>

      <div class="offer_bottom" style="background-color: #DCECFA; height: 30px">
        <%= image_tag("icon_categories/Food & Drink.png",:class => "offer_icon") %>
        <%= image_tag("shared.png",:class => "rfloat") %>
      </div>
    </div>

    <div class="row-fluid" style="padding-top: 20px;">
      <%= link_to(image_tag("http://files.list.co.uk/images/2011/12/19/mg-3394purslane-LST092298-0002t.jpg"),"#",:class => "img_box lfloat") %>
      <div class="offer_description">
        <h4>Mandors Skill Trapeze</h4>
        <p>The feeling of achievement is amazing' Name Denise Deutsch Age 30 Profession Fabric buyer, Mandors Skill Trapeze and Aerial Arts I fell into the idea of aerial arts as a hobby after unexpectedly getting a ticket to see Leona Lewis perform in…
          <a class="btn-corner-all" href="#">
            <span class="icon_detail"></span>
          </a>
        </p>

      </div>
      <div class="offer_bottom" style="background-color: #DCECFA; height: 30px">
        <%= image_tag("icon_categories/Food & Drink.png",:class => "offer_icon") %>
        <%= image_tag("shared.png",:class => "rfloat") %>
      </div>
    </div>

  </div>
  <div id="bottom_content"></div>
</div>