<div class='webcam_photo' xmlns="http://www.w3.org/1999/html">
<a href="#" class="photo_new">New photo</a>


 </div>

 <div id="take_photo_modal" class="modal hide fade in">

   <div id="webcam"></div>
   <div class="saving_photo" style="display: none;">
     <img src="../assets/saving.gif"  />
   </div>

   <button class=" reset_webcam overlay" ></button>
   <button class=" takephoto" ></button>

   <button class=" savephoto overlay" ></button>




 </div>

 <script type="text/javascript">
     function onload_complete(msg) {
         // fetch the CSRF meta tag data
         var csrf_param = $('meta[name=csrf-param]').attr('content');
         var csrf_token = $('meta[name=csrf-token]').attr('content');

         webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
     }
     function upload_complete(msg) {
         if (msg == 'ok') {
             $(".savephoto").addClass('overlay');
             $(".reset_webcam").addClass('overlay');
            $('.saving_photo').css("display", "none");

            alert('Save image successfully !');
            webcam.reset();
         } else {
            alert('An error occured');
            webcam.reset();
         }
     }

     webcam.set_swf_url('/webcam.swf');
     webcam.set_api_url('<%= upload_photos_path %>');
     webcam.set_quality(90);
     webcam.set_shutter_sound(true, '/shutter.mp3');
     webcam.set_hook('onLoad', 'onload_complete');
     webcam.set_hook('onComplete', 'upload_complete');

     $('.photo_new').on('click', function(){
        $('#webcam').html(webcam.get_html(320, 240));
        $('#take_photo_modal').modal();
     });

     $('.takephoto').on('click', function(){
         webcam.freeze();

         $(".savephoto").removeClass('overlay');
         $(".reset_webcam").removeClass('overlay');


     });
     $('.reset_webcam').on('click', function(){
        webcam.reset();
         $(".savephoto").addClass('overlay');
         $(".reset_webcam").addClass('overlay');
     })
     $('.savephoto').on('click', function(){
         webcam.upload();
         $('.saving_photo').css("display", "block");
     })

 </script>
