<p id="notice"><%= notice %></p>

<p>
  <b>Image file name:</b>
  <%= @photo.image_file_name %>
</p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Image file size:</b>
  <%= @photo.image_file_size %>
</p>

<p>
  <b>Image type:</b>
  <%= @photo.image_type %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
