<div class="modal fade" id="newCountry" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>New country</h3>
  </div>
  <%= form_for(@country = Country.new) do |f| %>
    <div class="modal-body">
      <% if @country.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

          <ul>
            <% @country.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <%= f.label :name %><br />
        <%= f.text_field :name,:class => 'validate' %>
        <span class="country_name help-inline"></span>
      </div>
      <div class="control-group">
        <%= f.label :code %><br />
        <%= f.text_field :code,:class => 'validate'  %>
        <span class="country_code help-inline"></span>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <input type="submit" id="submit" value="Submit" class="btn btn-primary" />
    </div>
  <% end %>



</div>