<%= javascript_include_tag "validate_form.js" %>
<%=  content_for :jsScript do %>
  <script type="text/javascript">
    $(document).bind("mobileinit", function(){

      //$.mobile.autoInitialize = false;
          
    });
    $(document).bind('pageinit',function(){
      $('#newCountry').modal('hide');

    });
  </script>
<% end %>
<h1>Listing countries</h1>
<a class="btn" data-toggle="modal" data-target="#newCountry" >New Country</a>

<table>
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= country.code %></td>
      <td><%= link_to 'Show', country %> |</td>
      <td><%= link_to 'Edit', edit_country_path(country) %> | </td>
      <td><%= link_to 'Destroy', country, confirm: 'Are you sure?', method: :delete %> </td>
    </tr>
  <% end %>
</table>

<br />
<%= will_paginate @countries , 'data-role'=>'none' ,'data-cache-dom' => false %>

<%= render 'countries/new_form' %>