<%= javascript_include_tag "validate_form.js" %>
<%=  content_for :jsScript do %>
  <script type="text/javascript">
    $(document).bind("mobileinit", function(){

      //$.mobile.autoInitialize = false;

    });
    $(document).bind('pageinit',function(){
      $('#newCity').modal('hide');

    });
  </script>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Code:</b>
  <%= @country.code %>
</p>


<h1>Listing cities</h1>
<a class="btn" data-toggle="modal" data-target="#newCity" >New City</a>
<%= link_to 'Back to Countries', countries_path %>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>State</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Timezone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td><%= city.slug %></td>
    <td><%= city.state %></td>
    <td><%= city.lat %></td>
    <td><%= city.lon %></td>
    <td><%= city.timezone %></td>
    <td><%= link_to 'Show', country_city_path(@country.id,city.id) %></td>
    <td><%= link_to 'Edit', edit_country_city_path(@country.id,city.id) %></td>
    <td><%= link_to 'Destroy', country_city_path(@country.id,city.id), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @cities , 'data-role'=>'none' ,'data-cache-dom' => false %>
<%= render 'cities/new_form' %>

