// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
* This is css for chat-system
*/

#chat-system {
  position: fixed;
  right: 16px;
  bottom: 0;
  z-index: 1030;
  margin-bottom: 0;
  font-size: 12px;
  ul.dropdown-menu {
    -webkit-box-shadow: none;
    border-radius: 0px;
  }


#ctl-friends {
  width: 208px;
  > .ct-hide{
    width: 100%;
  }
  > #ctlf-container {
    border: 1px solid rgb(200, 200, 200);
    width: 226px;
    height: 480px;
    margin-top: -452px;
    background: white;
    > .ct-header {
      width: 226px;
      > #cth-userstatus {
        position: absolute;
        #cthl-status  {
          > li {
            &:hover {
              background: rgb(200, 200, 200);
            }
            > .status-icon {
              float: left;
              margin: 6px 8px 0px 8px;
            }
            > .status-name {
              margin: 0px 8px 0px 8px;
              font-weight: normal;
            }
          }
        }
      }

      > .ct-title {
        margin: 6px 0px 0px 28px;
      }
    }

    > #ctlfc-friends {
      width: 100%;
      height: 424px;
      margin: 26px 0px 0px 0px;
      overflow: hidden;
      > .os-scroll {
        float: left;
        width: 100%;
        height: 100%;
        .ctlfc-status {
          text-align: center;
          width: 100%;
          background: rgb(200, 200, 200);
        }

        #ctlf-ndisplay {
          height: 420px;
          width: 226px;
          overflow-x: hidden;
          > div {
            float: left;
            width: 100%;
            .ctlfc-header {
              cursor: pointer;
              margin: 12px 0px 8px 0px;
              float: left;
              width: 100%;
              > div {
                &:first-child {
                  width: 100%;
                  height: 2px;
                  background: #CCD0DA;
                  float: left;
                  margin-top: 8px;
                }
                &:last-child {
                  background: white;
                  float: left;
                  margin: -7px 0px 0px 12px;
                  color:#989DB3;
                  font-weight: bold;
                  font-size: 9px;
                  padding: 0px 4px;
                  text-transform: uppercase;
                }
              }
            }
            .ctlfc-body {
              clear: both;
              height: 100%;
              overflow-x: hidden;
              overflow-y: auto;
            }
          }
        }
        #ctlf-result {
          height: 420px;
          width: 226px;
          overflow-x: hidden;
        }
      }
      .clfb-friend {
        cursor: pointer;
        width: 100%;
        float: left;
        padding: 4px 4px;
        height: 32px;

        &:hover {
          background: rgba(220, 220, 220, 0.75);
        }
        > img {
          width: 32px;
          height: 32px;
          float: left;
        }
        .clfb-content {
          margin: -28px 0px 0px 4px;
          float: left;
          width: 100%;
          div {
            float: left;
            font-weight: bold;
            margin: 4px 0px 0px 40px;
          }
          span {
            float: right;
            margin: 0px 12px 0px 0px;
          }
        }
      }
    }
  }
}

.chat-tab {
  float: right;
  margin: 0px 4px;
  position: relative;
  .ct-hide {
    font-weight: bold;
    background: #f5f5f5;
    height: 26px;
    margin-top: 2px;
    width: 168px;
    border: 1px solid rgb(200, 200, 200);
    cursor: pointer;
  }
  .ct-header {
    background: rgb(220, 220, 220);
    border-bottom: 1px solid rgb(200, 200, 200);
    width: 100%;
    height: 28px;
    float: left;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    .cth-status {
      float: left;
      margin: 4px 0px 0px 4px;
      padding: 0px 6px 6px 6px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid rgb(200, 200, 200);
      }
    }
    .ct-addfriend {
      float: right;
      margin: 6px 6px 0px 0px;
      opacity: 0.25;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .ct-show {
    width: 240px;
    height: 284px;
    margin-top: -256px;
    border: 1px solid rgb(200, 200, 200);
    background: white;
    position: relative;
    overflow: hidden;
    > .ctfb-addfriend {
      border-bottom: 1px solid rgb(200, 200, 200);
      padding: 4px 4px;
      width: 100%;
      float: left;
      position: absolute;
      top: -6px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: rgb(201, 255, 153);
      z-index: 9;
      input {
        width: 70%;
        outline: none;
        padding: 4px 6px 0px 6px;
        border: 1px solid rgb(200, 200, 200);
        font-size: 11px;
      }
      button {
        float: right;
        margin: 2px 0px 0px 0px;
      }
    }
    .ctf-body {
      height: 228px;
      width: 100%;
      font-size: 11px;
      overflow-y: auto;
      margin: 28px 0px 0px 0px;

      > .ctfb-loadmore {
        text-align: center;
        cursor: pointer
      }
      > .ctfb-container {
        display: block;
        width: 100%;
        padding-top: 4px;
        float: left;
        > .ctfb-msg {
          float: left;
          border-top: 1px solid rgb(200, 200, 200);
          width: 100%;
          padding: 2px 0px;
          position: relative;
          > img {
            float: left;
            padding: 4px;
            width: 32px;
            height: 32px;
          }
          > .ctfbm-body {
            float: left;
            width: 185px;
            > div {
              word-wrap: break-word;
            }
          }
          > .ctfbm-time {
            position: absolute;
            right: 5px;
            top: -5px;
            background: white;
            font-size: 9px;
            padding: 0px 2px;
            line-height: 75%;
          }
        }
        > .ctfb-alert {

        }
      }
    }
  }
  .ct-input {
    border-top: 1px solid rgb(200, 200, 200);
    min-height: 26px;
    > textarea {
      border: none;
      outline: none;
      font-size: 11px;
      width: 208px;
      height: 18px;
      padding: 8px 24px 0px 8px;
      margin: 0px;
      resize: none;
      max-height: 64px;
      line-height: 1.3em;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      color: black;
      overflow: hidden;
      word-wrap: break-word;
      float: left;
      &:focus {
        outline: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }
    }
    > input {
      border: none;
      outline: none;
      width: 148px;
      font-size: 11px;
      padding: 5px 24px 0px 24px;
    }
    > .icon-search {
      position: absolute;
      margin: 7px 0px 0px 6px;
      cursor: pointer;
      opacity: 1;
      &:hover {
        opacity: 0.5;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        transition: all 1s ease-out;
      }
    }
    > div {
      > .ctem-symbol {
        float: right;
        margin: -38px 0px;
        padding: 6px 2px 5px 4px;
        cursor: pointer;
        font-size: 28px;
      }
      > .ct-emotions {
        > table {
          float: left;
          margin: 2px 8px;
          td {
            float: left;
            padding: 1px;
            margin: 2px;
            border: 1px solid transparent;
            cursor: pointer;
            &:hover {
              border: 1px solid rgb(200, 200, 200);
            }
          }
          img {
            height: 18px;
            width: 18px;
          }
        }
      }
    }
  }

  .ctb-close {
    float: right;
    margin: 5px 8px 0px 0px;
  }
  .ct-title {
    float: left;
    margin: 6px 0px 0px 8px;
    width: 60%;
  }
  .ct-icon {
    float: left;
    margin: 5px 0px 0px 8px;
  }
  .ctgl-users {
    border: 1px solid transparent;
    &:hover {
      border: 1px solid rgb(200, 200, 200);
    }
  }
  .ct-unread {
    background: red;
  }
}

#cts-minimize {
  float: right;
  font-size: 11px;
  font-weight: bold;
  span {
    font-weight: bold;
  }
  #ctsm-lfriends {
    cursor: pointer;
    background: rgb(220, 220, 220);
    height: 21px;
    margin: 2px 0px 0px 0px;
    border: 1px solid rgb(200, 200, 200);
    padding: 5px 8px 0px 8px;
  }
  ul {
    li {
      position: relative;
      cursor: pointer;
      i {
        position: absolute;
        right: 8px;
        top: 6px;
      }
    }
  }
  .ct-unread {
    background: red;
  }
}

#cts-show {
  float: right;
}



.clip-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cs-available {
  color: green;
}

.cs-busy {
  color: red;
}

.cs-invisible {
  color: rgb(150, 150, 150);
}

.cs-offline {
  color: black;
}

.hide {
  display: none;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-top: 4px solid #CCD0DA;
  margin: 4px 3px 0px 0px;
  float: left;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;

  border-left: 4px solid #CCD0DA;
  margin: 2px 5px 0px 2px;
  float: left;
}
}