/* css for button take photo  */

.takephoto{
    margin-left: 100px;
}
.reset_webcam{
    margin-left: 3px;
}

.savephoto{
    margin-left: 240px;
    width: 30px;
}

.dkIndex .modal{
    width: 320px;
}
.saving_photo{
    position: absolute;
    left: 320px;
    top: 240px;
}

.overlay {
    opacity: 0.5;
    pointer-events: none;
}

 button.reset_webcam, button.savephoto {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top , #ffffff 0%, #5FC430 10%, #ffffff 50%, #ffffff 50%, #ffffff 100%);
    border: 1px solid #1E3D0F;
    border-radius: 33px 33px 33px 33px;
    box-shadow: 0 0 0 1px rgba(255, 115, 100, 0.4) inset, 0 1px 3px #333333;
    color: #FFFFFF;
    font: bold 20px/1 "helvetica neue",helvetica,arial,sans-serif;
    padding: 2px 0;
    height: 35px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.8);
    width: 35px;

}


button.takephoto{
    background: -moz-linear-gradient(center bottom , #5F9EA0 0%, #5F9EA0 100%) repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 33px 33px 33px 33px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6), 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 0 2px rgba(0, 0, 0, 0.07) inset, 0 0 0 1px 	#DEB887;
    bottom: 0px;
    height: 35px;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    width: 35px;
    z-index: 22;
}


button.takephoto:after {
    background: url(../camera.png) no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 30px;
    padding-left: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
}
button.reset_webcam:after {
    background: url(../reset.png) no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 30px;
    padding-left: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
}
button.savephoto:after {
    background: url(../upload.png) no-repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 30px;
    padding-left: 10px;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
}
/*css for find friends*/

#AboutContent {
    margin: 0 auto;
    padding: 82px 0;
    position: relative;
    width: 865px;
}

#AboutRight p, #AboutRight ul, #AboutRight ol, #AboutRight dl {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.35em;
    text-shadow: 0 1px #FFFFFF;
}


#AboutLeft li a span {
    position: relative;
    text-shadow: 0 1px #FFFFFF;
    z-index: 3;
}

#AboutLeft {
    left: 50%;
    margin-left: -461px;
    overflow: hidden;
    position: fixed;
    top: 82px;
    width: 225px;
    text-align: right;
}
#AboutRight {
    margin-left: 228px;
    width: 620px;
}
.friend-list{
    margin-top: 20px;
}

#AboutRight .FriendList li {
    border-bottom: 1px solid #DFDEDF;
    border-top: 1px solid #FCFBFB;
    clear: both;
    display: block;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 3px 0 4px;
}

#AboutRight .FriendList li .name {
    display: block;
    font-size: 14px;
    line-height: 19px;
    margin-top: 7px;
}
.friend-list .name {
    float: left;
    width: 190px;

}

#AboutRight .FriendList .ProfileImage {
    float: left;
    height: 31px;
    margin-right: 6px;
    width: 31px;
}
fieldset, img {
    border: 0 none;
}


#AboutRight .FriendList li .Button {
    float: right;
    margin-top: 3px;
}
.invite_friends{
    width: 280px;
    float: left;
}
.facebook_friends, .twitter_friends{
    width: 250px;
    float: left;
    padding-left: 20px;
}



.textInput{
    rows: 2;
    cols: 50;
}
.post_offer {
    padding-top: 3px; padding-bottom: 0px; border-bottom-width: 0px; margin-bottom: 6px; height: 22px;
}

#main-container #content-col .post_offer_content .chzn-single{
    height: 24px; border-bottom-width: 0px; padding-bottom: 0px; margin-top: 0px;
    border-radius: 0px;
    line-height: 20px;
}





