@font-face {
  font-family: BebasNeue;
  src: url("/assets/BebasNeue.otf");
}
.dkIndex .navbar{
  margin-bottom: 0px;
}
.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

.loggedout_menubar_container {
  //height: 82px;
  min-width: 980px;
/* background-color: #88C840; */
/* background-color: #82D23D; */
  background-color: #59A813;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
}

#content-col-right #map-wrapper {
  background: none repeat scroll 0 0 rgb(210, 255, 173);
  border: 1px solid #BFCCDE;
  //border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;
  padding: 3px 3px 1px;
}

.menu_login_container{
  .header-profile{
    color: #ffffff;
  }
  .header-sign-out{
    color: #ffffff;
  }
  #login_form{
    margin-bottom: 0px;
    table{
      word-wrap: normal;
      tr{
        vertical-align: top;
        td {
          padding: 0px 0px 0px 14px;
          &.label {
            font-size: 11px;
            text-align: left;
          }
          input[type="email"],input[type="password"] {
            font-size: 11px;
            font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
            border-radius: 0;
            border-color: #CCCCCC;
            margin: 0;
            width: 142px;
            padding-bottom: 4px;
            padding-top: 3px;
            border-width: 1px;
            line-height: 11px;
            height: 15px;

          }

        }
      }
    }
    .html7magic label {
      color: #FFFFFF;
      font-weight: normal;
      padding-left: 1px;
      font-size: 11px;
      line-height: 11px;
    }
    #email {
      direction: ltr;
    }
  }
}

.post_on{
  margin-top: 10px;
  h3{
    float: left;
    display: block;
    width: 109px;
    padding: 0;
    margin: 0;
    line-height: 32px;
  }


}
.box_sign_in_with_social{
  margin-left: 110px;
}
.btn-success{
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 12px;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  border-radius: 0;
}

label {
  cursor: pointer;
  font-weight: bold;
  vertical-align: middle;
}


.keep_me_login, .forgot_your_password, .forgot_your_password:hover {
  vertical-align: top;
  color: #e8c3ff;
  font-weight: normal;
  font-size: 11px;
  line-height: 11px;
}

input[class="checkbox_keep_me_login"] {
  margin-right: 4px;
  margin-top: 0px;
}

.navbar input[class="btn btn-success btn_sign_in"] {
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: middle;
  margin: 0;
  font-weight: bold;
}

form[id="new_user"] {
  margin-bottom: 0px;
}

#globalContainer {
  margin: 0 auto;
  position: relative;
}

#content {
  margin: 0;
  padding: 0;
  width: auto;
}

.dkIndex .gradient {
  min-width: 980px;
}

.dkIndex .gradient {
  background: -moz-linear-gradient(center top, white, #D3D8E8) repeat scroll 0 0 transparent;
}

.dkIndex .gradient .gradientContent {
  margin: 0 auto;
  width: 980px;
}

.dkIndexFeaturedRegistration .feature {
  width: 550px;
  min-height: 500px;
}

/* Sign up*/
.dkIndexFeaturedRegistration .signupForm {
  padding: 15px 0 0 15px;
  width: 383px;
}
.dkIndexFeaturedRegistration .headerTextContainer {
  border-bottom: 1px solid #9AAFCA;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.headerTextContainer .mainTitle{
  padding-left: 10px;
  padding-right: 10px;
}
.dkIndexFeaturedRegistration .mainTitle {
  color: #0E385F;
  font-size: 18px;
  font-weight: bold;
}
.simple_registration_container {
  margin: 0 auto;
  padding-bottom: 30px;
}
#new_user .label_sign_up{
  font-size: 13px;
  padding-right: 3px;
  width: 105px;
}
.label_sign_up{
  color: #1D2A5B;
  text-align: right;
}
.uiGrid {
  border-collapse: collapse;
  border-spacing: 0;
}
#new_user div.field_container input {
  font-size: 16px;
  padding: 6px;
  width: 258px;
  border-radius: 0;
  margin-bottom: 2px;
}
.label_sign_up label{
  text-align: right;
  font-weight: normal;

}
.box_sign_up{
  margin: 0 0 0 110px;
  padding-top: 10px;
}
.box_sign_up .btn_sign_up {
  height: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
}
.box_error_sign_up{
  background: none repeat scroll 0 0 #FFEBE8;
  border: 1px solid #DD3C10;
  line-height: 15px;
  margin: 10px 0 0;
  overflow: hidden;
  padding-left: 105px;
  display: none;
}
.box_error_sign_up label.error{
  color: #333333;
  display: block;
  font-size: 11px;
  font-weight: normal;
  width: 100%;
}
/* Box social login network*/
.fb .tw_login{
  width: 75px;
  margin-left: 14px;
}
.tw_login{
  display: block;
  text-decoration: none;
  width: 60px;

}
.tw .tw_login{
  float: left;
}
.gp .tw_login{
  float: right;
}
.tw_login .icon-tw{
  background-image: url("/assets/twitter.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 33px;
  width: 100%;


}
.tw_login label{
  text-align: center;
  display: inline-block;
  width: 100%;
}
.tw_login .icon-fb{
  background-image: url("/assets/facebook.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 33px;
  width: 100%;

}
.tw_login .icon-gp{
  background-image: url("/assets/google.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  height: 33px;
  width: 100%;


}
.tw_login:hover{
  text-decoration: none;
}
.box_sign_in_with_social table{
  width: 100%;
}
.box_sign_in_with_social table td{
  width: 33.333%;
}
.box_sign_in_with_social table td div{
  margin: 0 auto;

}

.post_on_title {
  color: #9F9F9F;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
  font-weight: bold;
  margin-top: 8px;
}
/*  Iphone checkbox style */
.iPhoneCheckContainer {
  cursor: pointer;
  height: 27px;
  overflow: hidden;
  position: relative;

}
.iPhoneCheckContainer input {
  left: 30px;
  opacity: 0;
  position: absolute;
  top: 5px;
}
.iPhoneCheckContainer label {
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 17px;
  font-weight: bold;
  height: 27px;
  line-height: 17px;
  overflow: hidden;
  padding-top: 5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: auto;
}
.iPhoneCheckContainer, .iPhoneCheckContainer label {
  -moz-user-select: none;
}
.iPhoneCheckDisabled {
  opacity: 0.5;
}
label.iPhoneCheckLabelOn {
  background: url("/assets/iphone-style-checkboxes/on.png") no-repeat scroll 0 0 transparent;
  color: white;
  left: 0;
  min-width: 30px;
  padding-top: 5px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
label.iPhoneCheckLabelOn span {
  padding-left: 8px;
}
label.iPhoneCheckLabelOff {
  background: url("/assets/iphone-style-checkboxes/off.png") no-repeat scroll right 0 transparent;
  color: #8B8B8B;
  right: 0;
  text-align: right;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
label.iPhoneCheckLabelOff span {
  padding-right: 8px;
}
.iPhoneCheckHandle {
  background: url("/assets/iphone-style-checkboxes/slider_left.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 27px;
  left: 0;
  padding-left: 3px;
  position: absolute;
  top: 0;
  width: 0;
}
.iPhoneCheckHandleRight {
  background: url("/assets/iphone-style-checkboxes/slider_right.png") no-repeat scroll right 0 transparent;
  height: 100%;
  padding-right: 3px;
  width: 100%;
}
.iPhoneCheckHandleCenter {
  background: url("/assets/iphone-style-checkboxes/slider_center.png") repeat scroll 0 0 transparent;
  height: 100%;
  width: 100%;
}
.iOSCheckContainer {
  cursor: pointer;
  height: 27px;
  overflow: hidden;
  position: relative;
}
.iOSCheckContainer input {
  left: 30px;
  opacity: 0;
  position: absolute;
  top: 5px;
}
.iOSCheckContainer label {
  cursor: pointer;
  display: block;
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  font-size: 17px;
  font-weight: bold;
  height: 27px;
  line-height: 17px;
  overflow: hidden;
  padding-top: 5px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: auto;
}
.iOSCheckContainer, .iOSCheckContainer label {
  -moz-user-select: none;
}
.iOSCheckDisabled {
  opacity: 0.5;
}
label.iOSCheckLabelOn {
  background: url("/assets/ios-style-checkboxes/on.png") no-repeat scroll 0 0 transparent;
  color: white;
  left: 0;
  padding-top: 5px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
label.iOSCheckLabelOn span {
  padding-left: 8px;
}
label.iOSCheckLabelOff {
  background: url("/assets/ios-style-checkboxes/off.png") no-repeat scroll right 0 transparent;
  color: #8B8B8B;
  right: 0;
  text-align: right;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}
label.iOSCheckLabelOff span {
  padding-right: 8px;
}
.iOSCheckHandle {
  background: url("/assets/ios-style-checkboxes/slider_left.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  height: 27px;
  left: 0;
  padding-left: 3px;
  position: absolute;
  top: 0;
  width: 0;
}
.iOSCheckHandleRight {
  background: url("/assets/ios-style-checkboxes/slider_right.png") no-repeat scroll right 0 transparent;
  height: 100%;
  padding-right: 3px;
  width: 100%;
}
.iOSCheckHandleCenter {
  background: url("/assets/ios-style-checkboxes/slider_center.png") repeat scroll 0 0 transparent;
  height: 100%;
  width: 100%;
}



/* timepicker merchant */

.ui-timepicker-list {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  height: 72px;
  list-style: none outside none;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  width: 5.5em;
}
.ui-timepicker-list li {
  color: #000000;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
  padding: 3px 0 3px 5px;
  white-space: nowrap;
}
.ui-timepicker-container .admin_text_field {
  border-radius: 3px 0 0 3px;
  float: left;
  width: 28px;
  height: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
  font-size: 11px;

  &.last{
    border-radius: 0px 3px 3px 0px;
  }
}

.field_wr {
  .admin_sublabel{
    float: left;
    width:70px ;
    vertical-align: middle;
    height: 28px;
    font-size: 11px;
    font-weight: normal;
  }
  .third {
    margin: 0 12px 0 0;
    float: left;
    width: 230px;
    .iPhoneCheckContainer{
      margin-left: 10px;
    }
  }


  display: inline-block;
  margin: 8px 0;
  position: relative;

}
.box_check {
  cursor: default;
  line-height: 24px;
  outline: medium none;
  margin-left: 20px;
  span.ggcheck {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid #C6C6C6;
    border-radius: 1px 1px 1px 1px;
    display: inline-block;
    height: 11px;
    margin: 0 ;
    outline: medium none;
    position: relative;
    vertical-align: text-bottom;
    width: 11px;
  }
  .checked .check_gg_style {
    background: url("/assets/checkmark.png") no-repeat scroll -5px -3px transparent;
  }

  .check_gg_style {
    display: block;
    height: 11px;
    left: 1px;
    position: absolute;
    top: -2px;
    width: 11px;
  }
  label{
    display: inline-block;
    font-weight: normal;
    font-size: 11px;
    width: 30px;
  }
}

#business_search{
  #businessName_address{
    float: left;
    margin-bottom: 0;
    width: 175px;
  }
  .search-matches-btn {
    float: left;
    margin-left: 8px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    display: block;
  }
}

.search-matches-btn {
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #d8d8d8;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #f6f6f6));
  background: -ms-linear-gradient(bottom, #e6e6e6, #f6f6f6);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #f6f6f6 100%);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  color: #555; }
.search-matches-btn:hover {
  background: #a9d7f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a9d7f5), color-stop(1, #daeefb));
  background: -ms-linear-gradient(bottom, #a9d7f5, #daeefb);
  background: -moz-linear-gradient(center bottom, #a9d7f5 0%, #daeefb 100%);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #7fa2b8; }
.search-matches-btn:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 1px 2px rgba(0, 0, 0, 0.6); }

.matches-list{
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
.matches-list .match {
  position: relative;
  z-index: 111;
  padding: 5px 5px 4px;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #f6f6f6));
  background: -ms-linear-gradient(bottom, #e6e6e6, #f6f6f6);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #f6f6f6 100%);
  border-top: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8; }
.matches-list .match.selected {
  z-index: 222;
  background: #a9d7f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a9d7f5), color-stop(1, #daeefb));
  background: -ms-linear-gradient(bottom, #a9d7f5, #daeefb);
  background: -moz-linear-gradient(center bottom, #a9d7f5 0%, #daeefb 100%);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 0 #7fa2b8;
  -moz-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 0 #7fa2b8;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 1px 0 #7fa2b8;
  border-top: 1px solid #7fa2b8;
  border-left: 1px solid #7fa2b8;
  border-right: 1px solid #7fa2b8; }
.matches-list .match.first {
  border-radius: 5px 5px 0 0; }
.matches-list .match.last {
  border-radius: 0 0 5px 5px; }
.matches-list .match-label {
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: inline-block;
  margin-left: 3px; }

.hidden-fields{
  display: none;
}
.modalLabel{
  font-weight: normal;
  margin-bottom: 0;
}


//anh vi
//
//.chzn-container {
//  width: 168px !important;
//  top: 3px; }
// .chzn-single {
//  border-radius: 3px;
//  font-size: 14px;
//  font-weight: 500;
//  color: #686a6b;
//  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
//  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
//  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
//  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
//  background: #f0f0f0;
//  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, white));
//  background: -ms-linear-gradient(bottom, #f0f0f0, white);
//  background: -moz-linear-gradient(center bottom, #f0f0f0 0%, white 100%);
//  border: 1px solid #bfccde;
//  width: 158px;
//  height: 26px;
//  padding-top: 2px; }
//.chzn-single b {
//  position: relative;
//  top: 2px; }
//.chzn-drop {
//  font-size: 14px;
//  color: #686a6b;
//  font-weight: 500;
//  border-top: solid 0px transparent;
//  border-left: solid 1px #bfccde;
//  border-right: solid 1px #bfccde;
//  border-bottom: solid 1px #bfccde;
//  width: 166px !important; }
//.chzn-results {
//  margin: 0;
//  padding: 0;
//  background: #f0f0f0;
//  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e9eff6), color-stop(1, #f0f0f0));
//  background: -ms-linear-gradient(bottom, #e9eff6, #f0f0f0);
//  background: -moz-linear-gradient(center bottom, #e9eff6 0%, #f0f0f0 100%);
//  border-radius: 0 0 3px 3px;
//  width: 166px;
//}
#merchant_business{
  .popover{
    width: 450px;
    height: 180px;
    border-radius: 0;
    .popover-content{
      padding-bottom: 3px;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 3px;
    }
  }

}
.modal-fullscreen {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #000000;
  z-index: 1050;
  margin: 0;
  border-radius: 0px;
  border: none;
  position: fixed;
/* Display modal in the centre of your screen */
  overflow-y: scroll;
/*  Ensure that the modal is scroll-able */
  -webkit-overflow-scrolling: touch;
/* Avoid having to use 2 finger scroll on iOS  */ }
element.style {
  display: block;
  top: 0;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -ms-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out; }
.modal.fade.in {
  opacity: 1;
  top:0;
  width: 100%;
}

#albums{

  overflow-y: hidden;
  .modal-header{
    height: 20px;
    border-bottom: none;
    .close{
      color: #ffffff;
      opacity: 1;
      &:hover{

      }
    }
  }
  .modal-control{
    position: absolute;

    bottom: 100px;
    top:41px;
    width: 60px;
    //background-color: #98fb98;
    &.x0{
      left: 0;
    }
    &.y0{
      right: 0;
    }
    .carousel-control{
      top: 50%;
      margin-top: -23px;
      left: 6px;
    }
  }
  .modal-body{
    padding: 0;
    bottom: 70px;
    left: 60px;
    right: 60px;
    position: absolute;
    top: 41px;
    max-height: none;
    overflow-y: hidden;
    //background-color: #387B06;

    .carousel{
      height: 100%;

      .carousel-inner{
         height: 100%;
      }
      .item{
        height: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        position: absolute;
        //background-color: #a52a2a;
        .image-box{
          background-color: #0A0A0A;
          display: block;

          top: 0px;
          position: absolute;
          border: 1px solid #2c2c2c;
          border-bottom-color: #2c2c2c ;
          border-bottom-style: solid;

          img{
            display: block;
            max-height: 480px;
            margin: 0 auto;


          }
        }
        .comment-box{
          display: block;
          top: 0px;
          right: 0px;
          bottom: 0px;
          position: absolute;
          background-color: #ffffff;
          width: 275px;


        }

      }
    }
  }
  .modal-footer{
    left: 0;
    bottom: 0;
    right: 0;
    height: 70px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #0A0A0A;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    border-top-color: #181818;
    border-top-style: solid;
    border-top-width: 1px;



    position: fixed;
    //width: 100%;

    .carousel-linked-nav {
      margin-bottom: 20px;
      width: 120px;
      li{
        list-style: none;
        float: left;
        a{
          display: block;
          width: 18px;
          height: 18px;
          padding: 8px;
        }
      }
    }

  }
}

#draggable{
  list-style: none;
  height: 30px;
}
.dropable.ui-droppable{

  height: 300px;
  border: 1px solid #88C840;
  width: 100%;
  height: 150px;

}
.ui-state-default{
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 15px;
  background-color: #ffe4c4;
  text-align: center;
  margin-left: 10px ;
}
.dropable .ui-state-default{
  float: right;
}