body{
  //background-color: #ffffff;
  //background: none repeat scroll 0 0 #f5fffa;
  font-size: 11px;
}
.user_profile{
  //background: none repeat scroll 0 0 #f5fffa;
  #header{
    height: 38px;
  }
  #global_container{
    width: 100%;
    margin: 0;
    padding: 0;
    #content{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .loggedout_menubar {
    width: 980px;
    padding-top: 9px;
    margin: 0 auto;
    .dk_logo {

      background-image: url("/assets/logo_100.png");
      background-repeat: no-repeat;
      background-size: auto auto;
      display: inline-block;
      height: 26px;
      width: 170px;
    }
  }
}
.index{

  .loggedout_menubar {
    width: 980px;
    padding-top: 9px;
    margin: 0 auto;
    .dk_logo {

      background-image: url("/assets/logo.png");
      background-repeat: no-repeat;
      background-size: auto auto;
      display: inline-block;
      height: 40px;
      width: 170px;
    }
  }
}
.home{
  background: none repeat scroll 0 0 #ffffff;
  #header{
    height: 38px;
  }
  #global_container{
    width: 100%;
    margin: 0;
    padding: 0;
    #content{
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .loggedout_menubar {
    width: 980px;
    padding-top: 9px;
    margin: 0 auto;
    .dk_logo {

      background-image: url("/assets/logo_100.png");
      background-repeat: no-repeat;
      background-size: auto auto;
      display: inline-block;
      height: 26px;
      width: 170px;
    }
  }

}
#content-col{
 #content-col-right{
  float: right;
  position: relative;
  width: 508px;
 }
}

//css tin


.margin_bottom{
  margin-bottom: 8px;
}

.ui-timepicker-list li{
  &:hover{
    background: none repeat scroll 0 0 #59A813;
    color: #FFFFFF;
  }
}
.merchant_type_offer{
  display: inline-block;
  >.popover{
    width: 100px;
    height: 100px;
    margin-top: 0px;
    border-width: 0px;
    padding: 0px;
  }
}
.repeat_time{
  padding: 0px;
  width: 50px;
  height: 26px;
  float: left;
  font-size: 13px;
  border-width: 0 1px;
  line-height: 26px;
  border-radius: 0;
}
.type_offer{
  padding: 0px;
  width: 50px;
  height: 26px;
  float: left;
  font-size: 13px;
  border-width: 0;
  border-radius: 0;
}

.footer_postoffer{
  display: block;
  width: 350px;
  height: 26px;
  height: 26px;
  background-color: #F5F5DC;
  .l_f{
    width: 150px;
    display: inline-block;


    .collapse{
      overflow: visible;
    }
    .set_time{
      background: none repeat scroll 0 0 #59A813;
      color: white;
      float: right;
      font-size: 12px;
      height: 15px;
      padding: 0;
      width: 23px;


      &:hover{
        background-color:#51A351;
      }
    }
    .type_offer{
      padding: 0px;
      width: 50px;
      height: 26px;
      float: left;
      font-size: 13px;
      border-width: 0;
      border-radius: 0;
    }
    .btn{
      border-radius: 0;
      &:focus{
        outline: thin none #333333;

      }
    }

  }
  .r_f{
    width: 160px;
    float: right;
    display: inline-block;

    .btn-primary {
      display: inline-block;

      padding-bottom: 5px;

      &:hover {
        background-color: #51A351;
        //background: -moz-linear-gradient(center bottom , #006400 0%, #006400 100%) repeat scroll 0 0 transparent;
      }


    }
    .public_offer{
      height: 26px;
      padding-right: 1px;
      width: 89px !important;
      .chzn-container-single{
        width: 90px !important;
        top: 0px;
        .chzn-single{
          width: 80px;
          height: 26px !important;
          border-top-width: 0px;
          border-bottom-width: 0px;
          border-radius: 0;
          div{
            border-radius: 0;
          }

        }

        .chzn-drop{
          top: 25px;
          //left:-26px !important;


          border-radius: 0;
          right: 0px;
          width: 115px !important;
          border-width: 0;
          box-shadow: 0 1px px rgba(0, 0, 0, 0.15);
          .chzn-results{
            width: 115px;
            padding: 0;
            margin-right: 0;
            margin-bottom: 1px;
            .highlighted {
              background: none repeat scroll 0 0 #51A351;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }

}



.images_offer{
  .offer_images{
    width: 130px;
    .popover{
      height: 100px;
      width: 150px;
      margin-top: 0px;
      padding: 0px;
      border: 0px;
    }

    .drag_drop_area {
      //background: url("/assets/drag_drop_icon.png") no-repeat scroll center center transparent;
      background: none repeat scroll 0 0 #E8FACC;
      //border: 1px dashed #9CB1D0;
      border-radius: 4px 4px 4px 4px;
      box-shadow: 0 2px 2px white, 0 0 5px rgba(0, 67, 159, 0.3) inset;
      height: 94px;
      margin: 0;
      position: relative;
      width: 130px;

      .fileinput-button{
        width: 100%;
        height: 99px;
        margin-right: 0px;
        padding: 0px;
        border-width: 0px;
        input{
          top: 34px;
        }
      }
    }

    #result{
      padding: 0px;
      border-width: 0px;
      margin-bottom: 0px;
      height: 99px;
    }
  }
}

#content-col{

  #content-col-left{
  width: 535px;
  }
}




.mentions-input-box{
  position: relative;
  background: #fff;
  .mentions{
    height: 0px;
  }
  .mentions-autocomplete-list {
    display: none;
    background: #fff;
    border: 1px solid #b2b2b2;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10000;
    margin-top: -2px;

    border-radius:5px;
    border-top-right-radius:0;
    border-top-left-radius:0;

    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.148438);
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      background-color: #f2f2f2;
      padding: 0 5px;
      margin: 0;
      width: auto;
      border-bottom: 1px solid #eee;
      height: 26px;
      line-height: 26px;
      overflow: hidden;
      cursor: pointer;
      list-style: none;
      white-space: nowrap;
      :last-child {
        border-radius:5px;
      }
      img, div.icon {
        width: 16px;
        height: 16px;
        float: left;
        margin-top:5px;
        margin-right: 5px;
        -moz-background-origin:3px;

        border-radius:3px;
      }
      em {
        font-weight: bold;

      }
      &:hover{
        background-color:#90ee90;
      }

      b {
        background: #ffff99;
        font-weight: normal;
      }
    }
  }
}

.post_offer_content{
  height: 100px;
}
.start {
  padding: 0 5px;
  border-width: 0px;
  height: 26px;
  border-radius: 0;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5FC430;
  background-color: #5FC430;
  background-image: -moz-linear-gradient(top, #5FC430, #5FC430);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5FC430), to(#5FC430));
  background-image: -webkit-linear-gradient(top, #5FC430, #5FC430);
  background-image: -o-linear-gradient(top, #5FC430, #5FC430);
  background-image: linear-gradient(to bottom, #5FC430, #5FC430);
  background-repeat: repeat-x;
  border-color: #5FC430 #5FC430 #5FC430 #5FC430;
  border-color: #5FC430 #5FC430 #5FC430;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  .button_post_offer{
    padding: 0px;
    border: 0;
    border-radius: 0;
    height: 26px;
    span{
      padding: 0px 5px 0px 3px;
    }
    .icon-upload{
      margin-left: 5px;
    }
  }
}

#type_offer_select{
  display: inline;
  border-top-width: 0px;
  border-radius:0;
  margin: 0px auto 0px -1px;
  font-size: 12px;
  #offer_type{
    width: 100%;
    height: 20px;
    padding: 0;
    border-width: 0px;
    border: 1px solid #CCCCCC;
  }
  .ui-autocomplete{
    left: -1px !important;
    padding: 0px;
    bottom: 0px;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    right: -1px;
    width: 100%;
    border-radius:0;
    .ui-state-focus{
      border: 1px solid #59A813;
      background: #59A813 50% 50% repeat-x;
      font-weight: bold;
      color: #ffffff;
      border-radius:0;
    }
  }
}
#fileupload{
  margin-bottom: 0px;
  height: 100px;

  .time_set_for_offer {
    padding-left: 10px;
    width: 300px;

    h4{
    padding-left: 20px;
    }

    .active{
    padding-left: 10px;
    }
  }
  .day_week{
    padding-left: 0px;

  }
  th {
    padding-left: 3px;
    text-align: center;
    font-weight: normal;


  }
  label{
    font-weight: normal;
    font-size: 11px;
    margin-right: 5px;
  }
  input[type="checkbox"]{
    margin-left: 10px;
    margin-bottom: 5px;
  }


}

.table_post_offer {
  width: 535px;

  canvas{
    width: 130px; height: 100px;
  }
}
.post_offer_content{
  border:1px solid #88C840;
  width: 100%;

  .table_post_offer{
    .description{
      border-right: 1px dashed #88C840;
      width: 350px;
      height: 100px;
      padding: 0;
      >.popover{
        top: 0px !important;
        height: 95px;
        width: 100px;
        padding: 0px;
        border-width: 0px;
        margin-left: 0px;
      }

      .textInput{
        border-top-width: 1px;
        margin-top: -2px;
        border-bottom-width: 1px;
        margin-bottom: 0px;
        height: 73px;
        width: 350px;
        font-size: 12px;
        padding: 0;
        border-left-width: 0px;
        border-radius: 0;
        border-color: #88C840;
        box-shadow: 0 1px  rgba(0, 0, 0, 0.075) inset, 0 0 0 #88C840;
        &:hover{
          border-color: #88C840;
          box-shadow: 0 1px  rgba(0, 0, 0, 0.075) inset, 0 0 0 #88C840;
          outline: 0 none;
        }
      }
    }
  }
}

.popover{


  .popover-title{
    padding: 0;
    border-width: 0;
  }

  .popover-content{
    margin-left: 10px; margin-right: 10px; margin-bottom: 10px;
    .time_picker{
      margin-bottom: 5px;
      font-size: 12px;
      width: 40px;
      padding: 1px 3px;
      border-radius: 3px 0 0 3px;

    }
    .last{
      border-radius: 0 3px 3px 0;
    }
    td{
      padding: 0;
      width: 45px;
      .ui-timepicker-list{
        width: 47px;
      }
    }
    .title{
      text-align: right;
      padding-right: 5px;
    }
  }
}

//css for user profile
#User_profile{

  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  .public_info{
    margin-left: 10px;
    .chzn-container-single{
      height: 20px;
      top: 0px;
      border-radius: 0;
    }

    //
    .chosen_option{
      width: 80px;
      margin-top: -13px;
      border-radius: 0;
      padding-left: 2px;
      height: 20px;

    }
    .chzn-single{
      border-radius: 0;
      padding-left: 2px;
      height: 20px;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.2);
      span{
        margin-top: -3px;
      }
    }
    .chzn-drop{
      border-radius: 0;
      .chzn-results{
        .highlighted {
          background: none repeat scroll 0 0 #51A351;
          color: #FFFFFF;
        }
      }
    }
  }
  .footer_popover{
    width: 100% ;
    float: right;
    height: 26px;
    border-radius: 0;
    border-color: green;
    background-color: rgba(201, 255, 153, 0.3);
    border-width: 1px;

    .btn{
      background-image: linear-gradient(to bottom,#F3FAFF , #F3FAFF);
      margin-top: 2px;


    }
    .save_button{
      background-image: url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yp/x/yrl5BSMOoyJ.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-position: left 40%;
      background-color: #59A813;
    }
    .save_button{
      width: 42px;
      height: 24px;
      margin-top: 0px;
      border-radius: 0;
      float: right;
      padding: 0 2px;
      background-color: #59A813;
      background-image:linear-gradient(to bottom,#59A813 , #59A813);
    }
    .cancel_button{
      width: 44px;
      height: 24px;
      margin-top: 0px;
      border-radius: 0;
      float: right;
      padding: 0 2px;
      &:hover {
        background-color: rgba(201, 255, 153, 0.3);
        background-position: 0 -26px;
        color: #333333;
        text-decoration: none;
        transition: background-position 0.1s linear 0s;
      }

    }
  }
  .title{
    display: inline-block ;
    width: 100%;


    h6{
      margin: 0;
      display: inline;
      width: 100px;
      margin-top: 5px; margin-left: 5px; height: 20px; font-size: 15px
    }
    .edit_button{
      display: inline-block;
      width: 50px;
      float: right;
      margin-top: 3px;
      margin-right: 5px;
      width: 30px;
      padding: 0 3px;
      border-radius: 0;
      font-size: 12px;
    }
  }
  .lable{
    width: 60px;
    padding-left: 10px;
    opacity: 0.5;
    font-size: 11px;
    text-align: right;
  }
  .data{
    padding-left: 15px;
  }
  ul{
    list-style-type: none;
  }
  li{
    margin-top: 2px;
    span{
      width: 60px;
      font-size: 13px;
    }

  }
  hr{
    background: none repeat scroll 0 0 #D9D9D9;
    border-width: 0;
    color: #D9D9D9;
    height: 1px;
    margin: 2px 0 10px 0;
  }

  .popover{
    input{
      padding: 0;
      height: 20px;
      border-radius: 0;
      font-size: 13px;
      box-shadow: 0 1px  rgba(0, 0, 0, 0.075) inset, 0 0 0 #88C840;
      &:focus{
        border-color: #88C840;
      }
      }
    }

  .background{
    background: none repeat scroll 0 0 #ffffff;
    //background: none repeat scroll 0 0 rgba(201, 255, 153, 0.3);
  }
  td{
    vertical-align: top;
  }
  .left_col_profile{

    margin-top: 30px;
    margin-left: 50px;
    width: 475px;
    float: left;
    .Basic_info_user{

      display: inline-block;
      float: left;
      width: 100%;
      .head_info{
        width: 100%;
        display: inline-block;
        //background: none repeat scroll 0 0 rgba(201, 255, 153, 0.3);
        //background-color: rgba(201, 255, 153, 0.3);
        border-color: #88C840;
        border-image: none;
        border-radius: 3px 3px 3px 3px;
        border-style: solid;
        border-width: 1px 1px 2px;
        .user_avatar{
          max-width: 80px; max-height: 80px;
          float: left;
          img{
            padding: 1px;
          }
        }
        .info{
          float: left;
        }
      }
      .content_basic{

        width: 100%;
        position: relative;
        //background: none repeat scroll 0 0 rgba(201, 255, 153, 0.3);
        border-color: #88C840;
        border-image: none;
        border-radius: 3px 3px 3px 3px;
        border-style: solid;
        border-width: 1px 1px 2px;
        .info_list{
          margin-bottom: 10px;
        }
        .popover{
          display: block;
          width: 440px;
          height: 235px;
          left: 34px !important;
          border-radius: 0;
          border: 1px 0; right: 0px; padding: 0px;
          font-size: 12px;
          .arrow{
            left: 95%;
          }
          .popover-content{
            padding: 0;
            .basic_info{
              width: 100%;
              margin-top: 10px;
              .table_basic_info{
                .title{
                  width: 115px;
                  padding-left: 5px;
                  padding-bottom: 5px;
                }
                .sex{
                  width: 100px;
                }
                select{
                  padding: 0;
                  height: 19px;
                  border-radius: 0;
                  width: 80px;
                  background-color: #EEEEEE;
                }
                input{
                  padding: 0;
                  height: 20px;
                  border-radius: 0;
                  font-size: 12px;
                  box-shadow: 0 1px  rgba(0, 0, 0, 0.075) inset, 0 0 0 #88C840;
                  &:focus{
                    border-color: #88C840;
                  }

                }
                .content_form{
                  .chzn-container-single{
                    height: 20px;
                    top: 0px;
                    border-radius: 0;
                  }
                  //
                  .chosen_option{

                    width: 100%;

                  }
                  .chzn-single{
                    padding-left: 2px;
                    height: 20px;
                    box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 0;
                    width: 65px !important;
                    span{
                      margin-top: -3px;
                      padding-left: 10px;
                    }
                  }
                  .chzn-drop{
                    border-radius: 0;
                    .chzn-results{
                      .highlighted {
                        background: none repeat scroll 0 0 #51A351;
                        color: #FFFFFF;
                      }
                    }
                  }

                }
                .picker{
                  .birthday-picker{

                    .birth-year{
                      width: 60px ;
                      margin-right: 4px;

                    }
                    .birth-month{
                      width: 90px;
                      margin-right: 4px;
                    }
                    .birth-day{
                      width: 50px;
                    }

                  }
                }
              }

            }
          }
        }
      }
    }
    .Work_Education{
      display: inline-block;
      //background: none repeat scroll 0 0 rgba(201, 255, 153, 0.3);
      border-color: #88C840;
      border-image: none;
      border-radius: 3px 3px 3px 3px;
      border-style: solid;
      border-width: 1px 1px 2px;
      width: 100%;
      .cancel_button{
        height: 22px;
      }
      .work_edu_list{
        width: 100%;
        a{
          color:green ;
        }
        tbody{
          width: 100%;
          tr{
            width: 100%;
            .addmore{
              margin-left: 20px;
              .popover{
                display: block;
                width: 360px;
                height: 165px;
                left: 143px !important;
                border-radius: 0;
                border: 1px 0; right: 0px; padding: 0px;
                .arrow{
                  left: 15%;
                }
                .popover-content{
                  padding: 0;
                  .add_edu_work{
                    margin-top: 10px;

                    .title{
                      width: 100px;
                      padding-left: 5px;
                    }
                  }
                }
              }
            }
            .high_school {
              .popover {
                height: 157px;
                .popover-content {
                  .add_edu_work {
                    .title {
                      width: 70px;
                    }
                  }
                }
              }
            }
            .company {
              .popover {

                .popover-content {
                  .add_edu_work {
                    .title {
                      width: 82px;
                    }
                  }
                }
              }
            }
            .inputtext{
              width: 400px;
              margin-bottom: 5px;
              margin-left: 25px;
              border-color: #E8FACC;
              border: 1px;


            }
            .add_work_edu{
              width: 100%;
              margin:0;
              padding: 0px;
              border-width: 1px;
              border-style: solid;
              border-radius: 0;
              font-size: 12px;
              height: 17px;

              &:focus{
                border-color: #8fbc8f;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px rgba(0, 0, 0, 0.075);
                outline: 0 none;
              }
            }
            .data_name{
              height: 13px;
              font-size: 14px;
              font-weight: bold;
            }
            .faculty{
              height: 13px;
            }
            ul{
                margin-bottom: 5px;
                .data{
                  width: 96%;
                  .data_content{
                    display: inline-block;
                  }
                  .edit{
                    float: right;
                    .edit_item{
                      float: right;
                      padding-right: 5px;
                    }
                    .delete_item{
                      padding-right: 10px;
                      float: right;
                    }
                  }
                }
              }

          }
          #edu_list{
            .popover{
              display: block;
              width: 360px;
              height: 165px;
              left: 258px !important;
              border-radius: 0;
              border: 1px 0; right: 0px; padding: 0px;
              .arrow{
                left: 91%;
              }
              .popover-content{
                padding: 0;
                .add_edu_work{
                  margin-top: 10px;

                  .title{
                    width: 100px;
                    padding-left: 5px;
                  }
                }
              }
            }
          }
          #high_shool_list{
            .popover{
              display: block;
              width: 360px;
              height: 160px;
              left: 283px !important;
              border-radius: 0;
              border: 1px 0; right: 0px; padding: 0px;
              .arrow{
                left: 93%;
              }
              .popover-content{
                padding: 0;
                .add_edu_work{
                  margin-top: 10px;

                  .title{
                    width: 110px;
                    padding-left: 5px;
                  }
                }
              }
            }

          }
          #company_list{
            .popover{
              display: block;
              width: 360px;
              height: 200px;
              left: 283px !important;
              border-radius: 0;
              border: 1px 0; right: 0px; padding: 0px;
              .arrow{
                left: 93%;
              }
              .popover-content{
                padding: 0;
                .add_edu_work{
                  margin-top: 10px;

                  .title{
                    width: 110px;
                    padding-left: 5px;
                  }
                }
              }
            }

          }

        }
      }

    }

  }
  .right_col_profile{
    width: 475px;
    margin-left: 10px;
    float: left;
    margin-top: 93px ;
    //margin-top: 65px;
    .About_user{
      position: relative;
      //background: none repeat scroll 0 0 #FFFFFF;
      border-color: #88C840;
      border-image: none;
      border-radius: 3px 3px 3px 3px;
      border-style: solid;
      border-width: 1px 1px 2px;
      .popover{
        display: block;
        width: 400px;
        height: 120px;
        left: 72px !important;
        border-radius: 0;
        border: 1px 0; right: 0px; padding: 0px;
        .arrow{
          left: 93%;
        }
        .popover-content{
          padding: 0;
          .about_me_favorite{
            width: 100%;
            .title{
              width: 65px;
              padding-left: 5px;
            }
            .input_about_me_favorite{
              margin-top: 10px;
              margin-bottom: 17px;
              border-radius: 0;
              &:focus {
                border-color: green;
                box-shadow: 0 0px 0px rgba(0, 0, 0, 0.075) inset, 0 0 1px green;
                outline: 0 none;
              }
            }
            .chzn-single{
              margin-top: 10px;
            }

          }
        }
      }
      .about_content{
        margin: 10px 22px 20px;
        min-height: 30px;
      }
    }
    .Contact_user{
      position: relative;
      //background: none repeat scroll 0 0 #FFFFFF;
      border-color: #88C840;
      border-image: none;
      border-radius: 3px 3px 3px 3px;
      border-style: solid;
      border-width: 1px 1px 2px;
       .chzn-container-single{
         top: 7px;
       }
      .popover{
        display: block;
        width: 380px;
        height: 103px;
        left: 92px !important;
        border-radius: 0;
        border: 1px 0; right: 0px; padding: 0px;
        .arrow{
          left: 94%;
        }
        .popover-content{
          padding: 0;
          .contact{
            width: 100%;
            .title{
              width: 55px;
              padding-left: 5px;
            }
            .content_form{
              margin-top: 10px;
              height: 22px;
              input{
                padding: 0;
                border-radius: 0;
              }
            }
            .footer_popover{
              margin-top: 10px;
            }
            .chzn-single{
              margin-top: 3px;
            }
          }
        }
      }
      .about_content{
        margin: 10px 22px 20px;
        min-height: 30px;
      }
      .info_list{
        .edit{
          float: right;
          padding-left: 30px;
          .change_item{

            padding-right: 5px;
          }
          .delete_data{
            padding-right: 10px;

          }
        }
        tr{
          height: 18px;
        }
      }
      .socialnetwork_connect{
        .socialnetwork{
          width: 100px;
          text-align: center;

          .social_connect{
            display: block;
            text-decoration:none;
            .icon-fb{
              background-image: url("/assets/facebook.png");
              background-repeat: no-repeat;
              background-position: center center;
              display: inline-block;
              height: 33px;
              width: 100%;
            }
            .icon-tw{
              background-image: url("/assets/twitter.png");
              background-repeat: no-repeat;
              background-position: center center;
              display: inline-block;
              height: 33px;
              width: 100%;
            }
            .icon-gp{
              background-image: url("/assets/google.png");
              background-repeat: no-repeat;
              background-position: center center;
              display: inline-block;
              height: 33px;
              width: 100%;
            }


          }
        }
      }
    }
  }
}

#offer_show {
  width: 100%;
  .offer_list {
    width: 100%;

    .offer_content {
      border: 1px solid #88C840;
      margin-top: 0;
      padding: 0;
      .header {
        border: 1px dotted #98fb98;
        height: 20px;
      }
      .header_offer_show_1 {
        background-color: rgba(244, 252, 255, 0.93);
        height: 99%;
        width: 350px;
      }
      .header_offer_show_2 {
        background-color: rgba(244, 252, 255, 0.93);
        height: 99%;
        width: 100%;
        .type_offer_show {
          padding: 0px;
          width: 65px;
          height: 99%;
          float: right;
          font-size: 12px;
          border-width: 0;
          border-radius: 0;
        }
        .time_offer_show {
          padding: 0px;
          width: 65px;
          height: 99%;
          float: right;
          font-size: 12px;
          border-width: 0;
          border-radius: 0;
        }
      }
      .description {
        .description_content {
          width: 350px;
          height: 105px;
        }
        .footer_offer_show {
          background-color: rgba(244, 252, 255, 0.93);
          height: 25px;
          width: 350px;
        }
      }

      .image_content {
        max-width: 180px;
        max-height: 180px;
      }

    }

  }
  td {
    padding: 0;
  }
  .template-upload
    {
    canvas{
      width: 0;
    }
  }
}

//css vi

.footer_merchant{
  display: block;
  width: 100%;
  height: 26px;
  background-color: #F5F5DC;
  .l_f{
    width: 150px;
    display: inline-block;
    .collapse{
      overflow: visible;
    }
    .type_offer{
      height: 26px;
      padding: 0;

    }
    #repeat_time{
      height: 26px;
      padding: 0;
      border-color: green;
    }
    .btn{
      border-radius: 0;
      &:focus{
        outline: thin none #333333;

      }
    }

  }
  .r_f{
    width: 160px;
    float: right;
    display: inline-block;

    .btn-primary {
      display: inline-block;
      background-color: #51A351;
      background-image: -moz-linear-gradient(center top , #51A351, #51A351);
      padding-bottom: 2px; padding-top: 0px; padding-left: 2px;
      &:hover {
        background: -moz-linear-gradient(center bottom , #006400 0%, #006400 100%) repeat scroll 0 0 transparent;
      }
      span{
        padding-left: 12px
      }

    }
    #save_merchant{
      padding-bottom: 0px;
      height: 26px;
      border-width: 0px;
      border-width: 0px;
      border-color: green;

      border-radius: 0;
    }

  }

}






#container_merchant{
  .lb{
    color: #555555;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .text_field{
    width: 154px;
    padding: 7px 6px 6px;
    border: 1px solid #bfccde;
    border-radius: 3px;
    margin-top: 2px;
    -webkit-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    box-shadow: 0 1px 0 white, inset 0 1px 4px rgba(0, 67, 159, 0.2);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    resize: none;
    &:hover{
      border-color: #81a4d5;
      z-index: 22;
    }
    &:focus{
      border-color: #81a4d5;
      -webkit-box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
      -moz-box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
      box-shadow: 0 0 4px rgba(82, 168, 236, 0.5), inset 0 1px 4px rgba(0, 67, 159, 0.2);
      z-index: 22;
    }
    &.disable{
      background: #eee;
      -webkit-box-shadow: 0 1px 0 white;
      -moz-box-shadow: 0 1px 0 white;
      box-shadow: 0 1px 0 white;
      cursor: not-allowed;
    }
  }
  .field_wr {
    &.full{
      width: 100%;
    }
    &.haft{
      width: 50%;
    }
  }
  .textarea_field{

  }
}

.popover{
  width: 260px;

  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

  .popover-title{
    display: none;
  }

  .popover-content{
    .time_picker{
      margin-bottom: 5px;
      font-size: 13px;
      width: 40px;
      height: 20px;
      padding: 1px 3px;
      border-radius: 3px 0 0 3px;

    }
    .last{
      border-radius: 0 3px 3px 0;
    }
    td{
      padding: 0;
      width: 45px;
      .ui-timepicker-list{
        width: 47px;
      }
    }
  }
}

#merchants{
  height: 800px;
  min-width: 980px;
  margin-top: 5px;
  #container{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    #containerLeft{
      height: 100%;
      float: left;
      min-width: 569px;
      max-width: 842px;
      .leftContent{
        #col1{
          float: left;
          width: 185px;
        }
        #col2{
          float: left;
          max-width: 590px;
          min-width: 569px;
          border: 1px solid #cccccc;
          background-color: white;
          #merchant_business{
            width: 100%;
            float: left;
            padding: 8px;
          }
          .merchant_type_offer{
            .type_offer{
              //border-width: 1px;
              //border-color: green;
            }
          }
          .ui-widget
          {
            .repeat_time{
              border-width: 1px;
              border-color: green;
              margin-right: 300px;
            }
          }
          #merchant_action{
            border-top:1px solid #cccccc;
            margin-bottom: 0px;
            background-color: #F5F5F5;
          }
        }

      }
    }
    #containerRight{

      float: right;
      width: 511px;
      height: 100%;

      .rightContent{
        height: 100%;

        .containerMap{
          padding: 3px;
          border: 1px solid #cccccc;
          background-color: #ffffff;
          #map_offers{
            height: 414px;
          }
        }
      }

    }
  }

}
#map_merchants {

  display: none;
  width: 612px;
  height: 280px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}
#detail_merchants{
  width: 100%;
  margin: 0;
  padding: 0;
  .detailed-data{
    width: 100%;
    .field-wrapper{
      float: left;
      width: 240px;
      margin-right: 20px;
      input{
        width: 240px;
      }
      input.half{
        width: 104px;
      }
    }
  }

}
#box_merchant_type{
  position: absolute;
  width: 300px;
  .ui-autocomplete{
    width: 300px;
  }
}
input.input_small{
  border-radius: 0;
  padding: 3px 3px 4px 3px;
  font-size: 11px;
  height: 13px;
  margin-bottom: 3px;
  line-height: 11px;
}
button.input_small{
  border-radius: 0;
  padding: 0px 3px 0px 3px;
  font-size: 11px;

  margin-bottom: 3px;
}
#merchant_create{
  border-radius: 0;
  padding-bottom: 4px;
  padding-top: 3px;
  height: 27px;
}
#business_search{
  margin-bottom: 5px;
}
