#global_container{
    width: 981px;

}
#global_container{
    margin: 0 auto;
    padding: 0;
}
#content{
    width: 980px;
    min-height: 600px;
    margin: 0 auto;
}
.has-left-col #main-container{
    /*border-right: 1px solid #CCCCCC;*/
    min-height: 600px;
}
#main-container{
    width: 100%;
    display: block;
}
.has-left-col #left-col{
    display: block;
    min-height: 600px;
}
#left-col{
    float: left;
    display: none;
    width: 179px;
    padding: 20px 0 0 2px;

}
.has-left-col #content-col {
    border-left: 1px solid #CCCCCC;
    margin-left: 181px;
    min-height: 600px;
}
#content-col #content-col-left{
    float: left;
    margin-right: 20px;
    position: relative;
    width: 378px;
}


#map-wrapper .google-frame {
    border: 1px solid #BFCCDE;
    border-radius: 5px 5px 5px 5px;
}
#container-chat{

}
#container-chat #content-chat{
    background-clip: padding-box;
    background-color: #F2F4F8;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 2px 0 2px -2px #B2B9C9 inset;
    display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 205px;
    z-index: 300;
    margin-bottom: 30px;

}
#container-chat #content-chat.show{
    display: block;
}
#hide-chat{
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 205px;
    z-index: 300;
    height: 30px;
    border-top:1px solid #F2F4F8;
    background-color: #82D23D;
}
#hide-chat span{
    height: 100%;
    display: inline-block;
    color: #000000;
    vertical-align:  middle;

}





@media (min-width: 1185px){
    .home .loggedout_menubar{
        /*padding-right: 205px;*/
    }
    .home #global_container{
        /*padding-right: 205px;*/
    }
    #container-chat #content-chat{
        display: block;
    }
}

/*@media (max-width: 767px) {*/

/*}*/

/*@media (min-width: 1200px) {*/
    /**/
/*}*/

/*@media (min-width: 768px) and (max-width: 979px) {*/
    /*.loggedout_menubar{*/
        /*padding-right: 100px;*/
    /*}*/
/*}*/

@media (min-width: 980px) and (max-width: 1185px) {
    .home .loggedout_menubar{
        padding-right: 0px;
    }
    .home #global_container{
        padding-right: 0px;
    }
    #container-chat #content-chat{
        display: none;
    }
    .leftContent #col1{
      display: none;
    }

}

@media (max-width: 979px) {
    .home .loggedout_menubar{
        padding-right: 0px;
    }
    .leftContent #col1{
        display: none;
    }
}

