/* 
    Document   : style.css
    Created on : May 17, 2012, 11:58:50 AM
    Author     : wf01
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

a{
    cursor: pointer;
}
.fss {
    font-size: 9px;
}
.fsm {
    font-size: 11px;
}
.fsl {
    font-size: 13px;
}
.fsxl {
    font-size: 16px;
}
.fsxxl {
    font-size: 18px;
}
.fwn {
    font-weight: normal;
}
.fwb {
    font-weight: bold;
}
.fcb {
    color: #333333;
}
.fcg {
    color: gray;
}
.post_to_padding{
    padding: 8px 0;
}
#header {
    //background-color: #88C840;
    //background-color: #82D23D;
    height: 82px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.lb_sign_in {
    color: #ffffff;
    font-size: 11px;
    margin-bottom: 3px;
}
.input-login{
    width: 150px;
    height: 14px;
    font-size: 12px;
    margin-bottom: 3px;
}

.lfloat {
    float: left;
}
.rfloat {
    float: right;
}
.dk_logo {

}
.login_bar{
    margin-top: 10px;
}

.color_header{
    color: #FFFFFF;
}
#btn_login{
    height: 22px;
    margin-bottom: 0px;
    padding-top: 2px;
}

.subnav {
    background-color: #EEEEEE;
    background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 36px;
    width: 100%;
}
.subnav .nav {
    margin-bottom: 0;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-radius: 0 0 0 0;
}
.subnav .nav > li:first-child > a, .subnav .nav > li:first-child > a:hover {
    border-left: 0 none;
    border-radius: 4px 0 0 4px;
    padding-left: 12px;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 0px;
    z-index: 1020;
}
.subnav-fixed .nav {
    width: 960px;
    margin: 0 auto;
}
.p_signin_with_social{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #315C99 #AAAAAA #AAAAAA;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: transparent;

}
.p_signin_with_social ul li{
    float: left;
    width: 33.333%;
    overflow: hidden;
    text-align: center;
}
.p_signin_with_social div.title{
    background-color: #A1D216;
    padding: 5px 0px;
    text-align: center;
    border-width: 0 0 1px;
    border-bottom: 1px solid #C6CEDD;
    color: #ffffff;
    
    
}

.offer_content{
    padding: 0 8px;
}
.footer_bg{
    background-image: url("/assets/footer_bg.png");
    height: 37px;
}
.has_left_col #content{
    border-right: 1px solid #CCCCCC;
}

#left_container #left_col,div#content_col {
    min-height: 1024px;
}
#left_col{
    display: block;
}
#left_col{
    float: left;
    padding-left: 2px;
    width: 179px;
    word-wrap: break-word;
}
#right_col{
    float: right;
    margin-top: -10000px;
    padding-right: 0;
    width: 244px;
    word-wrap: break-word;
}
.has_left_col #content_area, .has_right_col #content_area {
    float: left;
    margin-right: 0;
}
.has_left_col #content_area {
    padding: 0 20px;
    width: 759px;
}
.has_right_col #content_area {
    width: 714px;
}
.has_left_col .has_right_col #content_area {
    padding-right: 0;
    width: 493px;
}
.has_left_col .home_wider_content div#content_area {
    padding-left: 18px;
    padding-right: 25px;
    width: 491px;
}
#content_area{

}
.has_left_col #content_col{
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    margin-left: 181px;
}
div#content_col .home_fix_layout{
    padding-top: 5px;
}
div#content_col.home_wider_content{
    padding-left: 0px;
    padding-right: 0px;
}
.has_left_col #right_col{
    padding-top: 20px;
}
.has_right_col #right_col{
    margin-top: 0px;
}

.has_left_col #page_footer {
    margin: auto;
    width: auto;
    background-color: #FFFFFF;
    clear: both;
    margin-left: 180px;
}
#page_footer {
    border-top: 0 none;
}
#page_footer {
    color: #737373;
    font-size: 11px;
    margin: 0 auto;

}
#content_curve {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    font-size: 1px;
    height: 8px;
}
.has_left_col #content_curve {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CCCCCC #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    position: relative;
}
#bottom_content {
    clear: both;
    padding: 0 20px 12px;
}
div#content_col.home_wider_content, .home_wider_content #bottom_content {
    padding-left: 0;
    padding-right: 0;
}
.img_box {
    border: 1px solid #CCCCCC;
    display: inline-block;
}
.img_box:hover {
    border: 1px solid #3B5998;
}
.img_box img{
    display: block;
    margin: 3px;
}
.offer_description{
    margin-left: 155px;
}

.offer_detail_icon{
    width: 20px;
}
.offer_icon{
    width: 24px;
    height: 24px;
    padding: 3px ;
}
.btn-corner-all{
    background-color: #82D23D;
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 2px 0px;
    height: 15px;
    width: 20px;
    display: inline-block;
}
.icon_detail{
    background-image: url("/assets/sprite_icons.png");
    background-size: auto auto;
}
.icon_detail{
    background-position: -15px -65px;
    border: 0 solid;
    border-radius: 0 0 0 0;
    height: 20px;
    margin-left: 6px;

    padding: 0;
    width: 10px;
    display: block;
}
/* css home page */

.span_left{
    float: left;
    width: 714px;
    margin-left: 0px;
}
.span_right{
    width: 226px;
    float: right;
}
/* css home page */

//div with arrow
.triangle-border {
      position:relative;
      padding:8px;
      float: left;
      margin: 0px;
      border:1px solid rgb(200, 200, 200);
      -webkit-box-shadow: 0px -2px 8px -3px #202020;
      -moz-box-shadow: 0px -2px 8px -3px #202020;
      box-shadow: 1px 1px 8px -4px #202020;
      color:#333;
      background: white;
      /* css3 */
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      border-radius:4px;
  }

.triangle-border:before {
    content:"";
    position:absolute;
    bottom:-10px;
    left:30px;
    border-width:10px 10px 0;
    border-style:solid;
    border-color:rgb(150, 150, 150) transparent;
    display:block;
    width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
    content:"";
    position:absolute;
    bottom:-7px;
    left:30px;
    border-width: 10px 10px 0;
    border-style:solid;
    border-color:#fff transparent;
    display:block;
    width:0;
}


/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
    margin-left:8px;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
    margin-right:8px;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
    top:-10px;
    bottom:auto;
    left:auto;
    right:9px;
    border-width:0 10px 10px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
    top:-9px;
    bottom:auto;
    left:auto;
    right:10px;
    border-width:0 9px 9px;
}


/* creates the larger triangle */
.triangle-border.top_left:before {
  top:-10px;
  bottom:auto;
  right:auto;
  left:8px;
  border-width:0 10px 10px;
}

/* creates the smaller  triangle */
.triangle-border.top_left:after {
  top:-9px;
  bottom:auto;
  right:auto;
  left:9px;
  border-width:0 9px 9px;
}
  /* Variant : left
 ------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
    top:7px;
    bottom:auto;
    left:-8px;
    border-width:5px 8px 5px 0;
    border-color:transparent rgb(200, 200, 200);
}

/* creates the smaller  triangle */
.triangle-border.left:after {
    top:8px;
    bottom:auto;
    left:-6px;
    border-width:4px 6px 4px 0;
    border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
    top:7px;
    bottom:auto;
    left:auto;
    right:-8px;
    border-width:5px 0 5px 8px;
    border-color:transparent rgb(200, 200, 200);
}

/* creates the smaller  triangle */
.triangle-border.right:after {
    top:8px;
    bottom:auto;
    left:auto;
    right:-6px;
    border-width:4px 0 4px 6px;
    border-color:transparent #fff;
}