.metro-ui-tab {
  float: left;
  margin: 8px 0px;
  .tab-item {
    &:first-child {
      margin: 4px 0px 4px 0px;
    }
    cursor: pointer;
    font-size: 16px;
    width: 300px;
    height: 56px;
    margin: 4px 0px 4px 16px;
    float: left;
    background: rgb(122, 197, 57);
    a {
      &:hover {
        background: transparent;
      }
      color: black;
      padding: 16px 0px 20px 12px;
    }
  }
  .active {
    background: rgb(122, 197, 57);
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4) inset;
  }
}

.metro-ui-container {
  clear: both;
  border: 1px solid rgba(122, 197, 57, 0.5);
  float: left;
  width: 100%;
  margin: 4px 0px;
  min-height: 128px;
  .tab-pane {
    .header {

    }
    .body {
    }
  }
  #tab\/invitation {
    #tini-header {
      height: 64px;
    }
    #tini-body {
      .tini-unknown {
        float: left;
        width: 632px;
      }
      .tini-known {
        float: left;
        width: 300px;
      }
      .tini-friends {
        width: 300px;
        padding: 12px 0px 12px 0px;
        margin: 0px 16px 0px 0px;
        float: left;
        > img {
          float: left;
          width: 56px;
          height: 56px;
        }
        > div {
          width: 244px;
          float: left;
          .tinif-name {
            margin: 18px 0px 0px 8px;
            font-size: 14px;
            float: left;
            width: 160px;
            overflow: hidden;
          }
          .tinif-button {
            margin: 14px 0px 0px 0px;
            float: right;
          }
        }
      }
    }
  }
}