<div class="modal fade" id="newCity" >
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>New city</h3>
  </div>
  <%= form_for([@country,@city = @country.cities.build]) do |f| %>
    <div class="modal-body">
      <% if @city.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>
          <ul>
            <% @city.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="control-group">
        <%= f.label :name %>
        <%= f.text_field :name ,:class => 'validate'%>
        <span class="city_name help-inline"></span>
      </div>


      <div class="control-group">
        <%= f.label :slug %><br />
        <%= f.text_field :slug ,:class => 'validate' %>
        <span class="city_slug help-inline"></span>
      </div>

      <div class="control-group">
        <%= f.label :state %><br />
        <%= f.text_field :state %>
      </div>

      <div class="control-group">
        <%= f.label :lon %><br />
        <%= f.text_field :lon,:class => 'validate' %>
        <span class="city_lon help-inline"></span>
      </div>

      <div class="control-group">
        <%= f.label :lat %><br />
        <%= f.text_field :lat,:class => 'validate' %>
        <span class="city_lat help-inline"></span>
      </div>


      <div class="control-group">
        <%= f.label :country %><br />
        <%= f.select :country_id, options_from_collection_for_select( Country.all(), "id", "name") ,'data-role'=>'none' %>
      </div>

      <div class="control-group">
        <%= f.label :timezone %><br />
        <%= f.text_field :timezone %>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <input type="submit" id="submit" value="Submit" class="btn btn-primary" />
    </div>

  <% end %>
</div>