<%= javascript_include_tag "validate_form.js" %>
<%=  content_for :jsScript do %>
  <script type="text/javascript">
    $(document).bind("mobileinit", function(){

      //$.mobile.autoInitialize = false;

    });
    $(document).bind('pageinit',function(){
      $('#newCity').modal('hide');

    });
  </script>
<% end %>

<h1>Listing cities</h1>
<a class="btn" data-toggle="modal" data-target="#newCity" >New City</a>
<%= render 'cities/new_form' %>
<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>State</th>
    <th>Country</th>
    <th>Lon</th>
    <th>Lat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td><%= city.slug %></td>
    <td><%= city.state %></td>
    <td><%= city.country ? city.country.name : '' %> </td>
    <td><%= city.lon %></td>
    <td><%= city.lat %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City', new_city_path %>
