<%= javascript_include_tag "validate_form.js" %>
<%= content_for :jsScript do %>
 
<script type="text/javascript">
  $(document).bind('pageinit',function(){

  });
</script>
<% end %>
<script type="text/javascript">

</script>
<h1>New city</h1>

<%= render 'form' %>

<%= link_to 'Back', country_path(@country) %>
