<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <b>Slug:</b>
  <%= @city.slug %>
</p>

<p>
  <b>State:</b>
  <%= @city.state %>
</p>
<p>
  <b>Country:</b>
  <%= @city.country ? @city.country.name : '' %>
</p>
<p>
  <b>Lon:</b>
  <%= @city.lon %>
</p>

<p>
  <b>Lat:</b>
  <%= @city.lat %>
</p>
<p>
  <b>Time zone:</b>
  <%= @city.timezone %>
</p>

<%= link_to 'Edit', edit_country_city_path(@country.id,@city.id) %> |
<%= link_to 'Back', country_path(@country) %>
