<p> <%=  t("users.mail.hello") + @resource.email %>!</p>
<p><%= t("users.mail.title")  %> </p>
<p><%#= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p><%= t("users.mail.description1") %></p>
<p><%= t("users.mail.description2") %></p>
