<div id="chat-system" class="hide">
  <div id="ctl-friends" class="chat-tab">
    <div class="ct-hide">
      <div class="ct-icon"><i class="icon-user"></i></div>
      <div class="ct-title clip-content">Chat</div>
    </div>
    <div id="ctlf-container" class="hide">
      <div class="ct-header">
        <div class="dropup" id="cth-userstatus">
          <div class="cth-status dropdown-toggle" id="cthu-status-symbol" role="button" rel="popover" data-toggle="dropdown"><span class="cs-available"></span></div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="cthu-status-symbol" id="cthl-status">
            <li type="available">
              <span class="cs-available"></span>
              <span class="status-name">Available</span>
            </li>
            <li type="busy">
              <span class="cs-busy"></span>
              <span class="status-name">Busy</span>
            </li>
            <li type="invisible">
              <span class="cs-invisible"></span>
              <span class="status-name">Invisible</span>
            </li>
            <li type="signout">
              <span class="cs-off"></span>
              <span class="status-name">Sign out</span>
            </li>
          </ul>
        </div>
        <div class="ct-title clip-content">List of Friends</div>
      </div>
      <div id="ctlfc-friends">
        <div class="os-scroll antiscroll-wrap">
          <div id="ctlf-ndisplay" class="antiscroll-inner">
            <div id="ctlfc-recents">
              <div class="ctlfc-header">
                <div class="div-bar"></div>
                <div style="">RECENT CHAT<span class="arrow-down"></span></div>
              </div>
              <div class="ctlfc-body">
              </div>
            </div>
            <div id="ctlfc-fonline">
              <div class="ctlfc-header">
                <div class="div-bar"></div>
                <div style="">ONLINE<span class="arrow-down"></span></div>
              </div>
              <div class="ctlfc-body">
              </div>
            </div>
            <div id="ctlfc-offline">
              <div class="ctlfc-header">
                <div class="div-bar"></div>
                <div style="">OFFLINE<span class="arrow-left"></span></div>
              </div>
              <div class="ctlfc-body hide">
              </div>
            </div>
          </div>
          <div id="ctlf-result" class="antiscroll-inner">

          </div>
        </div>
      </div>
      <div class="ct-input">
        <i class="icon-search"></i>
        <input id="ctlf-search"/>
      </div>
    </div>
  </div>
  <div id="cts-show">

  </div>
  <div id="cts-minimize" class="dropup hide">
    <div id="ctsm-lfriends" role="button" rel="popover" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-comment"></i>
      <span>0</span>
    </div>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="ctsm-lfriends">
    </ul>
  </div>
  <audio id="chatsound-noti" preload="auto" src="/assets/notify.mp3" />
</div>