<div style=" display: none;  position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #ffffff; overflow: hidden;">
  <div id="mn-menu">
    <div class="mnm-header">
      <img src="/img/mquy.jpg"/>
      <div>Minh Quy</div>
    </div>
    <div class="mvm-body">
      <div class="mvmb-list">
        <div class="mvmbl-header">
          <div>Application</div>
        </div>
        <div class="mvmbl-items">
          <div class="mvmb-item mvmb-inset">
            <div class="mvmbi-select"></div>
            <a class="mi-noti-friends micon" href="#"></a>
            <div class="mvmbi-title">User Profile</div>
          </div>
          <div class="mvmb-item mvmb" href="">
            <a class="mi-noti-news micon" href="#"></a>
            <div class="mvmbi-title">Chat</div>
          </div>
          <div class="mvmb-item mvmb">
            <a class="mi-noti-message micon" href="#"></a>
            <div class="mvmbi-title">Photo</div>
          </div>
        </div>
      </div>
      <div class="mvmb-list">
        <div class="mvmbl-header">
          <div>Application</div>
        </div>
        <div class="mvmbl-items">
          <div class="mvmb-item mvmb">
            <a class="mi-noti-friends micon" href="#"></a>
            <div class="mvmbi-title">App Center</div>
          </div>
          <div class="mvmb-item mvmb" href="">
            <a class="mi-noti-news micon" href="#"></a>
            <div class="mvmbi-title">Chat</div>
          </div>
          <div class="mvmb-item mvmb">
            <a class="mi-noti-message micon" href="#"></a>
            <div class="mvmbi-title">Photo</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="mts-chat">
  <div class="mt-screen mfullscreen mts-active" id="mts-chatsystem">
    <div class="mnavi-header chromeBar">
      <a class="mi-justify micon" style="position: absolute; right: 12px;" ref="#"></a>
      <a class="mi-goback micon" style="position: absolute; left: 12px;" ref="#"></a>
      <div class="mnhg-notification">
        <a class="mi-noti-friends micon" ref="#"></a>
        <a class="mi-noti-message micon" ref="#"></a>
        <a class="mi-noti-news micon" ref="#"></a>
      </div>
    </div>
    <div class="mts-body">
      <div class="mtsb-tab" id="mtsb-currentchat">
        <div class="mtsb-header">
          <div class="mtsbh-content none-select">
            <div class="mtsbh-arrow mtsbh-arrowdown"></div>
            <div class="mtsbh-title">Current Chat</div>
          </div>
          <div class="mtsbh-seperator"></div>
        </div>
        <div class="mtsb-body">
        </div>
      </div>
      <div class="mtsb-tab" id="mtsb-recentchat">
        <div class="mtsb-header">
          <div class="mtsbh-content none-select">
            <div class="mtsbh-arrow mtsbh-arrowdown"></div>
            <div class="mtsbh-title">Recents Chat</div>
          </div>
          <div class="mtsbh-seperator"></div>
        </div>
        <div class="mtsb-body">
        </div>
      </div>
      <div class="mtsb-tab" id="mtsb-online">
        <div class="mtsb-header">
          <div class="mtsbh-content none-select">
            <div class="mtsbh-arrow mtsbh-arrowdown"></div>
            <div class="mtsbh-title">Who's online</div>
          </div>
          <div class="mtsbh-seperator"></div>
        </div>
        <div class="mtsb-body">
        </div>
      </div>
      <div class="mtsb-tab" id="mtsb-offline">
        <div class="mtsb-header">
          <div class="mtsbh-content none-select">
            <div class="mtsbh-arrow mtsbh-arrowright"></div>
            <div class="mtsbh-title">Who's offline</div>
          </div>
          <div class="mtsbh-seperator"></div>
        </div>
        <div class="mtsb-body hide">
        </div>
      </div>
    </div>
    <div class="mnavi-footer">
      <div class="mui-split-four" type="chats">Chats</div>
      <div class="mui-split-four" type="online">Online</div>
      <div class="mui-split-four" type="all">All</div>
      <div class="mui-split-four" type="setting" id="csvf-setting">Setting</div>
    </div>
  </div>
  <div id="mts-chattabs"></div>
  </div>
</div>