<div id="header">
  <div class="loggedout_menubar_container">
    <div class="container loggedout_menubar">
      <a href="/" class="lfloat" title="Go to deekau home">
        <i class="dk_logo"></i>
      </a>
      <div class="menu_login_container rfloat">
          <%#= render "shared/form_login" %>
      </div>
    </div>
  </div>
</div>


