<!DOCTYPE html>
<html>
  <head>
    <title>Company</title>
    <meta name="viewport" content="initial-scale=1.0">
    <script>
        window.serverip = "<%= request.env['REMOTE_ADDR']%>"
        <% if user_signed_in? %>
        window.user = {}
        window.user['id'] = "<%= current_user.id%>"
        window.user['username'] = "<%= current_user.email%>"
        window.user['ip_address'] = "<%= request.env['REMOTE_ADDR']%>"
        window.user['avatar'] = "/img/mquy.jpg"
        <% end %>
    </script>

    <%= stylesheet_link_tag "application",:media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&key=<%#= GOOGLE_MAP_API_KEY %>"></script>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body class="has-left-col">
    <script type="text/javascript">
        <% if signed_in? -%>
        Company.currentUser = new Company.Models.User(<%= current_user.to_json.html_safe %>);
        <% else -%>
        Company.currentUser = null;
        <% end -%>
    </script>
    <script type="text/javascript">
        I18n.defaultLocale = "<%= I18n.default_locale %>";
        I18n.locale = "<%= I18n.locale %>";
    </script>
    <script type="text/javascript">
        I18n.fallbacks = true;
    </script>
    <div class="deekau">
      <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <% if user_signed_in? %>
    <%= render :partial => "layouts/chat_desktop" %>
    <% end %>
  </body>
</html>