<!DOCTYPE html>
<html>
  <head>
    <title>Company</title>
    <script>
        window.serverip = "<%= request.env['REMOTE_ADDR']%>"
        <% if user_signed_in? %>
        window.user = {}
        window.user['id'] = "<%= current_user.id%>"
        window.user['username'] = "<%= current_user.email%>"
        window.user['ip_address'] = "<%= request.remote_ip%>"
        window.user['avatar'] = "/img/mquy.jpg"
        <% end %>
    </script>

    <%= stylesheet_link_tag "application-mobile", :media => "all" %>
    <%= yield :jsScript %>
    <%= javascript_include_tag "application-mobile" %>
    <!--<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&key=<%#= GOOGLE_MAP_API_KEY %>"></script>-->
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body class="ui-mobile-viewport">
    <script type="text/javascript">
      <% if signed_in? -%>
      Company.currentUser = new Company.Models.User(<%= current_user.to_json.html_safe %>);
      <% else -%>
      Company.currentUser = null;
      <% end -%>
    </script>
    <script type="text/javascript">
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
    </script>
    <script type="text/javascript">
      I18n.fallbacks = true;
    </script>
    <%= yield %>
    <% if user_signed_in? %>
        <%= render :partial => "layouts/chat_mobile", :formats => [:html]  %>
    <% end %>
  </body>
</html>
